*{
	padding: 0;
	margin:0;
	font-family: "微软雅黑";
}
html{
	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
.nopad{
	padding: 0!important;
}
.navbar{
	box-shadow: 0px 5px 10px #747474;
}
.labels1{
	float: left;
}
.buttons,.font{
	margin-top: 45px;
}
.biaodan{
	margin-top: 25px;
	padding-left: 0;
}
.share{	
	background: url(../images/icons.png)0 0;
}
.qqzone{
	background: url(../images/icons.png)0 -52px;
}
.xlwb{
	background: url(../images/icons.png)0 -104px;
}
.qqwb{
	background: url(../images/icons.png)0 -156px;
}
.rrw{
	background: url(../images/icons.png)0 -208px;
}
.yijian{
	background: url(../images/icons.png)0 -260px;
}
.nav li{
	margin-top: 10px;
	margin-right:8px; 
	width: 16px;
	height: 16px;
}
.content{
	margin-top: 50px;
	height: 100%;
}

.head-logo{
    font-size: 24px;
    line-height: 42px;
}
li{
	list-style: none;
}
.font1,.buttons1{
	background-color: #a6a6ff;
}
.radius{
	border-radius: 90px;	
}
.head1{
	font-size: 20px;
}
.labels{
	float: left;
    width: 30%;
}
.inputs{
	float: left;
    width: 70%;
    margin-top: 43px;
}
.inputs input{
	margin-top: 1px;
}
.aside-nav{
    width:  20%;
    height:  100%;
    float:  left;
    margin-top: 50px;
    transition:all 0.5s ease-in;
}
.nav-panel{
    min-height: 80%;
}
.nav-list-group .list-group-item:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #fff;
}
.nav-list-group .list-group-item{
	font-size: 17px;
	cursor: pointer;
}
.sub-list-group .sub-list-group.active{
	display: block;
}
.nav-list-group .sub-list-group{
	display: none;
	font-size: 15px;
	text-align: center;
	border:0;
	margin:1px 0 0;
}
.nav-list-group .sub-list-group:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border:1px solid #fff;
    margin:0 0 -1px;
}
.nav-panel .panel-heading{
	font-size: 18px;
	font-weight: bold;
}
.content-box {
    float: left;
    width: 78%;
    margin-top: 50px;
    padding: 20px 50px;
    border: 1px solid #eee;
    min-height: 84%;
    border-radius: 5px;
}
.content-box .content-box-panel{
	display: none;
}
.content-box .content-box-panel.active{
	display:block;
}
.dataintable td{
	border:1px solid #ddd;
    padding: 10px;
}
.dataintable th{
	border:1px solid #ddd;
	padding: 10px;
	background: #f5f5f5;
}
.html5_new_note{
    background: url(../images/html5_new_note.png) top left no-repeat;
    padding-left: 20px;
}
table.dataintable td.html5_new {
    background: transparent url(../images/html5_new_note.png) right no-repeat;
}
.nav-tool{
	display: none;
	position: fixed;
	left: 0;
	top: 40%;
    width: 25px;
    font-size: 18px;
    border: 1px solid #ddd;
    color: #666;
    padding: 20px 14px;
    text-align: center;
    box-sizing: initial;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    background: #fff;
    cursor: pointer;
    transition:all 0.5s ease-in;
}
@media(max-width: 768px){
	.aside-nav {
	    width: 20%;
	    height: 100%;
	    position: fixed;
	    width: 40%;
	    top: 5px;
	    left: -40%;
	    overflow: hidden;
	    z-index: 1000;
	}
	.content-box{
		width: 100%;
	}
	.nav-tool{
		display: block;
		z-index: 1000;
	}
	.html-biaoqian .dataintable td,.html-biaoqian .dataintable th{
		width: 50%;
	}

}