	*{
		padding: 0;
		margin:0;
		font-family: "微软雅黑";
	}
	a:hover{
		text-decoration: none;
	}
	html{
		width: 100%;
		height: 100%;
	}
	body{
		height: 100%;
		width: 100%;
	}
	.nopad{
		padding: 0!important;
	}
	.navbar{
		box-shadow: 0px 5px 10px #747474;
	}
	.labels1{
		float: left;
	}
	.buttons,.font{
		margin-top: 45px;
	}
	.biaodan{
		margin-top: 25px;
		padding-left: 0;
	}
	.share{	
		background: url(../images/icons.png)0 0;
	}
	.qqzone{
		background: url(../images/icons.png)0 -52px;
	}
	.xlwb{
		background: url(../images/icons.png)0 -104px;
	}
	.qqwb{
		background: url(../images/icons.png)0 -156px;
	}
	.rrw{
		background: url(../images/icons.png)0 -208px;
	}
	.yijian{
		background: url(../images/icons.png)0 -260px;
	}
	.banner{
		margin-top: 50px;
		padding-bottom: 30%;
	    box-shadow: inset 0 0 10px #666;
		background: url(../images/banner.jpg) no-repeat top center/cover ;
	}
	.banner:hover .object-leaf{
		display: block;
	}
	.object-leaf{
		position: absolute;
		display: none;
	}
	.nav li{
		margin-top: 10px;
		margin-right:8px; 
		width: 16px;
		height: 16px;
	}
	.content{
		height: 100%;
	}

	.head-logo{
	    font-size: 24px;
	    line-height: 42px;
	}
	li{
		list-style: none;
	}
	.font1,.buttons1{
		background-color: #a6a6ff;
	}
	.radius{
		border-radius: 90px;	
	}
	.head1{
		font-size: 20px;
	}
	.labels{
		float: left;
	    width: 30%;
	}
	.inputs{
		float: left;
	    width: 70%;
	    margin-top: 43px;
	}
	.inputs input{
		margin-top: 1px;
	}
	.aside-nav{
		display: block;
		left: -40%;
		position: absolute;
	    width:  20%;
	    height:  100%;
	    float:  left;
	    z-index: 1000;
	    transition:all 0.5s ease-in;
	}
	.nav-panel{
	    min-height: 80%;
	}
	.nav-list-group .list-group-item:hover {
	    z-index: 3;
	    color: #fff;
	    background-color: #337ab7;
	    border-color: #fff;
	}
	.nav-list-group .list-group-item{
		font-size: 17px;
		cursor: pointer;
	}
	.sub-list-group .sub-list-group.active{
		display: block;
	}
	.nav-list-group .sub-list-group{
		display: none;
		font-size: 15px;
		text-align: center;
		border:0;
		margin:1px 0 0;
	}
	.nav-list-group .sub-list-group:hover {
	    z-index: 3;
	    color: #fff;
	    background-color: #337ab7;
	    border:1px solid #fff;
	    margin:0 0 -1px;
	}
	.nav-panel .panel-heading{
		font-size: 18px;
		font-weight: bold;
	}
	.content-box {
	    float: right;
	    width: 100%;
	    padding: 0;
	    border: 1px solid #eee;
	    min-height: 84%;
	    border-radius: 5px;
	    transition:all 0.5s ease-out;
	}
	.content-box .content-box-panel{
		display: none;
	}
	.content-box .content-box-panel.active{
		display:block;
	}
	.dataintable td{
		border:1px solid #ddd;
	    padding: 10px;
	}
	.dataintable th{
		border:1px solid #ddd;
		padding: 10px;
		background: #f5f5f5;
	}
	.html5_new_note{
	    background: url(../images/html5_new_note.png) top left no-repeat;
	    padding-left: 20px;
	}
	table.dataintable td.html5_new {
	    background: transparent url(../images/html5_new_note.png) right no-repeat;
	}
	.nav-tool {
	    display: block;
	    position: fixed;
	    left: 0;
	    top: 40%;
	    width: 15px;
	    font-size: 18px;
	    border: 1px solid #ddd;
	    color: #666;
	    padding: 20px 14px;
	    text-align: center;
	    box-sizing: initial;
	    border-radius: 0 10px 10px 0;
	    border-left: 0;
	    background: #fff;
	    cursor: pointer;
	    z-index: 1000;
	    transition: all 0.5s ease-in;
	    box-shadow: 0 2px 10px #666;
	}
	.padimg {
	    margin: 20px 0;
	}
	.swiper-container {
	  width: 100%;
	  height: 100%;
	}
	.swiper-slide {
	  text-align: center;
	  font-size: 18px;
	  background: #fff;
	  width: 100%;
	  height: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  overflow: hidden;
	}
	.swiper-container-vertical>.swiper-pagination-bullets {
	    position: fixed;
	    right: 16px;
	    top: 60%;
	    -webkit-transform: translate3d(0,-50%,0);
	    transform: translate3d(0,-50%,0);
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left:auto;
    right: 10px;
    width: 20px;
}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
		margin: 5px 4px;
	    height: 15px;
	    width: 15px;
	    box-shadow: 0 0 12px 3px #ccc;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{
	    margin: 5px 4px;
	    height: 15px;
	    width: 15px;
	    box-shadow: 0 0 12px 1px #007AFE;
	}
	.swiper-slide1{
		position: relative;
		background: url(../images/bg1_2.png) no-repeat top center/cover fixed;
	}
	.swiper-slide2{
		background: url(../images/bg1_1.png) no-repeat top center/cover;
	}
	.bg_wrap{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
	}
	.intro_wrap {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    background: rgba(0,0,0,0.3);
	    width: 300px;
	    height: 250px;
	    transform: translate(-50%,-50%);
	    border-radius: 10px;
	    padding: 30px;
	    color: #fff;
	    z-index: 1000;
	    box-shadow: 10px 10px 10px #666;
	}
	.goodwords{
		text-align: left;
		margin-top: 20px;
	}
	.jobword{
		margin-top: 20px;
	}
	.my_pic {
	    display: block;
	    margin: 0 auto;
	    border-radius: 50%;
	    width: 200px;
	    height: 200px;
	    text-align: center;
	    overflow: hidden;
	}
	.my_pic img{		
	    width: 100%;
	    margin-top: -30px;
	}
	.my_intro_word {
	    width: 80%;
	    text-indent: 2.4rem;
	    font-size: 16px;
	    text-align: left;
	    margin-top: 20px;
	    margin: 42px auto 0;
	    padding: 30px;
	    border-radius: 10px;
	    background: rgba(255,255,255,0.5);
	    color:#000;
	}
	.my_intro_word span{
		display: block;
		text-indent: 2.4rem;
	}
	.my_intro {
	    width: 80%;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	}
	@media(max-width: 768px){
		.aside-nav {
		    width: 20%;
		    height: 100%;
		    position: fixed;
		    width: 40%;
		    top: 55px;
		    left: -40%;
		    overflow: hidden;	    
		}
		.content-box{
			width: 100%!important;
			padding: 0;
		}
		.padimg img{
			width: 100%;
		}
		.nav-tool{
			display: block;
		}
		.html-biaoqian .dataintable td,.html-biaoqian .dataintable th{
			width: 50%;
		}
		.swiper-slide{
			width: 100%;
		}
		.my_intro_word{
			width: 100%;
		}
	}