	<style>
		*{
			padding: 0;
			margin: 0 auto;
			font-family: 微软雅黑;
		}
		li{
			list-style: none;
		}
		input{
			border:0;
			outline: none;
			text-align:left;
			width: 100%;
			border-radius: 5px 5px 5px 5px;

		}

		body{
			margin:0;
			padding:0;
			background-color: #f4f4f4;
		}
		.container{
			width: 95%;
			margin:0 auto;
		}
		a{
			text-decoration:none;
		}
		a:hover{
			text-decoration:none;
		}
		.header{
			width: 100%;
			text-align: center;
			font-size: 20px;
			color: #fff;
			height: 85px;
			line-height: 85px;
			background: #00b7ee;
			position: absolute;
			position:fixed;
			top:expression(documentElemrnt.scrollTop + "px");
			z-index: 9999;	/*蓝色背景*/
			
		}
		.header a{
		    display: block;
		    height: 100px;
		    text-decoration: none;
		    color: #fff;
		    left: 10px;
		    top: 0px;
		}
		.header-l{
			width:10%;
			line-height: 118px;
		}
		.header-l img{
			width:50%;
			margin-top: -34px;
		}
		.header-l a{
		    display: block;
		    height: 70px;
		    text-decoration: none;
		    color: #fff;
		    position: absolute;
		    left: 10px;
		    top: 0px;
		}
		.header a:hover{
			text-decoration: none;
			color:#fff;
		}
		.shxq{
			width:100%;
		}
		.shxq small{
			font-size: 20px;
			color:#fff;
		}
		.share-1{
			float:right;
			height:20px;
		}
		.share-1 a{
			font-size: 15px;
		}
		.content{
			padding-top: 87px;
		}
		.content-1{
			width:100%;
			background-color: #fff;
			border-bottom: 1px solid #dcdcdc;
			border-top: 1px solid #dcdcdc;
			line-height: 30px;
			margin-bottom: 13px;
			margin-top: 13px;
			padding-bottom: 10px;
		}
		.tuan{
			border-bottom: 1px solid #dcdcdc;
		}
		.tuan p{
			color:#00b7ee;
			margin-top: 10px;
			font-size: 16px;
		}
		.tuan-1 table{
			width:100%;
		}
		.tuan-1 td:last-child{
			margin-left: 20%;
		}
		.content-2 p{
			color:#00b7ee;
			margin-top: 10px;
			font-size: 16px;
		}
		.content-2 span{
			color:#000;
			float:right;
		}
		.panel-collapse{
			text-align: center;
		}
		.list-group{
		}
		.panel-collapse table{
			width:100%;
		}
		.panel-collapse li{
			background-color: #f4f4f4;
		}
		.panel-collapse td{
			width:30%;
		}
		.footer{
			width:100%;
			height:250px;
			background-color: #fff;
			border-bottom: 1px solid #dcdcdc;
			line-height: 40px;
			margin-bottom: 13px;
			text-align: center;
		}
		.footer-1{
			width:100%;
			background-color: #fff;
			border-bottom: 1px solid #dcdcdc;
			line-height: 40px;
			margin-bottom: 13px;
			background-color: #00b7ee;
			border-radius: 50px 50px 50px 50px;
			margin-top: 50px;
			margin-bottom: 20px;
			padding:1% 0 1% 0;
		}
		.footer a{
			color:#fff;
		}
		.panel-group .panel+.panel{
            margin-top: 1px;
        }
        h3{
            margin: 0;
            padding: 0;
        }
        .close_btn{
            position: absolute;
            top: 10px;
            display: block;
            height: 14px;
            line-height: 14px;
            width: 16px;
            text-align: center;
            right: 10px;
            font-size: 23px;
            font-weight:bold; 
            border: 2px solid #1fbdef;
            padding: 4px;
            border-radius: 90px;
            cursor: pointer;
        }
        .layui-m-layercont{
            padding: 0 0 10px 0;
        }
        .layui-m-layerchild h3{
            height: 44px;
        }
        .alert_p{       
            height: 28px;
            line-height: 17px;
        }
        .add_1{
            color:#1fbdef;
            line-height: 11px;
        }
        .footer-1{
            color: #fff;
        }
        .alert_p1{
            font-size: 16px;
        }
		@media(max-width: 750px){
		.tab-p{
			font-size:30px; 
		}
		.tab2-p{
			font-size: 10px;
		}
		.keep a{
			font-size: 10px;
		}
		}

		@media(max-width: 768px){
			.product_img {			
			    padding-bottom: 18%;
			    width: 20%;
			    background: url('../images/order_04_07.png');
			    background-size: cover;
			    margin-top: 18px;
			}
		.top img{width:4%;}
		.tab-p{
			font-size:8px; 
		}
		.tab2-p{
			font-size: 10px;
		}
		.pic img{
			width:50%;
		}
		.go, .goto, .go-5 img{
			width:10%;
		}
		.introduce-5{
			height:40px;
		}
		.search-1 img{
			width:3%;
		}
		}
	</style>