body{
		background:#fff; 
	}
	.content{
		padding-top: 20px;
		background:#f4f4f4; 
		padding-bottom: 88px;
	}
	.content1{
		padding-top: 20px;
		background:#f4f4f4; 
		padding-bottom: 0;
	}
		.header .add_btn{
		    position: absolute;
		    top: 10px;
		    right: 18px;
		    width: 20%;
	}
		.add_btn img{
			width: 73px;
		}
		.payee_name{
			font-size: 20px;
		}
		.payee_name_li{
			position: relative;
		    width: 87%;
		    float: left;
		    height: 50px;
		    line-height: 50px;
		    font-size: 20px;
		    color: #1fbdef;	    
		    border: 1px solid #eee;
		    padding-left: 6%;
		    padding-right: 6%;
		}
		.down_icon{
			position: absolute;
			right: 0;
			top: 9px;
			width: 50px;		
		}
		.down_icon img{
			width: 32px;
		}
		.payee_info{
			display: none;
			float: left;
			width: 88%;
			padding-left: 6%;
		    padding-right: 6%;
		    background:#f4f4f4;
		    color: #282828;
		   	padding-bottom: 20px;
		   	position: relative; 
		}
		.function_word{
			position: absolute;
			right: 10px;
			top: 10px;	
		}
		.function_word span{	
			margin-left: 10px;
		}
		.payee_info_li{
			line-height: 30px;
		    height: 30px;
		    font-size: 18px;
		}
		.payee_info_li span{
			font-size: 18px;
		}
		.edit_word a{
			font-size: 19px;
			color: #1fbdef;
		}
		.delete_word a{
			font-size: 19px;
			color:#ee5d89;	/*red*/
		}
		.payee_list {
		    background: #fff;
		    float: left;
		    width: 100%;
		    padding-bottom: 175px;
		}
		input{
		outline: none;
	}	
		.payee_list_input{
			color:#282828;
			font-size: 14px;
			height: 37px;
			width: 90%;
			border:0;
			text-align: right;
		}
		table{
			border-collapse: collapse;
		}
		.payee_list table{
			width: 100%;
		}
		.payee_list th {
		    width: 45%;
		    text-align: left;
		    padding-left: 5%;
		    font-size: 14px;
		    font-family: normal;
		    color: #1fbdef;
		}
		.payee_list td{	
			padding-right: 5%;
		}
		.payee_list tr{
			border-bottom: 1px solid #e5e5e5;
			height: 40px;
		}
		
		.group_num_li span{
			float: right;
			color: #666;
		}
		.date_list table{
			margin-left: 5%;
			width: 95%;
		}
		.inputs_wrap .last{
			border-bottom: 0;
		}
		.inputs_wrap{
			border-bottom: 1px solid #e5e5e5;
		}
		.date_list th{
			padding-left: 0;
			font-size: 16px;
		}
		.date_list td{
			font-size: 15px;
		}
		.inputs_wrap .black{
			color: #282828;
			font-size: 15px;
		}	
		.submit_btn_wrap1{
			margin-top: 238px;
		}
		.group_num_li {
		    width: 85%;
		    float: left;
		    padding: 9px 9.75% 9px 5.25%;
		    background: #fff;
		    margin-bottom: 10px;
		    font-weight: bold;
		    color: #1fbdef;
		    height: 40px;
		    font-size: 15px;
    		line-height: 40px;
		}
		.group_num_li span{
			float: right;
			color: #666;
		}
		.order_list{
			margin-bottom: 10px;
		}
		.chose_product{
			float: left;    
		    width: 100%;
		    margin-top: 10px;
		    background: #fff;
		    color:#1fbdef;
		}
		.chose_product span{
			float: right;
			color:#1fbdef;
		}
		.chose_product_li{
		    padding:10px 9% 10px 5%;
			width: 86%;
			border-bottom: 1px solid #dcdcdc;
		}
		.product_img{
			margin-top: 20px;
			width: 100%;
			float: left;
			text-align: center;
		}
		.product_img img{
			width: 35%;
		}
		.group_num input{
			width: 100%;
			height: 35px;
			text-align: right;
			border: 0;
			font-size: 15px;
		}
		.list_head{
			font-size: 15px;
			float: left;		
			width: 85%;
			color: #1fbdef;
			padding: 9px 9.75% 9px 5.25%;
			border-bottom: 1px solid #f4f4f4;
		}
		.route_list{
			float: left;
			width: 100%;
			margin-top: 10px;
			background: #fff;
			padding-bottom: 88px;
		}
		.list_table{
			text-align: center;
		    margin: 15px auto 0 auto;
		    width: 94%;
		    border-collapse: separate;
		    font-size: 14px;
		    padding: 2%;
		    border: 1px solid #f4f4f4;
		}
		.list_table th,td{
			padding: 10px 0;
			width: 33.3%;
		}
		.list_table th{
			border-bottom: 1px solid #f4f4f4;
		}
		.list_body{
			float: left;
			width: 100%;
		}
		.y-circle,.p-circle,.r-circle{
			width: 7px;
		    height: 7px;
		    border-radius: 90px;
		    float: left;
		    margin-top: 6px;
		    display: block;
		}
		.y-circle{
			border: 1px solid #ffd37c;
		}
		.p-circle{
			border: 1px solid #bf80b5;
		}
		.r-circle{
			border: 1px solid #f4aaad;
		}
		.txt_right{
			text-align: right;
		}
		.list_table_wd{
			width: 80%;
			margin:0 auto;
		}
		.border_2{
			border:1px solid #f4f4f4;
			border-left: 0;
		}
		.border_1{
			border:1px solid #f4f4f4;
			border-right: 0;
		}
		.choose_btn{
			width: 85px;
		    height: 37px;
		    line-height: 20px;
		    color: #fff;
		    font-size: 15px;
		    background: #00b7ee;
		    text-align: center;
		    border: 0;
		    border-radius: 5px;
		}
		.hotel_address{
			width: 94%;
			height: 30px;
			color: #282828;
			font-size: 15px;
			text-align: right;
			border: 0;
		}
		.upload_btn{
			display: block;
		    padding:0;
		    background: #fff;			
		    position: relative;	    
		    float: left;
		    margin-top: 10px;
		    width: 88%;
		}
		.add_route{
			float: left;
		    width: 95%;
		    font-size: 15px;
		    color: #666;
		    margin-top: 4px;
		    margin-left: 3%;			
		}
		.add_route a{
			font-size: 15px;
			color: #1fbdef;
		}
		.add_route img{
			width: 30px;
		    float: left;
		    margin-right: 10px;
		}
		.upload_btn input{
			opacity: 0;
			position: absolute;
		    left: 20px;
		    top: 0;
		}
		#file_name{
			width: 80%;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.submit_btn_wrap2{
    		margin-top: 19px;
		}