body{
		padding-top:131px; 
	}
		.top-tip{
			    width: 94%;
		    padding-left: 3%;
		    padding-right: 3%;
		    height: 46px;
		    position: fixed;
		    top: 85px;
		    left: 0;
		    z-index: 20;
		    line-height: 15px;
		    background: #f4f4f4;
		    color: #1fbdef;
		    font-size: 13px;
		}
		.content{
			padding-bottom: 88px;
		}
		.top-tip img{		
		    width: 19px;
		    margin-right: 5px;
		    margin-top: 5px;
		}
		.store_li{
			width: 90%;
			border-bottom: 1px solid #f4f4f4;			
			padding: 10px 5%;
			float: left;
		}
		.store_info{
			float: left;
			width: 58%;		
			padding: 1%;
			color: #666;
		}
		.store_name{
			float: left;
		    width: 100%;
		    margin-bottom: 20px;
		    font-size: 16px;
		    color: #282828;
		}
		.speed{
			margin-left: 5px;
		}
		.store_deatil{
			float: left;
			width: 100%;
			font-size: 14px;
			margin-bottom: 10px;
		}
		.store_li_fun{
			width: 40%;
			float: left;
		}
		.money_sign,.speed_li,.store_status{
			float: left;
			width: 100%;
			font-size: 14px;
			text-align: right;
			margin-top: 5px;
		}
		.money_sign{
			color: #fcdc06;
		}
		.store_status{
			color: #1fbdef;
		}
		.store_status img{
			width: 23px;
		}