	.head_logo {
	    float: left;
	    height: 51px;
	    margin-top: 9px;
	    line-height: 37px;
	    font-weight: bold;
	}
	.head_nav li:hover{
		color: #fff;
	}
	.pc_hide{
		display: none;
	}
	.head_logo img{
		width: 58px;
		float: left;
	}
	.head_logo div {
	    float: left;
	    color: #0037ff;
	    height: 51px;
	    margin-left: 10px;
	    line-height: 51px;
	}
	.head_nav a li{
		color: #fff;
	}
	.banner_logo{
		width: 100%;
		text-align: center;
	    margin-bottom: 20px;
	}
	.banner2 {
	    padding-top: 200px;
	    height: 600px;
	    background: #00ccff;
	}
	.banner2_wrap{
		float: left;
		width: 100%;
		height: 500px;
	}
	.minsu_summary{
		display: none;
	}
	.navbar{
		border-bottom: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 0;
	    width: 86%;
	}
	.minsu_summary{
	    padding-top: 30px;
	    padding-bottom: 30px;
	    background: #ffe7e7;
	    background-color: #ffeef0;
	}
	.summary_li_wrap {
	    float: left;
	    width: 25%;
	    margin-top: 10px;
	    margin-bottom: 8px;
	}
	.summary_li {
	    margin: 0 auto;
	    width: 60px;
	    height: 60px;
	    border-radius: 90px;
	    color: #fff;
	    font-size: 20px;
	    text-align: center;
	    line-height: 22px;
	    padding: 8px 4px;
	    box-sizing: border-box;
	}
	.summary_li1{
		background:#c9a008; 
	}
	.summary_li2{
		background: #0bbd43;
	}
	.summary_li3{
		background: #fe6369;
	}
	.summary_li4{
		background: #b36fd2;
	}
	.summary_li5{
		background: #806dd6;
	}
	.summary_li6{
		background: #e88d61;
	}
	.summary_li7{
		background: #e380c3;
	}
	.summary_li8{
		background: #28abdf;
		line-height: 44px;
	}
	.article_head {
	    text-align: center;
	    margin-bottom: 40px;
	    margin-top: 10px;
	}
	.line_wrap {
	    width: 60%;
	    margin: 0 auto;
	}
	.de_line {
	    float: left;
	    border-bottom: 1px solid #000;
	    width: 25%;
	    margin-top: 14px;
	}
	.img_big{
		float: right;
    	width: 60%;
	}
	.img_small {
	    float: left;
	    width: 39%;
	    margin-bottom: 5px;
	    margin-right: 1%;
	}
	.img_small img{
	    height: 220px;
	}
	.img_big img {
	    height: 449px;
	}
	.article_detail{
    	color:#939393;
    	display: none;
	}
	.article_title{
    	font-size:  20px;
	}
	.article_title img {
	    width: 470px;
	}
	.look_more {
    width: 75px;
    position: relative;
    margin: 0px auto 20px;
    text-align: center;
    height: 10px;
    padding: 20px 10px;
    line-height: 10px;
}
	.look_more_wrap {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.special_house {
    background: #f2f2f2;
    padding: 10px 0 50px;
    margin-top: 0px;
}
.special_house_ul li {
    width: 23%;
    margin: 0 1%;
    float: left;
    height: 145px;
}

.img_big1 {
    width: 65%;
    margin: 0.5%;
    float: left;
    height: 270px;
}
.img_small1 {
    width: 32%;
    margin: 0.5%;
    float: left;
    height: 270px;
}
.recommend_img{
	height: 100%;
}
.recommend_img1 img {
    width: 100%;
    height: 270px;
}
.money_sign1 {
    color: #03f23e;
    font-size: 12px;
}
.money_word{
	float: right;
	font-size: 18px;
	color: #03f23e;
}
.made_trip{
	width: 100%;
	height: 400px;
	background: url("../images/dingzhi_banner.png");
	background-size:cover; 
}
.discount {
    margin-bottom: 30px;
    margin-top: 30px;
}
.made_trip_title{
	text-align: center;
    margin-top: 100px;
    float: left;
    width: 100%;
}
.made_trip p {
    text-align: center;
    margin-top: 34px;
    float: left;
    width: 100%;
}
.spot {
    margin-top: 30px;
}
.food_ul li {
    width: 50%;
    float: left;
    margin-top: -4px;
}
.food_title{
	background: rgba(255,255,255,0.5);
    line-height: 18px;
}
.food_title a{
	color: #424242;
}
.food_sub_title {
    color: #666;
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.food_ul{
    float: left;
    width: 100%;
}
.movie_ul li{
	width: 50%;
	float: left;
}
.group_title{
	line-height: 18px;
}
.group_title p {
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    float: left;
}
.group_title p span{
	color: #fff;
}
.tri_border{
    position: absolute;
    left: 13px;
    top: -8px;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
}
.recommend {
    margin-top: 20px;
}

@media(max-width: 890px){
	.minsu_summary{
		display: block;
	}
	.banner_logo img {
     width: 66%; 
	}
	.condition_select{
		display: none;
	}
	.img_big img{
		height: auto;
	}
	.img_big,.img_small,.img_big1,.img_small1{
		width: 100%;
	}
	
	.banner2 {
	    padding-top: 74px;
	    height: 200px;
	    background: #00ccff;
	}
	.recommend_img img{
		height: auto;
	}
	.special_house_ul li {
	    width: 49%;
	    margin: 0 0.5%;
	    float: left;
	}
	.pc_hide{
		display: block;
	}
	.food_ul li{
		width: 100%;
		height: auto;
    	margin-bottom: 12px;
	}
	.movie_ul li{
		width: 100%;
	}
	.recommend_ul .group_li{
		width: 49%;
		margin: 0 0.5%;
	}
	.recommend_title {
	    width: 100%;
	    padding: 1% 0;
	}
	.function_li{
		margin-left: 0;
	}
	.article_title img{
		width: 100%;
	}
	.article_head_wrap {
	    width: 100%;
	}
	.article_head {
	    margin-bottom: 20px;
	    margin-top: 0;
	}
	.special_house {
	    padding: 10px 0 20px;
	}
	.look_more_wrap {
	    margin-top: -5px;
	}
	.food_ul li:last-child{
		margin-bottom: 0;
	}
}