.sider_nav1,.sider_nav{
			float: left;
			margin-bottom: 13px;
		}
		.sider_nav,.sider_nav1{
			border: 1px solid #ddd;
			float: left;
			width: 100%;
		    border-radius: 2px;
		}	
		.sidernav_box{
			width: 13%;
			float: left;
		}
		.b2c3_add{
			width: 96.5%;
			float: left;
			border: 1px solid #ddd;
			background: #fff;
		    border-radius: 2px;
		    padding: 14px 20px;
		}    
		.b2c3_table1{
			min-height: 400px;
		}