*{
			padding: 0;
			margin: 0;
			font-family: 微软雅黑;
		}
		a{
			color: #0066cc;
		}
		a,a:hover{
			text-decoration: none;
			
		}
		img {
		    vertical-align: middle;
		}
		li{
			list-style: none;
		}
		input{
			outline: none;
		}
		body{
			background: #f5f5f5;
		}
		button{
			border:0;
		}
		.clearfix:after{
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		}
		.clearfix{
		*+height: 1%;//清除IE高问题
		}

		table{
			width: 100%;
			border-collapse: collapse;	/*可以解决tr没有border-bottom问题*/
		}
		.header{
			width: 3.5%;
			height: 50px;
			line-height: 50px;
			background: linear-gradient(#485063,#363b49);
			display: table-cell; /*垂直居中显示*/
            vertical-align: middle;
		}
		.head_logo{
			float:left;
			margin-left: 20px;
		}	
		.navbar{
			padding-left: 20px;
		}
		.navbar_li{
		    float: left;
		    width: 66px;
		    height: 29px;
		    border-radius: 2px 2px 0 0;
		    background: #555;
		    color: #fff;
		    border: 1px solid #58606e;
    		border-bottom: none;
    		background-color: #565f6e;
		    line-height: 29px;
		    margin-top: 20px;
		    margin-right: 3px;
		    vertical-align: bottom;
		    text-align: center;
		    cursor:pointer;
		}
		.navbar-nav{
			float: right;
			height: 29px;
			line-height: 29px;
			font-size: 12px;
			color: #fff;
			padding-top: 18px;
		}
		.nav_li a{
			color: #c8c8c8;
		}
		.nav_li a:hover{
			color: #fff;
		}
		.nav_li{
		    float: left;
		    height: 13px;
		    line-height: 13px;
		    padding-left: 10px;
		    padding-right: 10px;
		    border-right: 1px solid #c8c8c8;
		}
		.nav_li_last{
			float: left;
			border:0;
		}
	.active,.active:hover{
			background: #fff;
			color: #000;
    		font-weight: 800;
		}
		.content{
			width: 99%;
			float: left;
			margin: 0 0.5%;
		}
		.box{
			margin-top: 10px;
			width: 100%;
		    background: #fff;	   
		}
		.sidernav_box{
			width: 13%;
			float: left;
		}
		.sider_nav,.sider_nav1{
			border: 1px solid #ddd;
			float: left;
			width: 100%;
		    border-radius: 2px;
		}	
		.sider_li{
			margin: 0;
    		padding: 0 20px;
			height: 30px;
			font-size: 11px;
   			line-height: 30px;		
   			background: #fff;
   			transition:all 0.5s ease;
		}
		.sider_li:hover{
			background-color: #F6F6FB;		
		}
		.sider_head{
			background: linear-gradient(#fff,#f4f4f4);
			border-bottom: solid 1px #ccc;
    		font-size: 13px;
    		font-weight: bold;
		}
		.sidernav_box a{
			color: #000;
		}
		.active1,.active1:hover{
			font-size: 13px;
			font-weight: bold;
			background-color: #78849C;
			color: #fff;
		}
		.active1 a{
			color: #fff;
		}
		.content_box{
			width: 85%;
		    float: right;
		    margin-left: 1%;
		    font-size: 13px;					
		}
		.box1_content{
			width: 100%;
			float: left;
		}
		.sider_nav,.sider_nav1{
			float: left;
			margin-bottom: 13px;
		}
		.location{
			width: 113%;
			height: 30px;
			line-height: 30px;
			padding: 0 20px;
			font-size: 13px;
			border: 1px solid #ddd;
		    margin-bottom: 12px;
		    background-color: #fafafa;
		    border-bottom: solid 1px #ccc;
		    background: linear-gradient(#fff,#f4f4f4);
		}
		.copyright{
			float: left;
			width: 100%;
			text-align: center;
			margin-top: 12px;
    		padding: 20px;
			font-size: 10px;
			color:#a1a1a1; 
		}
		.copyright a{
			color:#a1a1a1; 
		}
		.product_header{
			width: 100%;
			padding: 14px 20px;
			background: #fff;
		}
		.search{
		    box-shadow: 0px 0px 10px #eee inset;
		    padding: 2px 4px;
		    width: 281px;
		    height: 25px;
		    border: 1px solid #ccc;
		    border-radius: 2px;
		    margin-right: 2px;
		    margin-left: 4px;
		    vertical-align: middle;
		}
		select{
			height: 30px;
		    line-height: 30px;
		    vertical-align: middle;
		}
		.search_btn,.comment_btn{		
		    border: none;
		    text-align: center;
		    margin-right: 10px;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 2px;
		    width: 79px;
		    color: #888;
		    font-size: 14px;
		    background: #ff7f00;
		    cursor: pointer;
		    color: #fff;
		    vertical-align: middle;
		}
		.search_btn:hover,.comment_btn:hover{
			background: #fea310;
		}
		.product_content{
			background: #fff;
			padding-bottom: 130px;
		}
		.product_list th,.product_list td{ 
		    padding: 10px;
		    text-align: left;
		    word-break: break-all;
		    font-size: 12px;
		    border-right: 1px solid #ddd;/*word-wrap:break-word;只会把超过部分换行，word-break:break-all;所有空白都填满，无论单词多少而white-space:nowrap只在一行显示*/
		}
		.product_list td{
			background: #fff;
		}
		.product_list tr{
			border-bottom: 1px solid #ddd;
		}
		.product_list thead{
			border:1px solid #ddd;
			background: #f5f5f5;
		}
		.product_number{
			box-shadow: 0px 0px 10px #eee inset;
		    padding: 2px 4px;
		    width: 53px;
		    height: 25px;
		    border: 1px solid #ccc;
		    border-radius: 2px;
		    margin-right: 2px;
		    margin-left: 4px;
		    vertical-align: middle;	
		}
		.operation_li{
			float: left;
			border-right: 1px solid #000;
			padding: 0 5px;
		}
		.recommend_btn{
		    background: #f60;
		    color: #fff;
		    display: inline-block;
		    padding: 1px 5px;
		    border-radius: 2px;
		    margin-left: 7px;
		}
		.action_btn:hover {
		    color: #555;
		}
		.action_btn {
		    display: inline-block;
		    border: 1px solid #ddd;
		    border-radius: 2px;
		    text-align: center;
		    margin-right: 10px;
		    height: 30px;
		    line-height: 30px;
		    width: 79px;
		   	border-radius: 2px;
		    font-size: 14px;	  
		    cursor: pointer;
		    vertical-align: middle;
		}
		.bottom_nav{
			padding-left: 10px;
			margin-top: 10px;
		}
		.delete_btn{
		    color: #888;
			background:#f9f9f9; 
		}
		.rank_btn{
			background: #ff7600;
			color: #fff;
		}
		.rank_btn:hover{
			background: #fca410;
			color: #fff;
		}
		.record{
			float: right;
			color:#000;
			font-size:12px;
			margin-right: 10px;
		}
		.record_num{
			float: left;
		}
		.ui_btn{
			width: 74px;
			height: 30px;
			background: linear-gradient(#fff,#f4f4f4);
		    padding: 3px 12px;
		    border: 1px solid #A8ADB6;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 12px;
		    border-radius: 2px;
		    overflow: visible;
		    color: #888;
		    line-height: 16px;
		}
		.ui_btn:hover{
			background: linear-gradient(#fff,#ddd); /*往下是默认渐变方向*/
			color: #555;
		}
		.info_input{
			width: 161px;
			height: 25px;	
			box-shadow: 0px 0px 10px #eee inset;
			padding: 2px 4px;
			border: 1px solid #ccc;
			border-radius: 2px;
		}
		.tip{
			color: #999;
			font-size: 12px;
		}
		.ui-datepicker .ui-datepicker-header {
	    background: linear-gradient(to right,#fff,#ff9000,#fff);
	}
	.product_rank{
		width: 161px;
	}
	.date_input {
	    background: url('../images/datePicker.gif') no-repeat 149px 6px;
	}
	.product_list th{
		color: #666666;
	}
	.product_list b{
		color: #ff0000;
	}