*{
	margin:0;
	padding:0;
	font-family: 微软雅黑;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	font-family: 微软雅黑;
	color: #fff;
}
a:focus{
	color: #7c6d05;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	outline:none;
	border-radius:3px;
}
li{
	list-style: none;
}
h3{
	margin: 0;
}
body{
	background:url(../images/background.png); 
	background-size: cover;
}
.nav-tabs .active1{
	background: #5b5b5b;
	color: #fff;
}
.nav-tabs .active1:hover{
	color: #fff;
}
.clearfix:after{
content: ".";
display: block;
visibility: hidden;
clear: both;
height: 0;
}
.clearfix{
*+height: 1%;//清除IE高问题
}
.back{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}
.back:hover a{
	color: #fff;
}
.glyphicon-menu-left{
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-left: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: 0;
	background-color:#ee8310;  
	padding-right: 24px;
    color: #fff;
    font-size: 20px;
}
.nav-tabs{
	width: 100%;
	height: 50px;
	float: left;
	background:#fbf0a4; 
	border-bottom: 0;
}
.nav-tabs li{
	width: 100%;
	background: rgba(237,120,0,0.9);
	text-align: center;
}
.nav>li>a{
	line-height: 50px;
	padding: 0;
}
.nav_personal{
	border-left: 0px;
}
.nav-tabs>li>a {
	font-size: 20px;
    border: 0;
    border-radius: 0px;
}
.for_more{
	color: #5b5b5b;
	font-size: 15px;
	margin-left: 20px;
}
.order{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}
.form_item{
	float: left;
	width: 100%;
	height: 50px;
	padding:5px;
	padding-left: 126px;
	border: 1px solid #fdf7d0;
	color: #ff8000;
	font-size: 15px;
	position: relative;
}
#date{
	padding-right: 10px;
}
.ui-widget-header{
	background: #f3b148;
}
.labels{
	position: absolute;
    left: 10px;
    z-index: 10;
   	color: #ff8000;
	font-size: 15px;
	height: 50px;
    line-height: 50px;
	width: 110px;
	text-align: center;
	margin-bottom: 0;
	border-right: 1px solid  #fdf7d0;
}
#end_time,#start_time{
	padding-top: 15px;
	padding-right: 80%;
}
.huiyishi_label{
	top: 50px;
}
.date_label{
	top:100px;
}
.startt_label{
	top:150px;
}
.endt_label{
	top:200px;
}
.host_label{
	top:250px;
}
.join_label{
	top:300px;
}
.number_label{
	top:350px;
}
.dd_overlay .dd_dropdown{
	left: 11%;
}
.join_ul{
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #fdf7d0;
	padding-left: 126px;
	background: #fff;
}
.join_ul li{
	float: left;
	margin-right: 10px;
}
.topic_label{
	top: 399px;;
	left: 0;
	width: 55px;
	height:400px;
	border: 1px solid #f7de33; 
	background: #faeb83;
	font-size: 30px;
	padding: 10px;
	text-align: center;
}
#title{
	width: 100%;
	height: 400px;
	padding: 10px;
	padding-left: 57px;
	box-shadow: 0px 4px 10px #747474;
}
.submit{
	width: 100%;
	float: left;
	margin-top: 20px;
}
#submit{
	font-size: 20px;
	font-weight: bold;
	color: #8d7c05;
	display: block;
	width: 30%;
	height: 40px;
	margin:0 auto;
	border: 1px solid #666;
	box-shadow: 3px 3px 10px #747474;
	background: #faea7a;
}
.myinfo{
	height: 600px;
	float: left;
	width: 20%;
	border:1px solid #747474;
	text-align: center;
	padding:10px;
	padding-left: 0;
	padding-right: 0;
}
.my_head{
	border-radius: 90px;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border: 1px solid #747474;
	box-shadow: 1px 1px 10px #747474;
	padding:6px;
	padding-top: 12px;	
	margin:0 auto;
}
.usernamep{
	margin-top:20px; 
	float: left;
	width: 100%;
	color: #fff;
	text-align: center;
}
.usernamep a{
	margin-right: 20px;
	color: #fff;
}
.glyphicon-pencil{
	display: block;
	float: right;
	width: 25%;
}
.name{			
	float: left;
    width: 57%;
    margin-left: 8%;
}
.myinfo_tab{
	float: left;
	margin-top: 20px;
}
.myinfo_tab li{
	height:40px;
	line-height: 40px; 
	width:100%;
	font-size: 15px;
	border:1px solid #e8cc09;
	border-left: 0;
	border-right: 0;
	background: #f9e764;
}
.myinfo_tab li a{
	color: #fff;
}
.my_activity{
	float: right;
	width: 80%;
	min-height: 600px;
	border: 1px solid #747474; 
}
.nav-tabs li{
	background: rgba(237,120,0,0.9);
}
.nav_order{
	border-right:0px;
}
.ui-accordion-header-icon{
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}
.personal{
	background: rgba(255,255,255,0.2);
}
.meeting{
	float: left;
    width: 100%;
    height: auto;
    line-height: 30px;
    border: 2px solid #fdf7d0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    background: #fff;
    padding: 5px 0px 0 0px;
}
.meeting_head{
	color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.delete_meeting{
	font-size: 15px;
	float: right;	
}
.delete_meeting a{
	color: #5b5b5b;
}
.delete_meeting a:hover{
	color:#000;
}
.meeting_title{
	margin:0 10px 0 10px;
	font-size: 18px;
	color: #5b5b5b;
}
.meeting_state{
	float: right;
    margin-top: -6px;
    margin-right: -10px;
}
.meeting_more{
	display: none;
	float: left;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #fdf7d0;
    border-radius: 0 0 5px 5px;
    background: #fff;
    overflow: hidden;
    transition: all 0.7s ease-out;
}
#accordion-resizer {
padding: 10px;
width: 350px;
height: 500px;
}
.modal-header{
	position: relative;
}
.close-modal{
	position: absolute;
	right: -7px;
    top: -8px;
	background-image: url('../images/icons.png');
    background-position: left -160px;
    width: 50px;
    height: 47px;
    opacity: 1;
}
.close:hover{
	opacity: 1;
}
.modal-content{
	background: #fffdec;
}
.modal-content h1{
	font-size: 20px;
	text-align: center;
}
.modal-content p{
	font-size: 15px;
	float: left;
}
.modal-header{
	padding:10px;
	background: #ed7800;
}
.form-group input{
	margin-left: 20px;
}
.labels_group{
	width: 15%;
	float: left;
	text-align: right;
	padding-right: 5px;
}
.inputs_group{
	width: 85%;
	float: right;
}
.labels_group label{
	margin-bottom: 12px;
	height: 32px;
	line-height: 32px;
}
.inputs_group input{
	margin-bottom: 10px;
}
#al-submit{
	width: 100px;
	height: 40px;
	background: #ed7800;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
}
.submit1_bar{
	width: 100%;
	text-align: center;
}
@media (max-width: 768px){
	#end_time,#start_time{
		padding-right: 40%;
	}
	.topic_label,#title{
		height: 200px;
	}
	.topic_label{
		font-size: 24px;
	}
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	.myinfo{
		width: 100%;
		height: 262px;
	}
	.my_activity {
    width: 100%;
    min-height: 300px;
	}
	.labels_group {
    width: 26%;
	}
	.inputs_group{
		width: 70%;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    padding-right: 0px;
	}
}

