	*{
	   		padding:0;
	   		margin:0;
	   		font-family: 微软雅黑;
	   	}
	   	body{
	   		background: url(../images/background.png);
	   		background-size: cover;
	   	}
	   	a:hover{
	   		text-decoration: none;
	   	}
	   	a:focus{
			color: #7c6d05;
			text-decoration: none;
		}
	   	a{
	   		color: #fff;
	   		font-family: 微软雅黑;
	   	}
   		li{
   			list-style: none;
   		}
   		.index_head{
   			width: 100%;
   			float: left;
   		}
   		.nav_tab{
   			width: 100%;
   			float: left;
   		}
		.nav_tab_li{
			float: left;
			height: 50px;
			width: 50%;
			line-height: 50px;
			text-align: center;
			font-size: 20px;
			background: #ee8310;
		}
		.nav_tab_li:hover{
			background: #eeeeee;
		}	
		.nav_tab_li:hover a{
			color: #000;
		}
		.active{
			background: #5b5b5b;
			color: #fff;
		}
		.active:hover{
			background: #5b5b5b;
		}
		.active:hover a{
			color: #fff;
		}
		.meeting_cover{
			display: none;
			background: rgba(0,0,0,0.8);
			width: 100%;
			height: 100%;
			position:fixed;
			z-index: 19;
		}
		.meeting_name{
			font-size: 20px;
			text-align: center;
			margin:0;
			height: 40px;
			line-height: 40px;
			color: #fff;
		}
		.meeting_head{
			width: 100%;
			background: #ff9d00;
			position: relative;
		}
		.meeting_close {
		    position: absolute;
		    top: 4px;
		    right: 3px;
		    border-radius: 90px;
		    border: 2px solid #fff;
		    width: 24px;
		    height: 24px;
		    font-size: 20px;
		    font-weight: bold;
		    text-align: center;
		    line-height: 18px;
		    color: #fff;
		    cursor: pointer;
		    transition:all 1s ease;
		}
		.glyphicon-time{
			margin-right: 10px;
		}
		.meeting_alert{
			border: 5px solid #ff9000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
			width: 500px;
  			height: 500px;
			background: #fff;		
			box-shadow: 2px 2px 2px #747474;
			z-index: 20;
		}
		.order_meeting{
		    width: 30%;
		    position: absolute;
		    bottom: 14px;
		    left: 36%;
		    height: 30px;
		    line-height: 30px;
		    text-align: center;
		    background: #ff9d00;
		    transition: all 0.3s ease;
		}
		.order_meeting:hover{
			box-shadow: 0px 0px 10px 3px #ff9d00;
		}
		.order_meeting a:hover{
				color: #fff;
		}
		.meeting_time_li,.meeting_item{
			font-size: 15px;
			border-bottom: 1px solid #ffc473;
		}
		.size_number{
			font-size: 15px;
		}
		.meeting_item{
			font-size: 18px;
		}
		.meeting_info{
			padding: 20px;
		}
		.meeting_list{
			float: left;
			width: 100%;
		}
		.list-group-item{		
			height: 100px;
			line-height: 80px;
			background-color: rgba(255,255,255,0.1);
			color: #cdcdcd;
		}
		.list-group-item:hover{
			color: #fff;
		}
		.list-img{
			position: relative;
			width: 80px;
			height: 60px;
			float: left;
			margin-right: 20px;
		}
		.badge{
			position: absolute;
		    right: -10px;
		    top: -5px;
		    background: #ff9000;
		}
		.glyphicon-chevron-right{
			display: block;
			float: right;
			font-size: 20px;
			height: 80px;
			line-height: 80px;
		}
		input{
			outline: none;
		}
		.change a{
			color: #000;
		}
		.change:hover a{
			color: #000;
		}
		.denglu_wrap,.zhuce_wrap{
			display: none;
		    width: 250px;
		    padding: 20px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    border-radius: 4px;
		    border: 1px solid #acacac;
		    z-index: 10;
		    box-shadow: 2px 2px 4px #747474;
		    background: rgba(255,255,255,0.8);
		}	
		.zhuce_wrap{
			width: 300px;
		}	
		.dl_head,.zhuce_head{
			position: relative;
		    font-size: 20px;
		    text-align: center;
		    font-weight: 600;
		}
		.close{
			background-image: url('../images/icons.png');
		    background-position: left -160px;
		    width: 50px;
		    height: 47px;
		    opacity: 1;
		}
		.close:hover{
			opacity: 1;
		}
		.dl_head{
			position: relative;
			font-size: 20px;
			text-align: center;
		}
		.close1{
			position: absolute;
			right: -7px;
		    top: -8px;
		}
		.close2{
			position: absolute;
			right: -7px;
		    top: -8px;
		}
		.glyphicon-user,.glyphicon-lock,.glyphicon-flag{
			margin-right: -20px;
			font-size: 15px;
			color: #ff9d00;
		}
		.row{
			text-align: center;
			background: #fff;
		}
		#username,#realname,#zc_username,#zc_password,#zc_zhanghao,#con_password{
			margin-bottom: 10px;
		}
		#password,#part,#username,#realname,#zc_password,#zc_username,#zc_zhanghao,#con_password{
			padding-left: 20px;
		    width: 189px;
		    padding-top: 1px;
		    height: 39px;
		    border: 0;
		    box-shadow: 0 0 1px #747474;
		}
		#username{
			color: #000;
		}
		.part{
			margin-left: -19px;
		}
		.change{
			color: #000;
			margin-top: 10px;
			float: right;
		}
		#zhuce,#denglu{
			text-align: center;
			margin-top: 20px;
			width: 90px;
			height: 30px;
			background: #ff9d00;
			border-radius: 50px;		
		}
		.denglubtn,.zhucebtn{
			float: left;
			text-align: center;
			width: 100%;
			margin:0 auto;
		}
		#username{
			color: #000;
		}