	<style>

		*{
			padding: 0;
			margin: 0 auto;
			font-family: 微软雅黑;
		}
		li{
			list-style: none;
		}
		input{
			border:0;
			outline: none;
			text-align:right;
			width: 100%;
		}
		.container{
			width: 95%;
			margin:0 auto;
		}
		a:focus{
			text-decoration:none;
		}
		.header{
			width: 100%;
			text-align: center;
			font-size: 20px;
			color: #fff;
			line-height: 85px;
			background: #00b7ee;	/*蓝色背景*/
			position: absolute;
			position:fixed;
			top:0;
			z-index: 9999;
		}
		.header a{
		    display: block;
		    height: 100px;
		    text-decoration: none;
		    color: #fff;
		    left: 10px;
		    top: 0px;
		}
		.header-l{
			width:10%;
		}
		
		.header a:hover{
			text-decoration: none;
			color:#fff;
		}
		.drop a{

		}
		.header-m{
			text-align: center;
		}
		.search_input{
			width: 100%;
			height: 40px;
			border-radius: 4px;
			background-image: url('../images/search1.png');
			background-color: #fff;
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 3px 5px;
			text-align: left;
			padding-left: 40px;
			color: #000;
			font-size: 16px;
		}
		.search_bar{
			position: relative;
		    width: 65%;
		    margin: 0 auto;
		    height: 85px;
		    line-height: 85px;
		}
		.search_word a{
			color: #1fbdef;
		}
		.search_word{
		    position: absolute;
		    top: 3px;
		    right: 23%;
		    color: #00b7ee;
		    font-size: 16px;
		    margin-left:-10%;
		}

		.header-r{
			width:13%;
			margin: -85px 0 0 60%;
		}
		.header-r img{
			width:70%;
		}
		.header-r a{
			
		}
		.top{
			width:100%;
			height:100px;
			background-color: rgba(255,255,255,0.99);
			line-height: 70px;
			text-align: center;
			padding-top: 130px;
		}
		.top a{
			text-decoration: none;
			color: #1fbdef;
		}
		.tab-p{
		    font-size: 40px;
		    letter-spacing: 1px;
		    margin-top: -60px;   
		}
		.top a:hover{
			text-decoration: none;
			color:#1fbdef;
		}
		.top span{
			font-size: 30%;
		}
		.banner{
			
		}
		.lbt img{
			width:100%;
		}
		.tab2-p{
			font-size: 40px;
		}
		.list{
			text-align: center;
			border-bottom: 1px solid #dcdcdc;
		}
		.list li{
			float:left;
			width:33%;
			padding:22px 22px 22px 22px;
			
		}
		.list a{
			color:#000;
			text-decoration: none;
			font-size: 100%;
		}
		.list a:hover{
			text-decoration: none;
			color:#000;
		}
		.list img{
			width:110%;
		}
		.commission{
			width:100%;
			padding-bottom: 46px;
		}
		.com-t{
			width:100%;
			height:50px;
			line-height:50px;
			margin-top: 5%;
		}
		.com-t span{
			float:right;
		}
		.com-t a{
			color:#000;
			text-decoration: none;
		}
		.com-t a:hover{
			color:#000;
			text-decoration: none;
		}
		.com-t img{
			width:10%;
		}
		.com2-t{
			width:100%;
			height:50px;
			line-height:50px;
			
		}
		.com2-t span{
			float:right;
		}
		.com2-t a{
			color:#000;
			text-decoration: none;
		}
		.com2-t a:hover{
			color:#000;
			text-decoration: none;
		}
		.com2-t img{
			width: 23px;
		}
		.image{
			width:100%;
		}
		.image img{
			width:100%;
			margin-bottom: 25%;
		}
		.keep{
			width: 20%;
    		height: 50px;
    		margin: -35% 0 0 80%;

		}
		.keep a{
			color:#fff;
			text-decoration: none;
			font-size: 17px;
		}
		.keep a:hover{
			color:#fff;
			text-decoration: none;
		}
		.com-m{
			width:100%;
			float: left;
			padding-bottom: 10px;
			text-align: center;
		}
		.com-m img{
			width:100%;
		}
		.com-m-1{
			width:100%;
			
		}
		.com-1-1{
			width: 45%;
		    float: left;
		    margin: 10px 2%;
		}
		.com-1-2{
			width:45%;
			float: right;
		}
		/*.nav1{
			width:100%;
			height:30px;
			margin:0 auto;
			text-align: center;
			line-height:40px;
			margin-top:60px;
			position:fixed;
			bottom:0px;
			left:0; 
		}*/
		.share{
			width:38.9%;
			height:30px;
			 margin-top:-30px;
			 background: rgba(0,0,0,0.7);
			 position:absolute;
			line-height: 30px;
		}
		.share a{
			font-size: 15px;
			color:#fff;
		}
		.share a:last-child{
			margin-left: 10%;
		}
		.share a:hover{
			color:#fff;
			text-decoration: none;
		}
		.share img{
			width:10%;
			margin-top:-5px;
		}
		.nav{
			text-align: center;
			line-height: 40px;
		}
		.nav ul{
			margin: auto;
			padding: 0;
			font-size: 14px;
			width: 100%;
			height:93px;
			position: fixed;		
			bottom: 0px;
			left: 0;
			background-color: #fff;

		}
		.nav li{
			width:24%;
			float:left;
			padding-top: 5px;
		}

		.nav img{
			width:30%;
		}
		.nav a{
			text-decoration: none;
			color:#000;
		}
		.nav a:hover{
			text-decoration: none;
			color:#000;
		}
		.table{
			width: 100%;
			border:0;
			font-size: 20px;
			color: #1fbdef;     /*蓝色字*/
			background: #fff;
		}
		.table1{
		    margin-top: 3%;
		    margin-bottom: 3%;
		}
		.td1{
			width: 34%;		
			height: 80px;
			line-height: 80px;
			text-align: left;
			padding-left: 5%;
		}
		.td2{
			width: 66%;		
			height: 80px;
			line-height: 80px;
			text-align: left;
			padding-right: 5%;
		}
		tr{
			border:1px solid #f4f4f4;
		}
		.commission-1{
			padding-bottom: 100px;
		}
		body{
			padding-top: 15px;
		}
		.city_wrap{
			width: 100%;
			float: left;
			display: none;
		}
		.cities{
			width: 100%;
		    
		    float: left;
		}
		.city_li{
			width: 31.3%;
		    float: left;
		    margin: 5px 1%;
		    background: #fff;
		    line-height: 25px;
		    height: 25px;
		    font-size: 15px;
		    color: #1fbdef;
		    border-radius: 4px;
		    text-align: center;
		}
		.cities a{
			height: 20px;
			display: inline;
		}
		.more_city{
			width: 100%;
			float: left;
		}
		.more_city a{
			font-size: 15px;
		    height: 30px;
		    line-height: 30px;
		}
		.city_down{
		    display: block;
		    height: 100px;
		    text-decoration: none;
		    color: #fff;
		    position: absolute;
		    left: 10px;
		    top: 0px;
		}
		.store_li{
			position: relative;
			margin-bottom: 25px;
		}
		.store_info{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 51px;			
			background: rgba(0,0,0,0.5);
			transition:all 0.5s ease;
		}
		.store_info:hover{
			width: 100%;
			height: 100%;
		}
		.store_p1{
		    float: left;
		    width: 96%;
		    height: 20px;
		    margin: 0;
		    padding: 1% 2%;
		    line-height: 20px;
		}
		.store_name{
			font-size: 18px;
		}
		.store_deatil{
			display: none;
			font-size: 14px;
			width: 96%;
			padding: 1% 2%;
			color:#fff;
			margin-top: 5px;
		}
		.store_name a{
			color: #fff;
		}			
		.money_rate{
			color: #f8d60b;
			font-size: 17px;
			float: right;
			font-weight: bold;
		}
		.store_address{
			float: left;
			font-size: 15px;
		}
		.store_address a{
			color: #fff;
		}
		.collection{
			font-size: 17px;
			float: right;
		}
		.collection a{
			color: #fff;
		}
		.image img{
			margin-bottom: 0;
		}
		h3{
            margin: 0;
            padding: 0;
        }
        .close_btn{
            position: absolute;
            top: 10px;
            display: block;
            height: 14px;
            line-height: 14px;
            width: 16px;
            text-align: center;
            right: 10px;
            font-size: 23px;
            font-weight:bold; 
            border: 2px solid #1fbdef;
            padding: 4px;
            border-radius: 90px;
            cursor: pointer;
        }
        .layui-m-layercont{
            padding: 0 0 10px 0;
        }
        .layui-m-layerchild h3{
            height: 44px;
        }
        .alert_p{       
            height: 28px;
            line-height: 17px;
        }
        .add_1{
            color:#1fbdef;
            line-height: 11px;
        }
        .footer-1{
            color: #fff;
        }
        .alert_p1{
            font-size: 16px;
        }
        .activity_detail{
			display: none;
		}
		.activity_name{
			float: left;
			padding-left: 2%;
			color: #fff;
		}
		.alert_p2{
			font-size: 16px;
		    text-align: left;
		    padding-left: 7px;
		}
		.alert_p3{
			font-size: 14px;
		    text-align: left;
		    padding-left: 7px;
		    color: #666;
		}
		@media(max-width: 750px){
		.tab-p{
			font-size:30px; 
		}
		.tab2-p{
			font-size: 10px;
		}
		.keep a{
			font-size: 10px;
		}
		}

		@media(max-width: 768px){
			.product_img {			
			    padding-bottom: 18%;
			    width: 20%;
			    background: url('../images/order_04_07.png');
			    background-size: cover;
			    margin-top: 18px;
			}
		.top img{width:4%;}
		.tab-p{
			font-size:8px; 
		}
		.tab2-p{
			font-size: 10px;
		}
		}
	</style>