		input{
			outline: none;
		}
   		*{
   			margin:0;
   			padding: 0;
   			font-family: 微软雅黑;
   		}
   		a{
   			text-decoration: none;
   			font-family: 微软雅黑;
   		}
   		a:hover{
   			text-decoration: none;
   		}
   		li{
   			list-style: none;
   		}
   		ul{
   			margin: 0;
   		}
   		.clearfix:after{
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		}
		.clearfix{
		*+height: 1%;//清除IE高问题
		}
		.labels{
			float: left;
			width: 30%;
			margin-top: 4px;	
		}
		.labels label{
			line-height: 24px;
			margin-top: 10px;
		}
		.inputs{
			float: right;
			width: 70%;
		}		
		.yanzhengma{
			width: 100%;
			float: left;
			margin-top: 10px;
			text-align: center;
		}
		input{
			border-radius: 4px;
			border:1px solid #eee;
		}
		.login_close,.register_close{
		    display: block;
		    background: #000;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 90px;
		    position: absolute;
		    right: -14px;
		    top: -14px;
		    font-size: 20px;
		    transition:all 2s ease;
		}
		.login-alert h1,.register-alert h1{
			float: left;
			width: 100%;
			text-align:center;
			font-size: 20px;
			color: rgba(0,0,0,0.8);
		}
		.login-alert, .register-alert {
		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 287px;
		    height: 290px;
		    z-index: 30;
		    text-align: center;
		    background: #fff;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    padding-left: 5px;
		    box-shadow: 3px 3px 10px #747474;
		
		}
		.change{
			position: absolute;
			right: 2px;
			bottom: 2px;		
		}
		.login_btn_bar,.register_btn_bar{
			    width: 100%;
			    float: left;
			    height: 39px;
			    margin: 0px auto 0 auto;		
		}
		.login_btn,.register_btn{			
			width: 100px;		
			text-align: center;
			height: 30px;
			border-radius: 4px;
			border:1px solid #eee;
			background: #ff9d00;
			color: #fff;
			margin:7px auto 0 auto;
		}
		.register_btn:hover,.login_btn:hover{
			border:1px solid #ff9d00;
			background: #ea9300;
		}
		
		.changezc,.changedl{
			color:#80afff;
		}
		#weather{
			display: block;
		    max-height: 50px;	/*max*/
		    line-height: 48px;
		    float: right;
		    font-size: 14px;
		    margin-left: 10px;
		}
		.weather{
			margin-left:4px;
		}
		.hotel_left img{
			width: 100%;
		}
		.agency_li img{
			width: 100%;
		}	
		.form_item{
			padding-left: 10px;
			margin-top: 10px;
			float:left;
			width: 80%;
			height:30px;
			border:1px solid #eee;
			border-radius:4px;
		}
   		.head-logo{
   			height: 49px;
   			line-height: 49px;
   		}
   		.container {
		    width: 91.6%;
		}
		.navbar{
			background: rgba(0,0,0,0.6);
			height: 50px;
			line-height: 50px;
			border:0;		
			z-index: 50;
			overflow-x:visible;
		}
		.navbar-collapse.in {
		    overflow-x: hidden;
		}
		.nav .active{
			background:#ff9d00;
		}
		.nav>li>a:focus, .nav>li>a:hover{
			background:#ff9d00;
		}
		.navbar-nav{
			margin-left: 1.59%;
		}
		.nav-lan {
		    margin: 18px 12px 0 2px;
		    background: #fff;
		    height: 14px;
		    width: 1px;
		}
		.nav_spacer{
			width: 1px;
			height: 14px;
			margin: 18px 0;
			border-radius: 90px;
			background: #8f8f8f; 
		}
		.navbar a,.navbar{
			color: #fff;
			font-size: 17px;
		}
		.register{
			float: right;
			height: 49px;
		    line-height: 49px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login{
			float: right;
		    height: 49px;
		    line-height: 49px;
		    margin-right: 0.4%;
		    width: 40px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login a{
			margin-right: 0.8%;
			margin-left:  0.8%;
		}
		.carousel-inner>.item1{
			width: 100%;
			height: auto; 
		}
		.carousel-inner>.item1>a>img, .carousel-inner>.item1>img{
   			 height: auto;
		}
		.banner{
			width:100%;
			max-height: 619px;
			position: relative;
		}
		.search_bar{
			position: absolute;
		   bottom: 20px;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 31.87%;
		    height: 40px;
		    z-index: 10;
		}
		#search{
			padding: 5px;
			color: #000;
			border:0;
			width: 89.8%;
			height: 40px;
			border-radius: 3px 0 0 3px;
			background:rgba(255,255,255,0.8);
		}
		.glyphicon-search{
			display: block;
			width: 10.19%;
			height: 40px;
			line-height:40px;
			text-align: center;
			background: rgba(151,151,151,0.8);
			color: #000;
			float: right;
			margin-top: -1px;
			border-radius:0 3px 3px 0;
			font-size: 20px;
		}
		.glyphicon-chevron-left,.glyphicon-chevron-right{
			position:  absolute;		
			top:48%;
			color: #000;
			background:rgba(255,255,255,0.7); 
			width: 50px;
			height: 50px;
			border-radius: 90px;
			text-align: center;
			line-height: 30px;
			font-size: 26px;
		}
		.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
			    width: 50px;
			    height: 50px;
			    line-height: 50px;
			     margin-top: 0px; 
			    font-size: 30px;
			}
		.glyphicon-chevron-left{
			left: 54px;
		}
		.glyphicon-chevron-right{		
			right: 89px;
		}
		.siderbar{
			position: fixed;
			top: 27%;
			left: 0;
			z-index: 30;
			font-size: 13px;
			font-weight: bold;
			box-shadow: -3px 3px 10px #747474;
		}
		.siderbar a {
		    padding-top: 3px;
		    display: block;
		    float: left;
		    width: 35px;
		    font-size: 12px;
		    margin-left: 3px;
		}
		.sider_icon{
		    margin-top: -1px;	
			float: left;
			width: 42px;
			height: 42px;
    		line-height: 40px;
			text-align: center;
			font-size: 20px;	
		}
		.glyphicon-star{
			background: #ff9d00;
		}
		.glyphicon-road{
			background: #3dc2de;
		}
		.glyphicon-home{
			background: #d37c51;
		}
		.glyphicon-flag{
			background:#db5290;
		}
		.glyphicon-leaf{
			background: #4473d4;
		}
		.glyphicon-tasks{
			background: #ff514c;
		}
		.glyphicon-arrow-up{
			background: #b3c833;
		}
		.siderbar_li{
			width: 84px;
			height: 42px;
			text-align: center;
			background: rgba(255,255,255,0.7);
		}
		.siderbar_li a{
			color: rgba(0,0,0,0.6);
		}
		.siderbar_li1+.active1{
			background: #ff9d00;
		}
		.siderbar_li2+.active1{
			background: #3dc2de;
		}
		.siderbar_li3+.active1{
			background:#d37c51;
		}
		.siderbar_li4+.active1{
			background: #db5290;
		}
		.siderbar_li5+.active1{
			background: #4473d4;
		}
		.siderbar_li6+.active1{
			background: #ff514c;
		}
		.siderbar_li7+.active1{
			background: #b3c833;
		}
		.service{
			position: fixed;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background: url(../images/service.jpg);
			background-size: cover;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(151,151,151,0.8);
			z-index: 30;
		}
		.service p{
			font-size: 20px;
		    margin-left: 11px;
		    margin-top: 91px;
		}
		.service_close{
			display: block;
			float: right;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			box-shadow: -2px 2px 10px rgba(151,151,151,0.8);
		}
		.maomi_pic{
		    position: fixed;
		    left: -16px;
		    bottom: 45px;
		    z-index: 50;
		    transition:all 1s ease;
		}
		.maomi_eyeout{
			width: 13px;
		    height: 13px;
		    border-radius: 20px;
		    position: absolute;	    
		    left: 42px;
		}
		.maomi_eyeout1{
			top: 24px;
		}
		.maomi_eye{
			background: #000;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 90px;
		}
		.maomi_eyeout2{
			top: 65px;
		}
		.helping_alert{
			width: 100%;
			position: fixed;
			bottom: 0;
			left: -100%;
			padding: 1%;		
			background: rgba(0,0,0,0.7);
			color: #fff;
			z-index: 60;
			transition:all 1s ease;
		}
		.helping_alert_close{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    font-size: 25px;
		}
		.contact_us{
			width: 50%;
			float: left;			
		}
		.contact_us_li{
			width: 100%;
		    height: 2em;
		    line-height: 2em;
		    text-align: center;
		}
		.contact_us_head,.attention_us_head{
			font-size: 20px;
		    text-align: center;
		    margin-bottom: 2%;
		}
		.contact_us_body,.attention_us_body{
			width: 100%;
			float: left;
		}
		.attention_us{
			width: 50%;
			float: left;
			border-left: 1px solid #fff;
		}
		.attention_us_li{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
		}
		.wechat_head,.qq_head{
		    width: 100%;
		    margin-bottom: 1%;
		    font-size: 17px;
		}
		.wechat_ma,.qq_ma{
			width: 100%;
			float: left;
		}
		.wechat_ma img,.qq_ma img{
			width: 60%;
		}
		.head_row{
			float: left;
		    width: 100%;
		    height: 101px;
		    position: relative;
		}
		.head-line1{
		    position: absolute;
		    left: 16%;
		    top: 39px;
		    width: 17%;
		    height: 6px;
		    border-radius: 0px 200px 0px 200px;
		    background: linear-gradient(45deg,transparent 0, #ff9d00 100%);
		}
		.head-line2 {
		position: absolute;
		    right: 16%;
		    top: 39px;
		    width: 17%;
		    border-radius: 0px 200px 0px 200px;
		    height: 6px;
		    line-height: 20px;
		    background: linear-gradient(45deg,#ff9d00 0,transparent 100%);
		}
		.head_line2_b {
		    width: 17%;
		    right: 14%;
		}
		.sub_head{
		    width: 28.9%;
		    margin: 20px auto;
		    height: 56px;
		    line-height: 56px;
		    text-align: center;
		}
		.spots{
			float: left;
			max-height: 596px;
		    width: 100%;
		}
		.spot_show{
			float: left;
			width: 100%;
		}
		.spot_li{			
		    position: relative;
		    float: left;
		    width: 20%;
		    padding-bottom: 42%;
		    transition: all 0.5s ease;		
		}
		.spot_li1{
			background: url(../images/spot1.jpg) -118px 0 no-repeat;
			background-size:cover; 
		}
		.spot_li2{
			background: url(../images/spot2.jpg) 0px 0 no-repeat;
			background-size:cover; 
		}
		.spot_li3{
			background: url(../images/spot3.jpg) 0px  0 no-repeat;
			background-size:cover; 
		}
		.spot_li4{
			background: url(../images/spot4.jpg) 0px 0 no-repeat;
			background-size:cover; 
		}
		.spot_li5{
			background: url(../images/spot5.jpg) 0px 0 no-repeat;
			background-size:cover; 
		}
		.cover{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 40px;
			line-height: 30px;
			padding: 10px;
			width: 100%;
			background: rgba(0,0,0,0.6);
			color: rgba(255,255,255,0.6);	
			overflow: hidden;
			transition:all 0.5s ease;		
		}
		.map {
		    margin-top: -7px;
		    float: left;
		    width:44%;
		    height: 519px;
		    background: url(../images/map.png);
		    background-size: cover;
		    position: relative;
}
		.intro{	
			position: absolute;
			background: url(../images/aim.png) no-repeat;
			background-size: cover;
			width: 30px;
			height: 30px;
			transition:all 0.7s ease;
			z-index: 20;
			overflow: hidden;
		}
		.intro:hover{
			box-shadow: 0 0 10px #747474;
			width: 280px;
			height: 163px;
		    margin-left: -20px;
		    margin-top: -20px;
		    background-size: 300px 165px;
		}
		.intro:hover .intro_part{
		        display: block;
			    width: 280px;
			    height: 163px;
			    margin: 0px 0px 7px 0px;
		} 
		.intro:hover .intro_word{/*2.61*/
			width: 142px;
    		height: 130px;
		}
		.intro1{
			top: 165px;
    		left: 384px;
		}
		.intro2{
			 top: 393px;
   			 left:248px;
		}
		.intro3{
			 top: 137px;
   			 left: 389px;
		}
		.intro4{
		     top: 141px;
		     left:352.4px;
		}
		.intro5{
			 top: 32px;
   			 left:248.5px;
		}
		.intro6{		
		    top: 320px;
		    left: 125.5px;
		}
		.intro7{
			 top: 320px;
             left: 340px;
		}
		.intro8{
		    top: 353px;
		    left:145.6px;
		}
		.route{
			float: left;
			width: 100%;
			margin-top: 20px;
			background: #eee;
			padding-bottom: 20px;
		}
		.intro_part{
			background: rgba(255,255,255,0.6);
			display: none;
			border-radius: 3px;	
			float: left;
			width: 0px;
			height: 0px;
			padding: 10px;
			z-index: 21;
			transition:all 0.5s ease;
		}
		.intro_pic{
			width: 36.6%;
		    height: 36.6%;
		    float: left;
		    margin-right: 3.66%;
		    margin-top: 6.96%;
		}
		.intro_word h1{
			text-align: center;
			font-size: 20px;
			margin:0 auto;
			font-weight: bold;
		}
		.intro_word{
			font-size: 15px;
			width: 0px;
			height: 0px;
			float: right;
			overflow: hidden;
			font-weight: bold;
			z-index: 22;
			transition:all 0.5s ease;
		}
		.nav-tabs>li>a {
		    border-radius:0px; 
		}
		.route_nav{
			margin-left: 5px;
		}
		.route_recommend{
			float: right;
		    width:54%;
		    margin-left: 2%;
		    border-radius: 3px;
		    padding: 10px;
		    background: #eee;
		}
		.route_recommend h1{
			font-size: 30px;
			margin-left: 0.605%
		}
		.recommend_li{
			font-size: 15px;
		    height: 35px;
		    line-height: 35px;
		}
		.ticketl{
			float: left;
		}
		.nav-tabs{
			border: 0;
		}
		.ticket_li{
			width: 31%;
			border: 1px solid #eee;
			overflow: hidden;
			float: left;
			margin:1%;
			position: relative; 
		}
		.ticket_li:hover{
			border: 1px solid #ff9d00;
		}
		.ticket_li:hover .ticket_cover{
			opacity: 1;
			padding-top: 50%;
		}
		.ticket_li img{
			width: 100%;
			height: 100%;
		}
		.ticket_cover{
			opacity: 0;
			height:  258.16px;
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: center;
			color: #fff;
			width: 100%;
			transition:all 0.7s ease;
			background: rgba(0,0,0,0.6);
			overflow: hidden;
		}
		.hotel{
			float: left;
			width: 100%;
			padding: 1%;

		}
		.hotel_left{
		    float: left;
		    width: 70%;
		    max-height: 450px;
		}
		.hotel_right{
			border: 1px solid #eee;
			border-radius: 4px;
			float: right;
			width: 30%;
			background: #f6f6f6;
			height: 415px;
			margin-top: 0.9%;
		}
		.hotel_li1{
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			height: 138px;
			border-top: 1px solid #dbdbdb;
		}
		.hotel_li1 h2{
			text-align: center;
			font-size: 20px;
			color: #026dc5;
		}
		.hotel_li{
			overflow: hidden;
		    float: left;
		    width: 31%;
		    max-height: 200px;
		    margin: 1%;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    position: relative;
		}
		.hotel_li:hover{
			border:1px solid #ff9d00;
		}
		.big_hotel{
		    width: 31.3%;
		    max-height: 417px;
		    height: 100%;
		}
		.hotel p{
			font-size: 15px;
			color: #000;
		}
		.hotel_cover{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 29px;
			background: rgba(0,0,0,0.6);
			overflow: hidden;			
			transition:all 0.7s ease;
			text-align: center;
			font-size: 15px;
		}
		.hotel_cover h1{
			color: rgba(255,255,255,1);
			margin:5px;
			font-size: 20px;
		}
		.hotel_cover p{
			color: rgba(255,255,255,1);
		}
		.hotel_li:hover .hotel_cover{
			height: 120px;
		}
		.agency{
			float: left;
			width: 100%;
			background: #eee;
			padding-bottom: 20px;
		}
		.agency_li{
			float: left;
			width: 23%;
			margin-right: 1%;
			margin-left: 1%;
			overflow: hidden;
			font-size: 15px;
			color: rgba(0,0,0,0.6);
			border-radius: 4px;
			border:1px solid #eee;	
			overflow: hidden;
		}
		.agency_li:hover{
			border: 1px solid #ff9d00;
		}
		.agency_li:hover h1{
			color: #ff9d00;
		}
		.agency_li:hover img{
			transition:all 0.5s ease;
			margin-left: -10px;
			margin-top: -10px;
			width:110%;
			height:110%; 
		}
		.agency_pic{
			width: 100%;
			height: 200px;
			overflow: hidden;
		}
		.agency h1{
			font-size: 20px;
			color: rgba(0,0,0,0.8);
			text-align: center;
		}
		.agency p{
			color: rgba(0,0,0,0.5);
			margin-left: 3.55%;
			margin-right: 3.55%;
		}
		.free_travel{
			float: left;
			width: 100%;
		}
		.free_travel_li{
			float: left;
			width: 18%;
			margin: 1%;		
			position: relative;
			border: 1px solid #eee;	
			border-radius: 4px;
			overflow: hidden;
		}
		.free_travel_li:hover{
			border: 1px solid #ff9d00;
		}
		.free_travel_li:hover img{
			transition:all 0.5s ease;
			width: 110%;
			height:  110%;
			margin-left: -10px;
			margin-top: -10px;
			overflow: hidden;
		}
		.free_travel_img{
			width:100%;
			height:200px;
		}
		.free_travel_img img{
			width: 100%;
			height: 100%;
		}
		.travel_cover{
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.6);
			color: #fff;
			padding: 10px;
			border-radius:0 0 4px 0; 
			font-size:15px;
			text-align: center;  
		}
		.bottom{
			float: left;
			width: 100%;
			font-size: 15px;
		}
		.activity{
			float: left;
			width: 50%;
		}
		.item{
			border-radius: 4px;
			width:100%;
			height:200px;
		}
	
		.carousel-inner>.item_a>img {
		    width: 100%;
		    height: 200px;
		}
		.activity_show,.strategy_show{
			width: 50%;
			float: left;
		}
		.activity h1,.strategy h1{
			margin:2.4%;
			text-align: center;
			font-size: 22px;
			color:rgba(0,0,0,0.8);
		}
		.activity_info{
			width: 50%;
			height: 200px;
			float: right;
			padding:0 2%;
			color:rgba(0,0,0,0.5);
			position: relative;
		}
		.activity_more{
			position: absolute;
			bottom: 0;
			right: 15px;
			background:#ffbe53;
			border: 1px solid #eee;
			border-radius: 4px;
			height: 30px;
			line-height: 30px;
			width: 109.76px;
			text-align: center;
		}
		
		.strategy_info{
			width: 50%;
			height: 200px;
			float: right;
			padding:0 2%;
			color:rgba(0,0,0,0.5);
			position: relative;
		}
		.strategy_more{
			position: absolute;
			bottom: 0;
			right: 15px;
			background:#ffbe53;
			border: 1px solid #eee;
			border-radius: 4px;
			height: 30px;
			line-height: 30px;
			width: 109.76px;
			text-align: center;
		}
		.activity_info p{
			max-height: 129px;
			overflow: hidden;
		}
		.strategy_info p{
			max-height: 142px;
			overflow: hidden;
		}
		.strategy{
			float: right;
			width: 50%;
		}
		.strategy_more:hover,.activity_more:hover{
			background: #ff9d00;
			border: 1px solid #ff9d00;
			box-shadow: 4px 4px 10px #747474;
		}
		.footer{
			margin-top: 40px;
			float: left;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #3b3b3b;
			color: #fff;
			font-size: 15px;
			text-align: center;
		}
		.navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-toggle .icon-bar {
		    background: #fff;
		}
@media (max-width:1286px){
	.map{
		display: none;
	}
	.route_recommend{
		width: 100%;
	}
	.head_line1_b{
		width: 10%;
	}
	.head_line2_b{
		width: 10%;
	}
	.sub_head{
		width: 48.9%;
	}
}
@media (max-width:1004px){
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		margin-left: 0;
		margin-right: 0;
		padding-left: 2%;
		padding-right: 2%;
	}
	.navbar-collapse{
			background: rgba(0,0,0,0.6);
	}
	.nav>.nav_spacer,#weather,.login,.register,.nav1,.service{
		display: none;
	}
	.head-line1,.head-line2{
		display: none;
	}
}
@media (max-width:921px){
	.hotel_right{
		display: none;
	}
	.hotel_left{
		width: 100%;
	}
}
@media (max-width:767px){
	.head-line1,.head-line2{
		width: 20%;
	}
	.service{
		display: none;
	}
	.nav>li>a {
    padding: 10px 12px;
	}
	.container {
	width:100%;
	padding: 0;
	}
	.activity_info p{
		max-height:122px;
	}
	.strategy_info p{
		max-height:122px;
		overflow: hidden;
	}
	.search_bar { 
    width: 60.87%;
}
	.item1{
		background-size: 1370px 500px;
	}
	.maomi_pic{
		display: none;
	}
	.helping_alert{
		display: none;
	}
}

@media (max-width:680px){
	.banner img{
		width: 1400px;

	}
	.free_travel_li{
		width: 47%;
	}
	.free_travel_li img{
		width: 280px;
		height: 200px;
	}
	.free_travel_li:hover img{
		width: 300px;
		height: 220px;
	}
	.activity{
		width: 100%;
	}
	.strategy{
		width: 100%;
	}
	.agency_li{
		width: 48%;
	}
	.agency_li p{
		max-height: 72px;
		overflow: hidden;
	}	
	.hotel_li{
		width: 48%;
	}
	.hotel_left{
		width: 100%;
		max-height: 829px;
	}
	.big_hotel{
		width: 100%;
	}
	.big_hotel img{
		max-width: 100%;
	}
	.agency{
		float: left;
		width: 100%;
	}
	.head-line1,.head-line2 {
		display: none;
	}
		.sub_head{
			width:100%; 
	}
	.siderbar{
		display: none;
	}
	.carousel-inner>.item1>a>img, .carousel-inner>.item1>img{
    max-width: 259%;
    margin-left: -80%;
}
}
