body{
		background:#fff; 
	}
	.content{
		padding-top: 20px;
		background:#f4f4f4; 
	}
		.header .add_btn{
		    position: absolute;
		    top: 10px;
		    right: 18px;
		    width: 20%;
	}
		.add_btn img{
			width: 73px;
		}
		.payee_name{
			font-size: 20px;
		}
		.payee_name_li{
			position: relative;
		    width: 88%;
		    float: left;
		    height: 50px;
		    line-height: 50px;
		    font-size: 20px;
		    color: #1fbdef;
		    background: #fff;
		    border: 1px solid #eee;
		    padding-left: 6%;
		    padding-right: 6%;
		}
		.down_icon{
			position: absolute;
			right: 0;
			top: 9px;
			width: 50px;		
		}
		.down_icon img{
			width: 32px;
		}
		.payee_info{
			float: left;
			width: 88%;
			padding-left: 6%;
		    padding-right: 6%;
		    background:#f4f4f4;
		    color: #282828;
		   	padding-bottom: 20px;
		   	position: relative; 
		}
		.function_word{
			position: absolute;
			right: 10px;
			top: 10px;
			
		}
		.function_word span{	
			margin-left: 10px;
		}
		.payee_info_li{
			line-height: 30px;
		    height: 30px;
		    font-size: 18px;
		}
		.payee_info_li span{
			font-size: 18px;
		}
		.edit_word a{
			font-size: 19px;
			color: #1fbdef;
		}
		.delete_word a{
			font-size: 19px;
			color:#ee5d89;	/*red*/
		}