		.letter{
			width: 5%;
		    overflow: hidden;
		    line-height: 29px;
		    font-size: 16px;
		    position: fixed;
		    top: 119px;
		    right: 10px;
		    text-align: center;
		}
		.city-letter{
			color: #333;
			font-weight: bold;
		}
		.letter li a{
			color: #333;
			font-weight: bold;
		}
		.letter ul{
			list-style-type:none;
		}
		.city{
			width:90%;overflow:hidden;
		}
		.city-list{
			width:100%;overflow:hidden;
		}
		.city-list .city-letter{
			padding-left: 20px;
			padding-right: 20px;
			color:#6e6e6e;font-size:16px;display:inline-block;padding-top:15px;padding-bottom:5px;width:100%;
		}
		.city-list p{
			padding-left: 20px;
			padding-right: 20px;
			color:#515356;width:95%;height:50px;line-height:50px;border-bottom:1px solid #e8ecf1;cursor:pointer;
		}
		.UISelect{
			margin-top:5px;
		}
		
		input{
			outline: none;
		}

		*{
			margin:0;
			padding: 0;
		}
		a{
			text-decoration: none;
		}
		li{
			list-style: none;
		}
		.header{
			height: 85px;
		}
		.city_name_bar{
			float: left;
		    width: 27%;
		    overflow: hidden;
		    color: #fff;
		    height: 85px;
		    line-height: 85px;
		    padding-left: 1%;
		}
	
		.city_name_bar img{
			display: block;
		    float: left;
		    width: 29px;
		    margin-top: 37px;
		    margin-left: 4px;
		    line-height: 85px;
		}
		.local_sign{
			float: right;
		    width: 37px;
		    text-align: center;
		    height: 90px;
		    line-height: 100px;
		}
		.search_bar_wrap{
			padding-top: 20px;
			width: 60%;
			float: left;
			text-align: center;
			height: 85px;
			display: table-cell;
			vertical-align: middle;
		}
		.city_box{
			display: none;
			margin-top: 106px;
		}
		.city_name{
			color: #fff;
			font-size: 20px;
			float: left;
			font-size: 11px;
		}
		.letter{
			display: none;
		}
		
		.header{
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: #00b7ee;
		}
		.search_icon{
			width: 2%;
		    float: left;
		    line-height: 52px;
		}
		.search_icon img{
			width: 20px;
		}
		.search_bar{
			width: 100%;
		    border-radius: 12px;
		    background: #fff;
		    height: 43px;
		    line-height: 43px;
		}
		.search_word{
			width:23%;
			float: right;
			margin-right: 1%;	
		}
		.search_word a{
			display: block;
			float: right;
			color:#00b7ee;
		}
		.local_sign img{
			width: 100%;
		}
		.search_input{
			height: 29px;
		    font-size: 13px;
		    border: 0;
		    width: 52%;
		}
		.now_city{
			padding-left: 20px;
			padding-right: 20px;
			position: fixed;
			top: 85px;
			left: 0;
			width: 100%;
			height: 30px;
			line-height: 30px;
			background: #fff;
			color:#00b7ee;
			border-bottom: 1px solid #ddd;
		}
		.now_city_name{
			color: #515356;
		}