/*京东商城*/
*{
	padding: 0;
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
img {
    border: 0;
    vertical-align: middle;
   }
input
{
	outline:none;
}
i{
	font-style: normal;
}
a{
	font-family: 微软雅黑;
}
a:hover{
	text-decoration:none;
	font-family: 微软雅黑;
}
.hover_red:hover a{
	color:#c10211;
}
.hover_red:hover{
	color:#c10211;
}
body{
	color: #666;
	background: #f6f6f6;
	font-family: 微软雅黑;
}
.col-md-2{
	padding-left: 0;
	padding-right: 0;
}
.col-md-4{
	padding: 0;
}
.col-md-12 {
    width: 100%;
}
.clearfix:after{
content: ".";
display: block;
visibility: hidden;
clear: both;
height: 0;
}
.clearfix{
*+height: 1%;//清除IE高问题
}

.container{
	margin-left: 24px;
	width: 1263px;
}
li{
	list-style: none;
}
.red a{
	color: #f10215;
}
.red{
	color: #f10215;
}
#close{
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	height: 20px;
	width: 20px;
	line-height: 20px;
}
.laodong_background{
    background: url(../images/beijing1.png) -313px 0px no-repeat;
    background-size: 1937px 501px;
}
.mengxiang_bar{
	background-color: #72b0e3;
	height: 80px;
}
.mengxiang_bar_pic{
	height: 80px;
	width: 1190px;
	background:url(../images/mengxiang_bar.jpg);
}
.toolbar_ic{
	width: 33px;
	height: 33px;
	float: right;
}
.toolbar{
	width: 33px;
	position: fixed;
	right: 0px;
	top:40%;
	z-index: 20;
}
.toolbar1{
	width: 33px;
	position: fixed;
	right: 0px;
	bottom:0;
	z-index: 20;
}
.toolbar_li{
	width: 33px;
	height: 33px;
	margin-bottom: 1px;
	border-radius: 3px;
	background: #7a6e6e;
}
.toolbar_hoverword{
	width: 0px;
	color: #fff;
	background: #fff;
	overflow:hidden; 
	border-radius: 3px 0px 0px 3px;
}
.toolbar_hoverword p{
	margin-left: 3px;
	display: none;
	width: 62px;
}
.toolbar_li:hover .toolbar_hoverword p{
	display: block;
}
.toolbar_li:hover .toolbar_hoverword{
	width: 60px;
	height: 33px;
	line-height: 33px;
	float: left;
	background: #e01222;
	margin-left: -60px;
	transition:all 0.3s ease-out;
}
.toolbar_li:hover{
	background: #e01222;
	border-radius:  0px 3px 3px 0px ;
	transition:all 0.3s ease-out;/*左边框变长？*/
}
.toolbar_ic1{
	background: url(../images/toolbars.png) -88px -177px;	
}
.toolbar_ic2{
	background: url(../images/toolbars.png) -51px -3px;	
}
.toolbar_ic3{
	background: url(../images/toolbars.png) -50px -52px;	
}
.toolbar_ic4{
	background: url(../images/toolbars.png) -50px -101px;	
}
.toolbar_ic5{
	background: url(../images/toolbars_xx.png) ;	
}
.toolbar_ic6{
	background: url(../images/toolbars.png) -50px -152px;	
}
.toolbar_ic7{
	background: url(../images/toolbars_top.png)  ;	
}
.toolbar_ic8{
	background: url(../images/toolbars_bi.png)  ;	
}
.search_top{
	display: none;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	height: 53px;
	line-height: 53px;
	width: 100%;
	border-bottom: 2px solid #e01222;
	box-shadow: 0 4px 10px #5b5b5b;	
	z-index: 50;
}
.logo1{
	float: left;
}
.search_bar_top{
	position: relative;
	border:0;
	width: 500px;
	height: 35px;
	padding: 5px;
	background: #efefef;
}
.glyphicon-camera{
	position: absolute;
	right: 428px;
    top: 20px;
	display: block;
	width: 10px;
	height: 10px;
	font-size: 20px;
	color: #666;
}
.siderbar1{
	display: none;
	position: fixed;
	left: 9px;
	top: 67px;
	background: #918888;
	z-index: 50;
	width: 34px;
}
.siderbar1_li{
	padding: 5px;
	width: 34px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #b1aaaa;
}
.siderbar1_li:hover{
	background: #e01222;
}
.siderbar1_top{
	background: #5e4a4a;
	text-align: center;
}
.siderbar1_top a{
	color:#fff;
}
.active5{
	background: #e01222;
}
.navbar{
	min-height: 30px;
	line-height: 30px;
	padding:0;
	background-color: #e3e4e5;
	border-radius: 0;
	border-bottom:1px solid #ddd;
}
.user_position{
	display: inline;
	color:#999;
	font-size: 12px;
}
.glyphicon-map-marker{
	color:#f10215;
}
.dropdown1{
	display:none;
}
.position:hover .dropdown1{
	display:block; 
}
.position:hover .position_hover{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	background-color: #fff;
}
.position{
	width: 57px;
	margin-left:188px;
	position: relative;
}
.position_hover{
	width: 57px;
	height: 40px;
    line-height: 40px;
	text-align: center;
}
.user_position_list{
	background-color: #fff;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	box-shadow:1px 1px 1px #ddd;
	position: absolute;
	top: 40px;
	left: 20px;
	width: 321px;
	height: 218px;
	z-index: 10;
}
.user_position_list a{
	color:#999;
	font-size: 12px;
}
.user_position_list li{
	float: left;
	margin:6px 9px 0 9px;
	height:22px;
	width:39px;
	line-height:22px;
	text-align: center; 
}
.user_position_list li:hover{
	background-color: #ddd;
}
.user_position_list li:hover a{
	color: #fff;
}
.active1{
	background-color:#f10215; 
}
.active1 a{
	color: #fff;
}
.user_position_list .active1:hover{
	background-color:#f10215; 
}
.nav1 ul .spacer{
	overflow: hidden;
    margin: 13px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.nav1{
	display: inline-block;
}

.navbar-default .navbar-nav>.red>a{
	color:#f10215; 
}
.nav>li>a{
	padding: 10px 10px 0 10px;
	font-size: 12px;
}
.nav{
	line-height: 30px;
	height: 30px;
	margin-left: 231px;
}
.nav_li{
	height:40px;
	line-height: 40px;
}
.navbar-default .navbar-nav>.hover_red>a:focus, .navbar-default .navbar-nav>.hover_red>a:hover{
	color: #c10211;
}
.wdjd{
	position: relative;
}
.wdjd_hover{
	border: 1px solid #d4d4d4;
	display: none;
	width: 281px;
	height: 164px;
	position: absolute;
	background: #fff;
	top: 41px;
	left: 0;
	z-index: 10;
}
.wdjd:hover .wdjd_hover{
	display: block;
}
.wdjd_ul1{
	padding:10px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}
.wdjd_ul2{
	padding:10px;
	float: left;
	width: 100%;
}
.wdjd_li{
	float: left;
    width: 128px;
    height: 25px;
    line-height: 25px;
}
.wdjd_li a{
	color:#999;
	font-size: 10px;
}
.nservice{
	position: relative;
}
.nservice:hover .nservice_hover{
	display: block;
}
.nservice_hover{
	border: 1px solid #d4d4d4;
	display: none;
	width: 171px;
	height: 246px;
	position: absolute;
	background: #fff;
	top: 41px;
	left: 0;
	z-index: 10;
}
.nservice_ul1{
	padding:10px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}
.nservice_ul2{
	padding:10px;
	float: left;
	width: 100%;
}
.nservice_ul_hd{
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	height: 20px;
}
.nservice_li{
	float: left;
    width: 69px;
    height: 25px;
    line-height: 36px;
}
.nservice_li a{
	font-size: 10px;
	color:#999;
	font-size: 10px;
}
.web_nav:hover .web_nav_hover{
	display: block;
}
.web_nav_hover{
	display: none;
	width: 1208px;
	border: 1px solid #d4d4d4;
	height: 188px;
	position: absolute;
	background: #fff;
	top: 41px;
	right:-70px;
	z-index: 10;
	padding:10px;
}
.web_nav_ul1{
	padding:4px;
	padding-left: 10px;
	float: left;
	width: 345px;
	border-right: 1px solid #d4d4d4;
}
.web_nav_ul2,.web_nav_ul3{
	padding:4px;
	padding-left: 10px;
	float: left;
	width: 274px;
	border-right: 1px solid #d4d4d4;
}
.web_nav_ul4{
	padding:4px;
	padding-left: 10px;
	float: left;
	width: 260px;
}
.web_nav_ul_hd{
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	height: 27px;
}
.web_nav_li{
	float: left;
    width: 82px;
    height: 23px;
    line-height: 36px;
}
.web_nav_li a{
	font-size: 10px;
	color:#999;
	font-size: 10px;
}
.moblie{
	position: relative;
}
.mobile_hover{
	position: absolute;
	width: 191px;
	height: 320px;
	border: 1px solid #d4d4d4;
	background: #fff;
}
.logo{
	position: absolute;
	top: -67px;
    left:2px;
	height: 172px;
	width: 191px;
	background: #fff;
	box-shadow: 0px 0px 10px #ddd;
}
.head-logo{
	margin-left: 17px;
}
.search-bar{
	height: 106px;
	margin-top: 26px;
}
#search_text{
	padding-left: 4px;
	height: 35px;
	width: 500px;
	border:2px solid #f10215;
}
.search_text{
	height: 35px;
}
.glyphicon-search{
	background: #f10215;
	color: #fff;
	width: 52px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.hotwords li{
	float: left;
	margin-right: 10px;
}
.hotwords li a{
	font-size: 10px;
	color:#999;
}
.hotwords>ul>.red>a{
	color:#f10215; 
}
.hotwords>ul>.hover_red>a:focus, .hotwords>ul>.hover_red>a:hover{
	color: #c10211;
}
.mobile{
	position: relative;
}
.mobile:hover .mobile_hover{
	display: block;
}
.mobile_hover{
	display: none;
	position: absolute;
	width: 192px;
	height: 316px;
	right: 0;
	top:41px;
	background: #fff;
	border: 1px solid #d4d4d4;
	z-index: 10;
}
.mobile_ul1{
	float: left;
}
.mobile_li{
	padding:5px;
	height: 107px;
}
.mobile_li1,.mobile_li2{
	border-bottom: 1px solid #d4d4d4;
}
.mobile_li a{
	color:#666;
	font-weight: bold;
}
.mobile_left{
	float: left;
	width: 40%;
}
.mobile_right{
	float: right;
	width: 56%;
}
.mobile_type_li{
	float: left;
	margin-right: 5px;
}
.mobile_li h1{
	font-size: 10px;
	margin:0;
}
.mobile_li p{
	font-size: 10px;
    margin: 0;
    line-height: 21px;
    height: 40px;
}
.mobile_erweima{
	position: absolute;
    top: 41px;
    right: 82px;
    padding: 2px;
    border: 1px solid #ccc;
}
.shopping_car{
	height: 35px;
	line-height: 35px;
	width: 189px;
	text-align: center;
	border:1px solid #ddd;
	margin-left: -64px;
	padding-left: 41px;
	position: relative;
	background-color: #fff;
}
.shopping_car a{
	font-size: 10px;
}
.shopping_number{
	display: block;
	float: right;
	margin-right:20px;
	margin-top: 10px;
	border-radius: 90px;
	background: #f10215;
	color: #fff;
	font-size: 10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}
.shopping_item{
	display: none;
	position: absolute;
	top: 33px;
	right: 0;
	width: 312px;
	height: 74px;
	background: #fff;
	border:1px solid #ddd;
	box-shadow:1px 1px 2px #ddd; 
	z-index: 9;
	color: #999;
	font-size: 10px;
}
.shopping_car:hover .shopping_item{
	display: block;
}
.shopping_car:hover{
	border-bottom: 0;
}
.search_nav{
	margin-top: -10px;
}
.search_nav li{
	margin-left: 10px;
}
.search_nav ul li{
	float: left;
}
.search_nav ul li a{
	font-size: 16px;
	color: #555;
}
.search_nav_group1,.search_nav_group2,.search_nav_group3{
	margin-top: 30px;
}
.search_nav_group li{
	margin-left: 23px;
	font-weight: bold;
}
.search_nav_group .spacer{
	overflow: hidden;
    margin: 6px 2px 0 22px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.product_menu{
	padding-top: 10px;
	height:479px;
	width:189px;
	background: #6e6568;
	position: relative;
	left: -13px;
}
.product_menu_li a{
	color:#fff;
}
.product_menu_li {
    height: 30px;
    line-height: 30px;
    width: 188px;
    color: #fff;
    padding-left: 14px;
}
.product_menu_li:hover{
	background: #999395;
}
.product_menu_li a:hover{
	color:#c10211;
}
.show_part_content{
	width: 819px;
}
.show_part_c_ul{
	float: left;
	margin-top: 22px;
	margin-left:25px;
}
.show_part_c_li{
	background: #6e6568;
	height: 23px;
	float: left;
	margin-left:13px;
	padding:2px 13px 26px 13px;
}
.show_part_c_li a{
	color: #fff;
	font-size: 10px;
}
.show_part{	
	display: none;
	position: absolute;
	top: 0px;
    left: 190px;
    height: 540px;
	width: 1028px;
	background: #f7f7f7;
	border:1px solid #ddd;
	box-shadow: 2px -1px 10px #ddd;
	z-index: 20;
}
.show_part_1{
	display: none;
}
.show_part_c_head{
	float: left;
	margin-top: 9px;
	margin-left: 48px;
}
.show_part_c_head_li{
	height: 36px;
}
.show_part_c_head a{
	color:#666666;
	font-size: 10px;
	font-weight: bold;
}
.show_part_c_body{
	width: 674px;
	margin-left: 138px;
}
.show_part_c_body_li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin:3px 13px 0px 10px; 
}
.show_part_c_body_ul{
	height: 30px;
    padding-bottom: 35px;
	border-bottom: 1px solid #d9d9d9;
}
.ul_2{
	height: 71px;
}
.show_part_c_body_ul .spacer{
	width: 1px; 
	height: 10px;
	background: #d9d9d9;
	margin:15px 0px 0px 0px;
}
.show_part_c_body_li a{
	color: #666666;
	font-size: 12px;
}
.show_part_siderbar{
	float: right;
	width: 175px;
	height: 424px;
	margin-top: 21px;
	margin-right: 21px;
	margin-left: 11px;
}
.show_part_brand{
	width: 175px;
}
.show_part_brand_li{
	display: block;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
}
.show_part_brand_promotion{
	float: left;
	margin-top: 11px;
}
.show_part_pro_li{
	display: block;
	float: left;
	margin-bottom: 1px;
}
.banner_box{
	margin-left: -10px;
	width: 818px;
	float: left;
}
.carousel-indicators{
	background: rgba(255,255,255,0.5);
	border-radius: 90px;
	width: 161px;
	margin-left: -10%;
}
.carousel-indicators li{
	background-color: #fff;
}
.carousel-indicators .active{
	background-color: #db192a;
	border:1px solid #db192a;
}
.carousel-control.left{
	background-image: none;
}
.carousel-control.right{
	background-image: none;
}
.adver2{
	float: left;
	margin-top: 10px;
}
.banner{
	width: 1232px;
}
.ad2_1{
	margin-right: 8px;
}
.user{
	width: 195px;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
	padding-top: 20px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
}
.media_body{
	float: left;
	width: 53%;
}
.user_media{
	width: 219px;
}
.media{
	margin-right: 0px;
}
.media_left{
	float: left;
	width: 29%;
	font-size: 10px;
    
}
.media_body p{
	font-size: 12px;
	color:#666666;
   margin: 6px 0 7px;
}
.media_body p a{
	font-size: 12px;
	color:#666666;
}
.media_body p a:hover{
	color:#e01222;
}
.welfare_bar{
	width: 100%;
}
.welfare{
	width: 72px;
	height: 24px;
	border: 2px solid #e01222;
	float: left;
	text-align: center;
    margin:9px 8px 17px 0;
}
.welfare a{
	font-size: 12px;
	color: #e01222;
}
.welfare:hover{
	background-color: #e01222;
}
.welfare:hover a{
	color: #fff;
}
.msg{
	float: left;
	width: 103%;
	border-top: 1px solid #c5c5c5;
}
.msg_ul{
	margin-left: 10px;
	float: left;
	width: 90%;
	height: 30px;
	border-bottom: 1px solid #c5c5c5;
}
.cuxiao_list{

	float: left;
	margin-left: 13px;
}
.gonggao_list{
	display: none;
	float: left;
	margin-left: 13px;
}
.msg_li{
    float: left;
    width: 33px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 14px;
    margin-left: -6px;
}
.msg_li_more{
	float: right;
}
.msg_ul a{
	font-size: 10px;
	color:#575757;
}
.msg_ul .spacer{
	background-color: #c5c5c5;
	width: 1px;
	height: 15px;
	margin-top: 4px;
}
.gonggao_li a{
	color: #666666;
	font-size:10px;
}
.cuxiao_li a{
	color: #666666;
	font-size:10px;
}
.msg_lists ul li{
	margin-top: 7px;
}
.active2{
	border-bottom: 2px solid #e01222;
}
.functions{
	width: 195px;
	float: left;
	background-color:#fff; 
}
.functions_li{
	width: 48px;
	height: 70px;
	border:1px solid #dadada;
	float: left;
}
.functions_li a{
	font-size: 10px;
	color:#575757;
}
.functions ul li{
	text-align: center;
}
.function_li_foot{
	border-right:0;
}
.function_li_head{
	border-left:0;
}
.huafei{
	display:none;
}
.huafei_choose_ul{
	float: left;
	margin-bottom: 10px;
}
.huafei_choose_li{
	float: left;
	width: 51px;
	margin-right: 3px;
}

.huafei_choose_li a{
	font-size: 10px;
	color: #575757;
}
.active3{
	background: #e01222;
}
.active3 a{
	color: #fff;
}
.item_name_li{
	width: 47px;
}
.item_name{
	float: left;
	width: 47px;
}
#number{
	width: 95px;
	height: 23px;
	font-size: 10px;
	margin-bottom: 1px;
}
.alert>p, .alert>ul {
    margin-bottom: 13px;
}
#value{
	width: 52px;
	height: 23px;
	font-size: 10px;
}
.miaosha_zhe{
	display: block;
	background: url(../images/zhejiao.png) -192px -49px no-repeat;
	width: 20px;
	height: 54px;
}
.miaosha{
	padding:0;
	padding-right: 20px;
	height: 54px;
	background: -webkit-linear-gradient(135deg,#e01222 98%,transparent 0);
	margin-top: 10px;
}
.clock{
	display: block;
	background: url(../images/zhejiao.png) 0px -41px no-repeat;
	height: 48px;
	width: 48px;
	margin-top: 10px;
	margin-left: 26px;
}
.miaosha_word{
	display: block;
	font-size: 25px;
	color: #fff;
	font-weight: 100;
}
.miaosha_word1{
	color: #fff;
}
.miaosha_word2{
	color: #fff;
}
.miaosha_li{
	height: 48px;
	line-height: 48px;
	float: left;
}
.miaosha_small a{
	display: block;
	margin-top: 7px;
	margin-left: 10px;
	font-size: 13px;
	color: #fff;
}
.faxian_small,.youpin_small,.rank_small{
	color:#fff;
}
.b{
	color: #440106;
	margin-top: 5px;
}
.bb{
	width: 32px;
	height: 35px;
	margin-top: 13px;
	color: #f90013;
	background: #440106;
}
.timer{
	width: 32px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}
.timer_maohao{
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bolder;
}
.miaosha_word1{
	margin-right: 10px;
}
.miaosha_word2{
	margin-left: 10px;
}
.miaosha_k{
	background: #fff;
}
.miaosha_l{
	margin-left: 5px;
	width: 80%;
	float: left;
	position: relative;
}
.miaosha_r{
	margin-top: 20px;
	margin-right: 69px;
	width: 10%;
	float: right;
}
.miaosha_product_li{
	float: left;
	width: 185px;
	height: 230px;
}
.miaosha_product_k{
	text-align: center;
	height: 187px;
}
.miaosha_product_k:hover .miaosha_product_name a{
	color: #e01222;
}
.miaosha_product_pic{
	box-shadow: 
	height: 139px;
}
.miaosha_product_k:hover img{
	padding-top: 5px;
}
.miaosha_product_li img{
	padding-top: 10px;
	transition:all 0.2s ease-out;
}
.miaosha_product_name{
	width: 178px;
	height: 40px;
	overflow: hidden;
	text-align: left;
}
.miaosha_product_name a{
	font-size: 10px;
	color: #999999;
}
.money_biao{
	font-weight: normal;
	font-size: 10px;
	margin-left: 4px;
	margin-right: 2px;
}
.miaosha_product_price{
	margin-top: 4px;
	font-weight: bold;
	float: left;
	color: #e01222;
	font-size: 20px;
}
.used_price{
	margin-left: 7px;
	font-weight: normal;
	font-size: 10px;
	color: #999;
}
.left1{
	display: block;
	background: #e6e6e6;
	width: 20px;
	height: 48px;
	line-height: 48px;
	position: absolute;
	top: 40%;
	left: 0;
}
.right1{
	display: block;
	background: #e6e6e6;
	width: 20px;
	height: 48px;
	line-height: 48px;
	position: absolute;
	top: 40%;
	right: 0;
}
.faxian{
	width: 402px;
	margin:0 3px 0 0px;
	margin-left: 17px;
}
.faxian_head{
	line-height: 54px;
	height: 54px;
	background: -webkit-linear-gradient(135deg, #3a8c95 95%,transparent 0);
	padding:0 10px 0 0px; 
}
.faxian_word{
	color:#fff; 
	font-size: 25px;
}
.faxian_zhe{
	display: block;
	background:url(../images/zhejiao.png) -191px -98px no-repeat;
	width: 20px;
	height: 54px;
}
.faxian_li{
	float: left;
}
.faxian_small{
	margin-top: 5px;
}
.faxian_body_ul{
	width: 100%;
}
.faxian_body_li{
	padding-top: 10px;
	padding-left: 10px;
	float: left;
	width: 50%;
	background: #fff;
	height: 133px;
	border-right:1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.faxian_body_li2,.faxian_body_li2,.faxian_body_li2{
	border-right:0;
}
.faxian_body_p{
	width: 48%;
	float: left;
	color:#4897a0;
}
.faxian_body_li img{
	transition:all .5s ease-out;
}
.faxian_body_li:hover img{
	margin-left: -10px;
}
.glyphicon-play-circle{
	margin-left: 5px;
}
.youpin{
	width: 402px;
	background: #fff;
	margin:0 1px 0 3px;
	height: 456px;
}
.youpin_head{
	line-height: 54px;
	height: 54px;
	background: -webkit-linear-gradient(135deg, #6e3b80 95%,transparent 0);
	padding:0 10px 0 0px; 
}
.youpin_word{
	color:#fff; 
	font-size: 25px;
}
.youpin_zhe{
	display: block;
	background: url(../images/zhejiao.png) -1px -162px no-repeat;
	width: 20px;
	height: 54px;
}
.youpin_li{
	float: left;
}
.youpin_slider_li{
	width: 8px;
	height: 8px;
	border-radius: 90px;
	background: #c8c8c8;
}
.active2{
	background: #e01222;
}
.active2 a{
	color:#fff;
}
.youpin_img{
	float: left;
	margin:0 10px 0 10px; 
}
.youpin_content_p{
	float: left;
	width: 330px;
	margin:14px;
}
.youpin_content_p a{ 
	color:#666666;
}
.sup_sep{
	float: left;
    width: 330px;
    height: 1px;
    margin:20px 0px 6px 39px;
    background: #eee;
}
.youpin_slider{
	width: 100px;
	margin:0 auto;
	margin-top: 10px;
}
.youpin_slider_li{
	float: left;
	margin:5px 10px 5px 10px;
}
.youpin_body{
	position: relative;
}
.left-shift{
	position: absolute;
	top: 44%;
	left: 0;
	width: 15px;
	height: 30px;
	line-height: 30px;
	background-color:#eee;
	color:#797173;
}
.right-shift{
	position: absolute;
	top: 44%;
	right: 0;
	width: 15px;
	height: 30px;
	line-height: 30px;
	background-color:#eee;
	color:#797173;
}
.rank{
	width: 384px;
	background: #fff;
	margin:0 1px 0 5px;
	height: 456px;
}
.rank_head{
	line-height: 54px;
	height: 54px;
	background: -webkit-linear-gradient(135deg,#e66905 95%,transparent 0);
	padding:0 10px 0 0px; 
}
.rank_word{
	color:#fff; 
	font-size: 25px;
}
.rank_zhe{
	display: block;
	background: url(../images/zhejiao.png) -193px -2px no-repeat;
	width: 20px;
	height: 54px;
}
.rank_li{
	float: left;
}
.fright{
	float: right;
}
.container1{
	width: 1297px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 58px;
}
.rank_spacer{
	float: left;
	width: 1px;
	height: 10px;
	background: #eee;
}
.ranl_type{
	float: left;
}
.rank_head_ul{
	height: 59px;
}
.rank_head_li{
	text-align: center;
	float: left;
	width: 84px;
	height: 40px;
	line-height:40px;
	border-bottom: 2px solid #fff;
}
.rank_head_li:hover{
	border-bottom: 2px solid #e01222;
}
.rank_head_li a{
	color: grey;
	font-size: 10px;
}
.rank_head_li1{
	margin-left: -163px;
}
.rank_head_li2{
	margin-left: -95px;
}
.rank_head_li3{
	margin-left: -21px;
}
.nav-tabs > li > a:hover {
    border-color:#fff;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.nav-tabs {
     border-bottom: 0; 
}
.rank_top_li{
	float: left;
	width:  120px;
	height: 146px;
	font-size: 10px;
	margin-bottom:24px;
}
.rank1,.ran2,.ran3，.ran4，.ran5{
	padding-left: 10px;
}
.rank_top_li a{
	color:#666;
}
.rank_top_1,.rank_top_2,.rank_top_4,.rank_top_5{
	border-right: 1px solid #eee;
}
.rank_top_1,.rank_top_2,.rank_top_3{
	border-bottom: 1px solid #eee;
}
.lingquan{
	margin-top: 30px;
}
.lingquan_li_1{
	float: left;
	padding:15px;
	margin-right: 20px;
	width: 187px;
	height: 200px;
	color:#fff;
	background: #ea3524;
}
.lingquan_li_1 h1{
	font-size: 20px;
}
.lingquan_gap{
	height: 2px;
	width: 55px;
	background: #fff;
	margin-bottom: 10px;
}
.zhongxin{
	margin-top: 15px;
	border:1px solid #fff;
	padding: 5px;
	width: 140px;
}
.lingquan_li{
	height: 200px;
	background: #fff;
	float: left;
	padding:10px 0 10px 0;
	border-right:1px solid #eee;
}
.lingquan_info{
	height: 180px;
	width: 100px;
	border-top: 4px solid #ea3524;
}
.quan_price{
	color:#ea3524;
	font-size: 35px;
	font-weight: bold;
	height: 45px;
	width: 100%;
}
.quan_price span{
	font-size: 10px;
	font-weight: normal;
}
.quan_desc{
	height: 45px;
	width: 100%;
	font-size: 10px;
	color:#ea3524;
}
.lingquan{
	background: #fff;
}
.quan_limit{
	height: 53px;
	line-height: 53px;
	width: 100%;
	font-size: 10px;
	color:#666;
	background: #eee;
	text-align: center;
}
.more_quan{
	width: 100%;
	height: 26px;
	text-align: center;
	background: #ea3524;
}
.more_quan a{
	color: #fff;
}
.lingquan_info{
	float: left;
	margin-left: 6px;
}
.lingquan_info p{
	margin-bottom: 0;
}
.lingquan_img{
	float: left;
	width: 80px;
	height: 180px;
	overflow:hidden;
	margin-right: 4px;
}
.lingquan_img img{
	transition:all 1s ease;
	margin-left:-80px; 
}
.lingquan_li:hover img{
	margin-left: -60px;
}
.adver3{
	background: #d3d3d3;
	margin-top: 20px;
}
.ad_cover{
			/*background: rgba(0,0,0,1);不覆盖？*/
	min-height: 100px;		
}
.xiangpz_head{
	line-height: 55px;
	height: 55px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.xiang_word{
	font-size: 26px;
	text-align: center;
}
.dash{
	height: 20px;
	margin-top: 20px;
	border-top: 3px dotted #666;
}
.J_live{
	float: right;
	height: 350px;
	width: 389px;
	position: relative;
}
.Live_hd{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 20px;
	height: 36px;
	line-height: 36px;
}
.Live_more{
	float: right;
}
.Live_more a{
	font-size: 10px;
	color: #fff;
}
.live_hd_ic{
	margin-left: 5px;
	margin-top:9px; 
	float: right;
	display: block;
	background:url(../images/sprite_entrylive.png) ;
    background-position: -205px -126px;
    background-size: 237px 170px;
    width: 18px;
    height: 18px;
}
.Live_ind{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 19px;
	width: 100%;
	z-index: 10;
}
.Live_ind_ol{
	width: 150px;
	margin:0 auto;	/*为居中应该母元素设定宽度，子元素设定宽度和margin：0auto*/
}
.Live_ind_li{
	float: left;
	border-radius: 90px;
	width: 10px;
	height: 10px;
	background: #fff;
	margin-right: 20px;
}
.Live_left{
	position: absolute;
	top: 50%;
	left: 0;
	height: 40px;
	line-height: 40px;
	width: 20px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.6);
	z-index: 10;
}
.Live_right{
	position: absolute;
	top: 50%;
	right: 0;
	height: 40px;
	line-height: 40px;
	width: 20px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.6);
	z-index: 10;
}
.active4{
	background: #e01222;
}
.Live_cover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.3);
	height: 350px;
	z-index:5;
}
.Live_play_ic{
	background: url(../images/sprite_entrylive.png) 0 -105px;
	width: 67px;
	height: 67px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 10;
}
.entry_left{
	width: 139px;
	height: 170px;	
	background: #66b687;
	padding-top: 39px;
	color: #fff;
	float: left;
}
.entry_li{
	float: left;
	width: 389px;
	height: 170px;
	margin-right: 18px;
	margin-bottom: 18px;
	position: relative;
}
.entry_li:hover img{
	margin-left: -20px;
	transition:all 0.7s ease-out;
}
.entry_li_1{
	background:#b6d4c3;
}
.entry_li_2{
	background:#ede3cb;
}
.entry_li_3{
	background:#eaccb1;
}
.entry_li_4{
	background:#c2afa3;
}
.entry_li_5{
	background:#aba5ae;
}
.entry_li_6{
	background:#bed6db;
}
.entry_left h1{
	width: 119px;
	display: block;
	font-size: 25px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	margin:0 auto;
	text-align: center;
}
.entry_left p{
	width: 100px;
	margin:0 auto;
	margin-top: 10px;
}
.entry_left2{
	background: #dbcf6e;
}
.entry_left3{
	background: #d78e28;
}
.entry_left4{
	background: #866350;
}
.entry_left5{
	background: #5c5566;
}
.entry_left6{
	background: #498c94;
}
.entry_li_img{
	float: left;
	overflow: hidden;

}
.Live_right_li{
	width: 189px;
	height: 169px;
	position:relative;
	float: right;
	margin-left:5px;
	margin-top: 27px;
	overflow: hidden;
}
.Live_right_li1{
	background: #b9a7bf;
}
.Live_right_li2{
	background: #edcfcd;
}
.Live_right_title{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 79px;
}
.Live_right_li:hover img{
	margin-left: -10px;
	transition:all 0.5s ease-out;
}
.Live_right_title1{
	background: rgba(89,43,89,0.7); 
}
.Live_right_title2{
	background: rgba(217,15,15,0.7); 
}
.Live_right_title h1{
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;
	width: 100px;
	margin:0 auto;
	margin-top: 10px;
	text-align: center;
}
.Live_right_title p{
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}
.ash_pt_hd_li:hover{
	border:1px solid #fff;
}
.ash_pt{
	width: 589px;
	float: left;
	margin-right: 15px;
	margin-bottom: 30px;
}
.ash_pt_hd{
	width: 100%;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #fff;
	float: left;
}
.ash_pt1_hd{
	background: #9c4275;
	padding:0px 10px 0 10px;
}
.ash_pt_hd_ul{
	float: right;
	margin-top: 15px;
}
.ash_pt_hd_li{
	float: left;
	font-size: 15px;
	color:#fff;
	height: 30px;
	line-height: 25px;
	margin-right: 10px;
	background: rgba(255,255,255,0.2);
	border:1px solid #b0b0b0;
	padding:2px;
}
.ash_pt_p1{
	float: left;
	width: 177px;
	overflow: hidden;
}
.ash_pt_p1:hover img{
	margin-left: -13px;
	transition:all 0.5s ease-out;
}
.ash_pt_li h1{
	font-size: 14px;
	color:#974676;
}
.ash_pt_list{
	width: 100%;
	padding:11px;
	float: left;
	background: #fff;
}
.ash_pt_li p{
	font-size: 10px;
}
.ash_pt_li{
	width: 186px;
	height: 130px;
	padding:28px;
	float: left;
	color:#666;
}
.ash_pt_li_left{
	float: left;
	width: 44%;
}
.ash_pt_li:hover img{
	margin-left: -3px;
	transition:all 0.3s ease-out;	
}
.ash_pt_img{
	float: right;
	width: 56%;
}
.ash_pt_li1,.ash_pt_li2{
	border-bottom: 2px solid #eee;
}
.ash_pt_li1,.ash_pt_li3{
	border-right: 2px solid #eee;
}
.ash_bo_ul{
	float: left;
	width: 100%;
}
.ash_bo_li{
	float: left;
	width: 178px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
}
.ash_bo_li:hover img{
	margin-left: -10px;
	transition:all 0.5s ease-out;
}
.ash_brand_ul{
	float: left;
	margin-top: 10px;
}
.ash_brand_li{
	margin-left: 11px;
    margin-right: 11px;
    float: left;
}
.ash_brand_spacer{
	float: left;
    width: 1px;
    height: 16px;
    background: #b3b3b3;
    margin: 10px 0 5px 0;
}
.ash_ptth{
	width: 390px;
	float: left;
	margin-right: 15px;
	margin-bottom: 30px;
}
.ash_ptth_li {
    width: 174px;
    height: 130px;
    padding: 28px;
    float: left;
    color: #666;
}
.ash_ptth_li_left{
	float: left;
	width: 50%;
}
.ash_ptth_img{
	float: right;
	width: 50%;
}
.ash_ptth_li:hover img{
	margin-left: -5px;
	transition:all 0.5s ease-out;
}
.ashth_bo_li {
    float: left;
    width: 174px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
}
.ashth_bo_li:hover img{
	margin-left: -10px;
	transition:all 0.5s ease-out;
}

.ash_ptth_li h1{
	font-size: 14px;
	color:#974676;
}
.ash_ptth_li p{
	font-size: 10px;
}
.ashth_brand_li {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.ash_pt15_hd{
	background: #5c5a98;
}
.ash_pt16_hd{
	background: #4f7799;
}
.ash_pt17_hd{
	background: #566f55;
}
.tese{
	float: left;
	margin-bottom: 15px;
}
.tese_li{
	float: left;
	position: relative;
	margin-right: 10px;
}
.tese_li_hd{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(129,95,75,0.7);
	color:#fff;
	height: 60px;
}
.tese_li_hd h1{
	margin: 5px 0 5px 0;
	font-size: 20px;
}
.tese_li_hd p{
	font-size: 10px;
}
.mgg{
	margin-bottom: 20px;
}
.mgg_li{
	width: 19%;
	float: left;
	background: #fff;
	padding:4px;
	margin:5px;
	border:1px solid #fff;
}
.mgg_li:hover{
	border:1px solid #e01222;
}
.mgg_li_img{
	width: 97%;
}
.mgg_name{
	color: #666;
	font-size: 10px;
	width: 100%;
	height: 34px;
	overflow: hidden;
}
.mgg_price{
	color: #e01222;
	font-size: 10px;
}
.service_icon{
	margin-top: 29px;
	margin-right: 10px;
	float: left;
	width: 36px;
	height: 42px;
}
.service_icon1{
	background: url(../images/ico_service.png) 0 0;
}
.service_icon2{
	background: url(../images/ico_service.png) 0 -43px;
}
.service_icon3{
	background: url(../images/ico_service.png) 0 -87px;
}
.service_icon4{
	background: url(../images/ico_service.png) 0 -129px;
}
.service_li{
	padding-left: 32px;
	width: 25%;
	float: left;
	height: 100px;
	line-height: 100px;
}
.service_title{
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.footer{
	width: 100%;
	background:#eaeaea; 
}
.service{
	height: 100px;
	border-bottom: 1px solid #c4c4c4;
}
.footer_nav{
	padding-bottom: 20px;
	border-bottom: 1px solid #c4c4c4;
}
.footer_nav_li_ul_li h1{
	font-size: 15px;
	color: #666;
	font-weight: bold;
}
.footer_nav_li_ul_li a{
	font-size: 10px;
	color: #666;
}
.footer_nav_li{
	margin-right: 143px;
	float: left;
}
.footer_help{
	float: right;
	width: 190px;
	height: 168px;
	overflow: hidden;
}
.footer_help h1{
	text-align: center;
	font-size: 15px;
	color: #666;
	font-weight: bold;
}
.footer_help p{
	font-size: 10px;
	color: #666;
}
.footer_help_cover{
	width: 190px;
	min-height: 168px;
	background: url(../images/ico_footer.png);
}
.footer_help_more a{
	color:#666;
	font-size: 10px;
}
.footer_help_more{
	float: right;
}
.footer_nav1{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer_nav1_ul{
	width: 92%;
	margin:0 auto;
}
.footer_nav1_spacer{
	float: left;
    width: 1px;
    height: 10px;
    margin: 6px 10px 0 10px;
    background: #ccc;
}
.footer_nav1_li{
	float: left;
}
.footer_nav1_li:hover a{
	color: #e01222;
}
.footer_nav1_li a{
	color:#666;
	font-size: 10px;
}
.copyright_nav1_ul{
	margin:0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.copyright_nav1_ul1{
	width: 65%;
}
.copyright_nav1_ul2{
	width: 70%;
}
.copyright_nav1_ul3{
	width: 42%;
}
.copyright_nav1_ul4{
	width: 16%;
}
.copyright_nav1_li{
	float: left;
	color: #a6a6a6;
	font-size: 10px;
}
.copyright_nav1_li a{
	color: #a6a6a6;
	font-size: 10px;
}
.copyright_auth{
	width: 60%;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
.copyright_auth_li{
	float: left;
	width: 103px;
	height:32px;
	margin:0 5px 0 5px;
}
.copyright_auth_li1{
	background: url(../images/ico_footer.png) 0px -400px;
}
.copyright_auth_li2{
	background: url(../images/ico_footer.png) -103px -400px;
}
.copyright_auth_li3{
	background: url(../images/ico_footer.png) 0px -432px;
}
.copyright_auth_li4{
	background: url(../images/ico_footer.png) -103px -432px;
}
.copyright_auth_li5{
	background: url(../images/ico_footer.png) 0px -464px;
}
.copyright_auth_li6{
	background: url(../images/ico_footer.png) -103px -464px;
}