
/*
*  author: AUI
*  home.css
*  http://azenui.com/
*  http://www.sucaihuo.com/
*  技术支持 素材火
*/
.aui-head-box{
	width:100%;
	height:70px;
	background:#fff;
	color:#4c4847 !important;
	box-shadow:0 0 3px #939da6;
	z-index:200;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.aui-head-logo{
	position:relative;
	float:left;
	width:180px;
	height:70px;
	overflow:hidden;
}
.aui-head-logo a{
	position:relative;
	float:left;
	width:150px;
	height:70px;
	overflow:hidden;
	display:block;
}
.aui-head-logo a img{
	position:relative;
	float:left;
	width:150px;
	height:70px;
	overflow:hidden;
	display:block;
}
.aui-head-menu{
	float:left;
}
.aui-head-menu ul li{
	position:relative;
	float:left;
	padding:0 20px;
	height:70px;
	line-height:70px;
	cursor:pointer;
}
.aui-head-menu ul li a{
	display:block;
	width:100%;
	height:70px;
	line-height:70px;
	text-align:center;
	font-size:14px;
}
.aui-head-login{
	float:right;
	height:70px;
	line-height:70px;
	text-align:center;
	font-size:14px;
}
.aui-head-login ul li{
	float:right;
	height:70px;
	line-height:70px;
	text-align:center;
	font-size:14px;
	padding:0 10px;
}
.aui-head-register{
	padding:6px 15px;
	width:55px;
	height:25px;
	line-height:25px;
	border-radius:3px;
	background:#00c0ff;
	color:#fff;
}
.aui-head-register:hover{
	color: #ffffff;
	background:#00b5e5;
}

.aui-firstBox-title{
	padding-top:50px;
	text-align:center;
}
.aui-firstBox-title h1{
	margin-top:0;
	margin-bottom:20px;
	font-size:24px;
	color:#414141;
}
.aui-firstBox-title p{
	margin-bottom:50px;
	font-size:14px;
	color:#545454;
}


.aui-firstBox-list-service{
	margin-bottom:20px;
	padding:30px 50px 0;
	width:33.333333%;
	height:220px;
	float:left;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	text-align:center;
}
.aui-service-img{
	width:50px;
	height:50px;
	margin:0 auto;
}
.aui-service-img img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-firstBox-list-service h2{
	font-size:16px;
	font-weight:600;
	color:#1e1e1e;
	padding:10px 0;
}
.aui-firstBox-list-service p{
	line-height:20px;
	font-size:12px;
	color:#8b8b8b;
}
.aui-second-box{
	padding-top:50px;
	width:100%;
	height:740px;
	text-align:center;
	background-color: #f5f4f4;
}
.aui-second-info-fl{
	width:25%;
	float:left;
}
.aui-second-info-fr{
	width:25%;
	float:left;
}
.aui-info-fl-top{
	position:relative;
	cursor:pointer;
	margin-top:50px;
}
.aui-info-fl-top h3{
	margin-bottom:20px;
	color:#4d4d4d;
	font-weight:500;
	font-size:16px;
	text-align:right;
}
.aui-info-fl-top p{
	line-height:20px;
	color:#888888;
	font-size:14px;
	text-align:right;
}
.aui-second-info-fr .aui-info-fl-top h3{
	margin-bottom:20px;
	color:#4d4d4d;
	font-weight:500;
	font-size:16px;
	text-align:left;
}
.aui-second-info-fr .aui-info-fl-top p{
	line-height:20px;
	color:#888888;
	font-size:14px;
	text-align:left;
}
.aui-second-info-ce{
	width:50%;
	float:left;
}
.aui-second-info-ce img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-partner ul li{
	width:140px;
	height:45px;
	margin:15px 25px;
	display:block;
	float:left;
}
.aui-partner ul li a{
	width:140px;
	height:45px;
	display:block;
	float:left;
}
.aui-partner ul li a img{
	width:140px;
	height:45px;
	display:block;
	border:none;
}

.aui-footer{
	position:relative;
	z-index:100;
	padding-top:50px;
	width:100%;
	min-height:400px;
	background-color:#021823;
}
.aui-footer-list{
	width:14%;
	float:left;
}
.aui-footer-title{
	margin-bottom:15px;
	line-height:32px;
	font-size:15px;
	color:#dddee2;
	width:62px;
	text-align:center;
	border-bottom:2px solid #00b5e5;
}
.aui-footer-list ul li {
	margin-bottom:12px;
	height:14px;
	line-height:14px;
}
.aui-footer-list ul li a {
	font-size:12px;
	color:#ddd;
	transition: all 0.3s;
}
.aui-footer-list-right{
	width:230px;
	height:220px;
	float:right;
}
.aui-footer-code{
	width:120px;
	height:120px;
	float:right;
}
.aui-footer-code img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-footer-ewm{
	margin-top:10px;
	margin-bottom:10px;
	width:123px;
	height:14px;
	line-height:14px;
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
	float:right;
}
.aui-footer-info{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 82px;
	border-top: 1px solid #10242f;
}
.aui-footer-copy{
	font-size: 12px;
	line-height: 82px;
	color: #999;
}
.aui-footer-copy a{
	padding-left:30px;
	font-size: 12px;
	line-height: 82px;
	color: #fff;
}
.aui-price-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/price.png") no-repeat;
	background-size: 100% 100%;
}
.aui-case-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/case.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-product-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/pd-bj.jpg") no-repeat;
	background-size:cover;
}
.aui-docs-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/docs.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-about-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/about.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-partners-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/partners.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-joinus-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/joinus.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-service-bj{
	padding-top: 150px;
	width: 100%;
	height: 440px;
	text-align: center;
	color: #FFFFFF;
	background: url("../images/service.jpg") no-repeat;
	background-size: 100% 100%;
}
.aui-price-text h1{
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 36px;
}
.aui-price-text h2{
	font-size: 28px;
	line-height: 28px;
}
.aui-price-text p{
	margin-bottom: 36px;
	font-size: 12px;
	line-height: 12px;
}
.aui-list-pr-box{
	padding:80px 0;
}
.aui-list-pr-box ul li{
	padding-top: 40px;
	width:260px;
	height: 350px;
	text-align: center;
	border-top: 3px solid;
	box-shadow: 0 5px 5px #D5D5D5;
	background-color: #FFFFFF;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	float:left;
	margin-right:32px;
}
.aui-list-pr-box ul li:hover{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
	box-shadow: 0 10px 10px #ddd;
	cursor:pointer;
}
.aui-list-pr-box ul li div{
	width:90px;
	height:90px;
	margin:0 auto;
}
.aui-list-pr-box ul li div img {
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-list-pr-box ul li .aui-info-bz{
	font-size: 14px;
	color: #2c2c2c;
	line-height: 14px;
	padding:20px 0;
}
.aui-list-pr-box ul li .aui-info-jg{
	margin-bottom: 23px;
	font-size: 14px;
	color: #35aae6;
}
.aui-list-pr-box ul li .aui-info-jg span{
	font-size: 32px;
	color: #48d3f8;
}
.aui-list-pr-box ul li .aui-info-btn{
	margin: 0 auto;
	width: 200px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	background-color: #35aae6;
}
.aui-list-pr-box ul li .aui-info-btn a{
	margin: 0 auto;
	width: 200px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	background-color: #48d3f8;
	display:block;
}
.aui-list-pr-box .aui-list-orange .aui-info-jg span{
	color:#fb8f30;
}
.aui-list-pr-box .aui-list-red .aui-info-jg span{
	color:#d72026;
}
.aui-list-pr-box .aui-list-green .aui-info-jg span{
	color:#28d32f;
}

.aui-list-pr-box .aui-list-blue{
	border-top: 3px solid #48d3f8;
}
.aui-list-pr-box .aui-list-orange{
	border-top: 3px solid #fb8f30;
}
.aui-list-pr-box .aui-list-red{
	border-top: 3px solid #d72026;
}
.aui-list-pr-box .aui-list-green{
	border-top: 3px solid #28d32f;
}
.aui-list-pr-box .aui-list-orange .aui-info-btn a{
	background:#fb8f30;
}
.aui-list-pr-box .aui-list-red .aui-info-btn a{
	background:#d72026;
}
.aui-list-pr-box .aui-list-green .aui-info-btn a{
	background:#28d32f;
}
.aui-table-responsive{
	width:100%;
}
.aui-table-responsive thead th{
	color: #666;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px solid #ddd;
}
.aui-table-responsive tbody th{
	font-size: 30px;
	font-weight: normal;
	padding: 20px;
	text-align:left;
	border-bottom: 1px solid #ddd;
}
.aui-table-responsive tbody td:first-child{
	color: #666;
	padding-left: 40px;
	text-align: left;
	line-height: 1.42857143;
	vertical-align: top;
}
.aui-table-responsive tbody td{
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 0;
	color: #66bf54;
	font-size: 18px;
	padding: 20px;
	text-align: center;
}
.aui-table-responsive .aui-icon-yes{
	width:22px;
	height:22px;
	background:url(../images/icon-d.png) no-repeat center;
	background-size:24px;
	display:block;
	margin:0 auto;
}
.aui-case-box{
	padding:80px 0;
}
.aui-case-box ul li{
	position: relative;
	float: left;
	width: 32%;
	text-align: center;
	margin-right: 2%;
	margin-bottom: 25px;
}
.aui-case-box-info{
	border-radius:3px;
	padding: 34px ;
	border: 1px solid #e4e8ea;
}
.aui-case-box-info div{
	width: 140px;
	height: 45px;
	margin:0 auto;
}
.aui-case-box-info div img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-case-box-info h3{
	font-size: 18px;
	font-weight: bold;
	padding: 25px 0;
}
.aui-case-box-info p{
	height: 96px;
	color: #868c93;
	text-align: justify;
	line-height: 24px;
	font-size: 14px;
}
.aui-case-box ul li:hover{
	box-shadow: 0 8px 20px rgba(102,136,153,.25);
	-webkit-box-shadow: 0 8px 20px rgba(102,136,153,.25);
	-moz-box-shadow: 0 8px 20px rgba(102,136,153,.25);
}
.aui-login-box{
	box-shadow: 0 8px 20px rgba(102,136,153,.25);
	-webkit-box-shadow: 0 8px 20px rgba(102,136,153,.25);
	-moz-box-shadow: 0 8px 20px rgba(102,136,153,.25);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -195px;
	margin-top: -241px;
	width: 390px;
	height: 482px;
	background:#f9fcff;
}
.aui-login-info{
	padding: 48px 48px 0;
	font-size: 14px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.aui-login-input{
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	height: 34px;
	border-bottom: 1px solid #d4d8dc;
}
.aui-login-input input {
	width: 294px;
	padding: 8px 10px;
	font-size: 14px;
}
.aui-login-remember{
	height: 54px;
	font-size: 12px;
	color: #666;
}
.aui-login-remember a{
	float: right;
	color: #666;
}
.aui-login-btn{
	position: relative;
	margin-bottom: 48px;
	padding: 0;
	width: 294px;
	line-height: 42px;
	height: 42px;
	text-align: center;
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	border-bottom: 0;
	background-color: #00c0ff;
	cursor: pointer;
	overflow: hidden;
}
.aui-login-btn a{
	position: relative;
	margin-bottom: 48px;
	padding: 0;
	width: 294px;
	line-height: 42px;
	height: 42px;
	text-align: center;
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	border-bottom: 0;
	background-color: #00c0ff;
	cursor: pointer;
	overflow: hidden;
	display:block;
}
.aui-login-register {
	height: 47px;
	text-align: right;
	color: #666;
}
.aui-login-register a{
	color: #00c0ff;
	cursor: pointer;
}
.aui-p{
	position: absolute;
	bottom: -47px;
	left: 50%;
	margin-left: -195px;
	width: 390px;
	text-align: center;
	color: #737980;
	font-size:12px;
}
.aui-docs-wrap{
	padding:50px 0;
}
.aui-docs-wrap a:hover{
	text-decoration: underline;
}
.aui-docs-left{
	width:760px;
	float:left;
}
.aui-docs-right{
	float:right;
	width:280px;
}
.aui-docs-section{
	width:378px;
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.aui-docs-content h2{
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2eaec;
	padding-left: 4px;
	margin-bottom: 30px;
	font-weight: bold;
}
.aui-docs-section h3{
	font-size: 16px;
	padding-left: 10px;
	border-left: 2px solid #21d376;
	line-height: 1;
	margin-bottom: 15px;
}
.aui-docs-section ul li{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 8px;
	line-height: 1.5em;
	padding-left: 12px;
	position: relative;
}
.aui-docs-section ul li a{
	color: #428bca;
	font-size: 16px;
}
.aui-docs-section ul li:before{
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	background-color: #d0d3dc;
}
.aui-docs-widget{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
	border: 1px solid #e2eaec;
	margin-bottom: 20px;
}
.aui-docs-widget h3{
	font-size: 16px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e2eaec;
}
.aui-docs-widget ul li{
	margin-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.aui-docs-widget ul li a{
	color: #428bca;
}
.aui-price-img{
	width:30%;
	float:left;
}
.aui-product-text{
	width:70%;
	float:right;
	padding-left:100px;
}
.aui-price-img img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}
.aui-product-text h2{
	font-size: 32px;
	font-weight: 400;
	margin: 60px 0 16px 0;
}
.aui-product-text small{
	margin-left: 12px;
	color:#666;
}
.aui-product-text p{
	font-size: 14px;
	line-height: 1.6;
	color:#888;
}
.aui-about-title{
	padding:80px 0;
}
.aui-about-title h2{
	margin-bottom: 20px;
	font-size: 24px;
	color: #313131;
	line-height: 1;
	letter-spacing: 2px;
}
.aui-about-title p{
	font-size: 14px;
	color: #616161;
	line-height: 2;
}
.aui-course-list{
	margin:0 auto;
	width:800px;
}
.aui-course-item-time{
	position: relative;
	height: 110px;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	float: left;
}
.aui-course-item-time .aui-round{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 10px;
	background-color: #00b5e5;
	line-height: 12px;
	border: 3px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 1px #00b5e5;
	-moz-box-shadow: 0 0 0 1px #00b5e5;
	box-shadow: 0 0 0 1px #00b5e5;
}
.aui-course-item-time:after {
	content: '';
	position: absolute;
	right: 6px;
	top: 30px;
	bottom: 20px;
	width: 1px;
	background-color: #d8d8d8;
}
.aui-course-item-text{
	margin-left: 120px;
	color: #616161;
	height: 110px;
}
.aui-course-item-text p{
	padding-right:40px;
	font-size:14px;
	color:#888;
}
.aui-join-us-item{
	float:left;
	margin:20px 10px;
	width: 45%;
	background:#f6f6f6;
	box-shadow: 0 3px 3px #ededed;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.aui-join-us-item:hover{
	box-shadow: 0 12px 12px #ddd;
}
.aui-join-us-item h2{
	position: relative;
	padding: 0 22px;
	width: 100%;
	height: 60px;
	line-height: 59px;
	font-size: 16px;
	color: #fff;
	background-color: #34c8e6;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.aui-join-us-text{
	padding: 32px 25px;
	width: 100%;
	height: 106px;
	background-color: #f6f6f6;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.aui-join-us-text p{
	display: block;
	width: 100%;
	font-size: 12px;
	line-height: 12px;
	color: #777777;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom:20px;
}
.aui-join-us-text p span{
	font-weight:600;
}
.aui-join-us-item h2 a{
	display:block;
	background:url("../images/add-to.png") no-repeat;
	width:22px;
	height:22px;
	background-size:22px;
	text-indent:-9999px;
	position:absolute;
	right:20px;
	top:20px;
}
.aui-blog-list{
	padding:50px 0;
}
.aui-blog-left{
	width:350px;
	float:left;
	padding:20px;
	background:#ebecee;
}
.aui-blog-right{
	width:760px;
	float:right;
	padding:30px;
	background:#ebecee;
}
.aui-blog-title{
	height:29px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 10px;
}
.aui-blog-title h3{
	position: relative;
	font-size: 18px;
	float: left;
	line-height: 1.5;
	margin: 0 0 -2px 0;
	border-bottom: 2px solid #3782E7;
}
.aui-blog-tag a{
	font-size: 13px !important;
	padding: 2px 8px;
	background-color: #EEF1F3;
	border: 1px solid #E5E5E5;
	margin: 0 3px 6px 0;
	position: relative;
	display: inline-block;
	color: #A3A3A3;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
.aui-blog-tag a:hover{
	color: #fff;
	background-color: #3782E7;
	text-decoration: none;
	border-color: #3782E7;
}
.aui-blog-right-item-img{
	width:150px;
	height:150px;
	overflow:hidden;
	float:left;
}
.aui-blog-right-item-img img{
	border-radius: 3px;
	width: 100%;
	height:100%;
	display:block;
	border:none;
	vertical-align: bottom;
}
.aui-blog-right-item-text{
	float: left;
	width: 520px;
	padding-left: 30px;
}
.aui-blog-right-item-text h3{
	margin: 0 0 5px 0;
	padding: 0;
	color: #373737;
	font-size: 22px;
	clear: none;
}
.aui-blog-right-item-text h4{
	color: #3782E7;
}
.aui-blog-right-item-text p{
	font-size: 14px;
	color: #666;
	margin: 0;
	line-height: 1.8;
}
.aui-blog-right-item-text a{
	color: #1968d2;
	font-size:12px;
}