    *{
    	margin: 0;
    	padding: 0;
    	font-family: 微软雅黑;
    }
    body{
		background: url(../images/gl_background.jpg)no-repeat;
		background-size: 100%; 
		}
    li{
    	list-style: none;
    }
    input{
    	outline: none;
    }
    a,a:focus,a:hover{
    	text-decoration: none;
    	font-family: 微软雅黑;
    	color: #ff9d00;
    }
   
    .clearfix:after{
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		}
		.clearfix{
		*+height: 1%;//清除IE高问题
		}
		.container {
		    width: 91.6%;
		}
   .labels{
			float: left;
			width: 30%;
			margin-top: 4px;
		}
		.labels label{
			line-height: 24px;
			margin-top: 10px;
		}
		.inputs{
			float: right;
			width: 70%;
		}		
		.yanzhengma{
			width: 100%;
			float: left;
			margin-top: 10px;
			text-align: center;
		}
		input{
			border-radius: 4px;
			border:1px solid #eee;
		}
		.login_close,.register_close{
		    display: block;
		    background: #000;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 90px;
		    position: absolute;
		    right: -14px;
		    top: -14px;
		    font-size: 20px;
		    transition:all 2s ease;
		}
		.login-alert h1,.register-alert h1{
			float: left;
			width: 100%;
			text-align:center;
			font-size: 20px;
			color: rgba(0,0,0,0.8);
		}
		.login-alert, .register-alert {
		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 287px;
		    height: 290px;
		    z-index: 30;
		    text-align: center;
		    background: #fff;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    padding-left: 5px;
		    box-shadow: 3px 3px 10px #747474;
		}
		.login_btn_bar,.register_btn_bar{
			    width: 100%;
			    float: left;
			    height: 39px;
			    margin: 0px auto 0 auto;		
		}
		.change{
				position: absolute;
				right: 2px;
				bottom: 2px;
		}
		.login_btn,.register_btn{			
			width: 100px;		
			text-align: center;
			height: 30px;
			border-radius: 4px;
			border:1px solid #eee;
			background: #ff9d00;
			color: #fff;
			margin:7px auto 0 auto;
		}
		.register_btn:hover,.login_btn:hover{
			border:1px solid #ff9d00;
			background: #ea9300;
		}
		
		.changezc,.changedl{
			color:#80afff;
		}
		#weather{
			display: block;
		    height: 50px;
		    line-height: 48px;
		    float: right;
		    font-size: 14px;
		    margin-left: 10px;
		}
		.weather{
			margin-left:4px;
		}
		.form_item{
			padding-left: 10px;
			margin-top: 10px;
			float:left;
			width: 80%;
			height:30px;
			border:1px solid #eee;
			border-radius:4px;
		}
   		.head-logo{
   			height: 49px;
   			line-height: 49px;
   		}
   		.banner{
			padding-bottom: 31%;
			position: relative;
		}
   		.search_bar{
			position: absolute;
		    bottom: 20px;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 31.87%;
		    height: 40px;
		    z-index: 10;
		}
		#search{
			padding: 5px;
			color: #000;
			border:0;
			width: 89.8%;
			height: 40px;
			border-radius: 3px 0 0 3px ;
			background:rgba(255,255,255,0.8);
		}
		.glyphicon-search{
			display: block;
			width: 10.19%;
			height: 40px;
			line-height:40px;
			text-align: center;
			background: rgba(255,144,0,0.6);
			color: #000;
			float: right;
			margin-top: -1px;
			border-radius:0 3px 3px 0;
			font-size: 20px;
		}
		.glyphicon-search:hover{
			background:  rgba(255,144,0,0.8);
		}
   		.navbar{
			background: rgba(0,0,0,0.6);
			height: 50px;
			line-height: 50px;
			border:0;
			z-index: 50;
		}
		.navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-toggle .icon-bar {
		    background: #fff;
		}
		.nav .active{
			background: #ff9d00;
		}
		.nav>li>a:focus, .nav>li>a:hover{
			background:#ff9d00;
		}
		.navbar-nav{
			margin-left: 1.59%;
		}
		.nav-lan {
		    margin: 18px 12px 0 2px;
		    background: #fff;
		    height: 14px;
		    width: 1px;
		}
		.nav_spacer{
			width: 1px;
			height: 14px;
			margin: 18px 0;
			border-radius: 90px;
			background: #8f8f8f; 
		}
		.navbar a,.navbar{
			color: #fff;
			font-size: 17px;
		}
		.service{
			position: fixed;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background: url(../images/service.jpg);
			background-size: cover;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(151,151,151,0.8);
			z-index: 30;
		}
		.service p{
			font-size: 20px;
		    margin-left: 11px;
		    margin-top: 91px;
		}
		.service_close{
			display: block;
			float: right;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			box-shadow: -2px 2px 10px rgba(151,151,151,0.8);
		}
		.maomi_pic{
		    position: fixed;
		    left: -16px;
		    bottom: 45px;
		    z-index: 50;
		    transition:all 1s ease;
		}
		.maomi_eyeout{
			width: 13px;
		    height: 13px;
		    border-radius: 20px;
		    position: absolute;	    
		    left: 42px;
		}
		.maomi_eyeout1{
			top: 24px;
		}
		.maomi_eye{
			background: #000;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 90px;
		}
		.maomi_eyeout2{
			top: 65px;
		}
		.helping_alert{
			width: 100%;
			position: fixed;
			bottom: 0;
			left: -100%;
			padding: 1%;		
			background: rgba(0,0,0,0.7);
			color: #fff;
			z-index: 60;
			transition:all 1s ease;
		}
		.helping_alert_close{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    font-size: 25px;
		}
		.contact_us{
			width: 50%;
			float: left;			
		}
		.contact_us_li{
			width: 100%;
		    height: 2em;
		    line-height: 2em;
		    text-align: center;
		}
		.contact_us_head,.attention_us_head{
			font-size: 20px;
		    text-align: center;
		    margin-bottom: 2%;
		}
		.contact_us_body,.attention_us_body{
			width: 100%;
			float: left;
		}
		.attention_us{
			width: 50%;
			float: left;
			border-left: 1px solid #fff;
		}
		.attention_us_li{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
		}
		.wechat_head,.qq_head{
		    width: 100%;
		    margin-bottom: 1%;
		    font-size: 17px;
		}
		.wechat_ma,.qq_ma{
			width: 100%;
			float: left;
		}
		.wechat_ma img,.qq_ma img{
			width: 60%;
		}
		.register{
			float: right;
			height: 49px;
		    line-height: 49px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login{
			float: right;
		    height: 49px;
		    line-height: 49px;
		    margin-right: 0.4%;
		    width: 40px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login a{
			margin-right: 0.8%;
			margin-left:  0.8%;
		}
		.head_row {
	    float: left;
	    width: 100%;
	    height: 101px;
	    position: relative;
		margin-bottom: 30px;
		}
		 .head_row h1{
			text-align: center;
			margin-top:20px;
		}
		.head-line1{
		    position: absolute;
		    left: 16%;
		    top: 55px;
		    width: 17%;
		    height: 6px;
		    border-radius: 0px 200px 0px 200px;
		    background: linear-gradient(45deg,transparent 0, #ff9d00 100%);
		}
		.head-line2 {
			position: absolute;
		    right: 16%;
		    top: 55px;
		    width: 17%;
		    border-radius: 0px 200px 0px 200px;
		    height: 6px;
		    line-height: 20px;
		    background: linear-gradient(45deg,#ff9d00 0,transparent 100%);
		}
		.sub_head{
		    width: 28.9%;
		    margin: 20px auto;
		    height: 56px;
		    line-height: 56px;
		    text-align: center;
		}
		.footer{
			margin-top: 40px;
			float: left;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #3b3b3b;
			color: #fff;
			font-size: 15px;
			text-align: center;
		}
		.jingqu{
			float: left;
    		width: 100%;					
		}
		.jingqu_li{
			background: rgba(255,255,255,0.7);
			border-radius: 4px;
			overflow: hidden;
			padding: 2px;
			margin-top: 20px;
			border:1px solid #eee;
			margin-right: 6px;
			transition:all 0.5s ease;
		}
		.jingqu_namep{
			margin-left: 10px;
			font-size: 20px;
			line-height: 30px;
		}
		.jinqu_btns{
			float: left;
		    width: 80px;
		    height: 37px;
		    line-height: 37px;
		    text-align: center;
		    border-radius: 3px;		    
		    color: #fff;
		    margin-top: 20px;
		    margin-right: 20px;
		    font-size: 15px;
		    transition:all 0.7s ease;
		}
		.buy_ticket{
			background: #ff4000;
		}
		.buy_ticket:hover{
			background: #ea3a00;		
		}
		.buy_ticket:hover a{
			font-size: 16px;
		}
		.learn_more{
			background: #ff9d00;
		}
		.learn_more:hover{
			background:#ec9400;
			font-size: 16px;
		}
		.jinqu_btns a{
			color: #fff;
			font-size: 15px;
		}
		.jingqu_li:hover{
		    background: #eee;
		    border-right: 6px solid #ff9d00;
		    margin-right: 0;
		}
		.jingqu_li h1 a{
			font-size: 30px;
		}
		.jingqu_li_pic{
			float: left;
		    width: 20%;
		    padding-top: 2%;
		}
		.jingqu_li_intro{
			float: left;
			width: 70%;
			padding:10px;
			margin-left: 20px;
			overflow: hidden;
		}
		.jingqu_body{
			margin-top: 10px;
			width: 100%;
			font-size: 15px;
		}
		.jingqu_li_pic img{
			width: 100%;
			height: 100%;
		}

		.page_nav{
			margin-top: 50px;
			margin-right: 125px;
			height: 20px;
			float: right;
		}
		.page_nav_li{
			border:1px solid #747474;
			float: left;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 20px;
			border-radius: 4px;
			margin-left: 20px;
		}
		.page_nav_li:hover{
			background: #ff9d00;
			color: #fff;
		}
		.page_nav_li a{
			background: transparent;
			border:0;
		}
		
		.jingqu h1 {
		    margin: 0;
		    padding: 0;
		    margin-top: 1%;
		}
    	.nav-tabs{
    		border:0;
    	}
    	.next{
    		border:1px solid #747474;
			float: left;
			text-align: center;
			line-height: 30px;
			font-size: 20px;
			border-radius: 4px;
			margin-left: 20px;
    		width: 150px;
    		font-size: 17px;
    		color: #ff9d00;
    		cursor:pointer;
    	}
    	.nav-tabs>li>a{
    		line-height:30px;
    		height: 27px; 
    		border:0;
    	}
    	.nav-tabs>li>a:hover{
    		background: #ff9d00;
    		color: #fff;
    	}
    	.page_nav.nav li a{
    		padding:0;
    	}
    	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    		border:0;
    		background: transparent;
    		color: #fff;
    	}
  		.navbar-collapse{
    		z-index: 20;
    	}
    	.nav .active1{
			background: #ff9d00;
		}
		.nav .active1 a{
			color: #fff;
		}
@media (max-width:1006px){
		.navbar-collapse{
			background: rgba(0,0,0,0.6);
		}
		.nav>.nav_spacer,#weather,.login,.register,.nav1,.service{
			display: none;
		}
		.nav>li{
			margin-right: 1.46%;/*20px;*/
		}
	}
@media(max-width: 750px){
		.page_nav {
		    margin-right: 0px;
		    height: 20px;
		    float: right;
		    width: 100%;
		}
		.service{
			display: none;
		}
		.head-line1,.head-line2 {
			display: none;
		}
		.sub_head{
			width:100%; 
		}
		.container{
			width: 100%;
			padding: 0;
		}
		.search_bar { 
	    	width: 60.87%;
	    	top:224px;
		}
		.banner {
    		padding-bottom: 34%；
		}
		.next{
			margin-left: 2.67%;
		}
		.page_nav_li{
			margin-left: 0;
		}
		.nav>li {
		    margin-right: 0.46%;
		}
		.head-logo{
   			padding-left: 20px;
   		}
   		.search_bar{
   			display: none;
   		}
   		.jingqu_li_pic{
			width: 100%;
			height: auto;
		}
		.jingqu_li_intro{
		    width: 100%;
		    padding: 10px;
		    margin-left: 5px;
		    margin-right: 5px;
		    overflow: hidden;
		}
		.jingqu_body{
			margin-top: 10px;
		    width: 100%;
		    font-size: 13px;
		}
		.jingqu_li{
			margin-right: 0;
		}
		.jingqu_li:hover{
		    background: #eee;
		    border-right: 0;
		    margin-right: 0;
		}
		 .maomi_pic{
			display: none;
		}
		.helping_alert{
			display: none;
		}
}
