		*{
			padding:0;
			margin: 0;
			font-family: 微软雅黑;
		}
		li{
			list-style: none;
		}
        body{width:100%; margin:0 auto;}
        .container {
		    width: 91.6%;
		}
        input{
        	outline: none;
     }


@media (max-width: 1440px){
	.header{
		width:100%;
	}
	
	.cent{
		width:100%;
		
	}
}
@media (max-width: 1024px){
	.header{
		width:100%;
	}
	
	.cent{
		width:100%;
		
	}
}
@media (max-width: 768px){
	.c-4{
		display:none;
	}
	.cent-right{
		display:none;
	}
	.zinan{
		display:none;
	}
	.cont{
		width:100%;
	}
	.lll{
		width:100%;
	}
}

        .service{
			position: fixed;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background: url(../images/service.jpg);
			background-size: cover;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(151,151,151,0.8);
			z-index: 30;
		}
		.search{
			padding-left: 10px;
		}
		.service p{
			font-size: 20px;
		    margin-left: 11px;
		    margin-top: 91px;
		}
		.service_close{
			display: block;
			float: right;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			box-shadow: -2px 2px 10px rgba(151,151,151,0.8);
		}
		.maomi_pic{
		    position: fixed;
		    left: -16px;
		    bottom: 45px;
		    z-index: 50;
		    transition:all 1s ease;
		}
		.maomi_eyeout{
			width: 13px;
		    height: 13px;
		    border-radius: 20px;
		    position: absolute;	    
		    left: 42px;
		}
		.maomi_eyeout1{
			top: 24px;
		}
		.maomi_eye{
			background: #000;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 90px;
		}
		.maomi_eyeout2{
			top: 65px;
		}
		.helping_alert{
			width: 100%;
			position: fixed;
			bottom: 0;
			left: -100%;
			padding: 1%;		
			background: rgba(0,0,0,0.7);
			color: #fff;
			z-index: 60;
			transition:all 1s ease;
		}
		.helping_alert_close{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    font-size: 25px;
		}
		.contact_us{
			width: 50%;
			float: left;			
		}
		.contact_us_li{
			width: 100%;
		    height: 2em;
		    line-height: 2em;
		    text-align: center;
		}
		.contact_us_head,.attention_us_head{
			font-size: 20px;
		    text-align: center;
		    margin-bottom: 2%;
		}
		.contact_us_body,.attention_us_body{
			width: 100%;
			float: left;
		}
		.attention_us{
			width: 50%;
			float: left;
			border-left: 1px solid #fff;
		}
		.attention_us_li{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
		}
		.wechat_head,.qq_head{
		    width: 100%;
		    margin-bottom: 1%;
		    font-size: 17px;
		}
		.wechat_ma,.qq_ma{
			width: 100%;
			float: left;
		}
		.wechat_ma img,.qq_ma img{
			width: 60%;
		}
		.labels{
			float: left;
			width: 30%;
			margin-top: 4px;
		}
		.labels label{
			line-height: 24px;
			margin-top: 10px;
		}
		.inputs{
			float: right;
			width: 70%;
		}		
		.yanzhengma{
			width: 100%;
			float: left;
			margin-top: 10px;
			text-align: center;
		}
		input{
			border-radius: 4px;
			border:1px solid #eee;
		}
		.login_close,.register_close{
		    display: block;
		    background: #000;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 90px;
		    position: absolute;
		    right: -14px;
		    top: -14px;
		    font-size: 20px;
		    transition:all 2s ease;
		}
		.login-alert h1,.register-alert h1{
			float: left;
			width: 100%;
			text-align:center;
			font-size: 20px;
			color: rgba(0,0,0,0.8);
		}
		.login-alert, .register-alert {
		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 287px;
		    height: 290px;
		    z-index: 30;
		    text-align: center;
		    background: #fff;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    padding-left: 5px;
		    box-shadow: 3px 3px 10px #747474;
		}
		.login_btn_bar,.register_btn_bar{
			    width: 100%;
			    float: left;
			    height: 39px;
			    margin: 0px auto 0 auto;		
		}
		.login_btn,.register_btn{			
			width: 100px;		
			text-align: center;
			height: 30px;
			border-radius: 4px;
			border:1px solid #eee;
			background: #ff9d00;
			color: #fff;
			margin:7px auto 0 auto;
		}
		.register_btn:hover,.login_btn:hover{
			border:1px solid #ff9d00;
			background: #ea9300;
		}
		.change{
			float: right;
			margin-right: 10px;
		}
		.changezc,.changedl{
			color:#80afff;
		}
		#weather{
			display: block;
			height: 49px;
  			line-height: 49px;
			float: right;
			font-size: 14px;
			margin-left: 10px;
		}
		.weather{
			margin-left:4px;
		}
		.form_item{
			padding-left: 10px;
			margin-top: 10px;
			float:left;
			width: 80%;
			height:30px;
			border:1px solid #eee;
			border-radius:4px;
		}
	/*	.navbar-collapse.collapse.in {
    overflow-y: visible;
}*/
   		.head-logo{
   			height: 49px;
   			line-height: 49px;
   		}
   		.container {
		    width: 91.6%;
		}
		.navbar{
			background: rgba(0,0,0,0.6);
			height: 50px;
			line-height: 50px;
			border:0;
			z-index: 50;
		}
		.nav .active{
			background: #ff9d00;
		}
		.nav>li>a:focus, .nav>li>a:hover{
			background:#ff9d00;
		}
		.navbar-nav{
			margin-left: 1.59%;
			height: 50px;
    		line-height: 50px;
		}
		.nav-lan {
		    margin: 18px 12px 0 2px;
		    background: #fff;
		    height: 14px;
		    width: 1px;
		}
		.nav_spacer{
			width: 1px;
			height: 20px;
			margin: 18px 0;
			border-radius: 90px;
			background: #8f8f8f;
		}
		.navbar a,.navbar{
			color: #fff;
			font-size: 17px;
		}
	 	.navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-toggle .icon-bar {
		    background: #fff;
		}
		.register{
			float: right;
			height: 49px;
		    line-height: 49px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login{
			float: right;
		    height: 49px;
		    line-height: 49px;
		    margin-right: 0.4%;
		    width: 40px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login a{
			margin-right: 0.8%;
			margin-left:  0.8%;
		}
		.header{
			position: relative;
		}
		.search_bar{
			position: absolute;
		    bottom: 2%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 31.87%;
		    height: 40px;
		    z-index: 10;
		}
		#search{
			padding: 5px;
			color: #000;
			border:0;
			width: 89.8%;
			height: 40px;
			border-radius: 3px 0 0 3px ;
			background:rgba(255,255,255,0.8);
		}
		.glyphicon-search{
			display: block;
			width: 10.19%;
			height: 40px;
			line-height:40px;
			text-align: center;
			background: rgba(255,144,0,0.6);
			color: #000;
			float: right;
			margin-top: -1px;
			border-radius:0 3px 3px 0;
			font-size: 20px;
		}
		.glyphicon-search:hover{
			background:  rgba(255,144,0,0.8);
		}
        .header{width:100%; margin:0 auto; margin-top:-20px;}
		.head_row{
			float: left;
		    width: 100%;
		    height: 101px;
		    position: relative;
		    margin-bottom: 20px;
		}
		.head-line1{
		    position: absolute;
		    left: 16%;
		    top: 55px;
		    width: 17%;
		    height: 6px;
		    border-radius: 0px 200px 0px 200px;
		    background: linear-gradient(45deg,transparent 0, #ff9d00 100%);
		}
		.head-line2 {
			position: absolute;
		    right: 16%;
		    top: 55px;
		    width: 17%;
		    border-radius: 0px 200px 0px 200px;
		    height: 6px;
		    line-height: 20px;
		    background: linear-gradient(45deg,#ff9d00 0,transparent 100%);
		}
		.sub_head{
		    width: 28.9%;
		    margin: 20px auto;
		    height: 56px;
		    line-height: 56px;
		    text-align: center;
		}
       	.nav-tabs>li>a{
			border-radius: 0px;
		}
        .cent .tab-content .well{width:95%; height:130px;}
        .cent .tab-content .well .media-right{width:78%;}
        .cent .tab-content .well h3{margin-top:-8px;}
        .cent .well .media-right a:hover img{position:absolute; top:0; right:100px; width:500px; height:600px;}
        .cent .well-1{width:100%;}
        .cent .media-body-1{width:100%;}
        .cent .tab-pane ul{width:100%;}
        .cent .tab-pane li{    
        	width: 32%;
		    float: left;
		    margin-left: 0.5%;
		    margin-right: 0.5%;
		    margin-bottom: 1%;
		}
        .cent .tab-pane .img{   
    		width: 100%;
		    max-height: 200px;
		    height: 100%;
		}
        .cent .tab-pane a{text-align:center; text-decoration:none;}
        .cent .tab-pane a p{font-size:14px; color:red; margin-top:-20px;}
        .cent .cont{width:100%;}
        .cent .cent-right{width:100%; margin-top:0px;}
        .cent .cent-right .c-1,.c-2,.c-3{    width: 100%;  min-height: 71px;}
        .c-2,.c-3{margin-top:30px;}
        .cent .cent-right .c-1 li,.c-2 li,.c-3 li{float:left; list-style:none; margin-right:5px;line-height:27px }
        .cent .cent-right .c-1 li:hover a, .c-2 li:hover a, .c-3 li:hover a{
        	color: #fff; 
        }
        .cent .cent-right .c-1 li:hover, .c-2 li:hover, .c-3 li:hover{
         	  background: #ff9d00;    	
        }
        .zinan{
        	float: left;
        }
        .cent .cent-right h3,.cent .zinan h3{padding-bottom:5px; border-bottom:1px solid #666;}
        .cent .cent-right .c-1 a,.c-2 a,.c-3 a{padding:0px 10px; border:1px solid #eee; color:#999; text-decoration: none;}
        .cent .cent-right .al{margin-top:-30px;}
        .cent .zinan ul{width:100%;}

        .cent .zinan li{width:50%; float:left;}

        .cent .zinan li a{font-size:14px; color:#000; text-decoration: none;}
        .cent .zinan li a:hover{text-decoration: underline; color:red;}
        .cent .zinan li span{color:red;}
        .cent .zinan .p_1{margin-top:10px;}
        .cent .c-4 img{width:250px; margin-left:0px; height:180px;}
        .cent .c-4 p{color:#000; font-size:16px; margin-left:0px;}
        .footer{
			margin-top: 40px;
			float: left;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #3b3b3b;
			color: #fff;
			font-size: 15px;
			text-align: center;
		}
		@media (max-width:1006px){
		.navbar-collapse{
			background: rgba(0,0,0,0.6);
		}
		.nav>.nav_spacer,#weather,.login,.register,.nav1,.login_register,.service{
			display: none;
		}
		.search_bar{
			display: none;
		}
		.head-line1,.head-line2{
			display: none;
		}
		.sub_head{
			width: 100%;
		}
	}
	
		@media (max-width:750px){
		.col-xs-9 {
   	 	width: 100%;
	}
	.cent .tab-pane li{
		text-align: center;
	    margin-right: 0.5%;
	    width: 32%;
	}
	.cent .tab-pane a p {
		    font-size: 14px;
		    color: red;
		    margin-top: 0px; 
		    text-align: center;
		}
		.well{
			padding-left: 0;
			padding-right: 0;
		}
		.cent .tab-content .well{
			width: 100%;
			padding-left: 2%;
		}
		 .maomi_pic{
			display: none;
		}
		.helping_alert{
			display: none;
		}
	}
	@media (max-width:767px){
		.navbar-nav{
			height: auto;
		}
	}