		*{
			padding: 0;
			margin: 0;
			font-family: 微软雅黑;
		}
		li{
			list-style: none;
		}
		ul{
			margin:0;
			padding:0;
		}
		.container {
		    width: 91.6%;
		}
		.ui-datepicker .ui-datepicker-header {
	    background: #ff9d00;
	    position: relative;
	    padding: .2em 0;
		}
		.siderbar{
			position: fixed;
			top: 27%;
			left: 0;
			z-index: 30;
			font-size: 15px;
			font-weight: bold;
			box-shadow: -3px 3px 10px #747474;
		}
		.sider_icon{
		    margin-top: -1px;	
			float: left;
			width: 42px;
			height: 42px;
    		line-height: 40px;
			text-align: center;
			font-size: 20px;	
		}
		.siderbar_li{
			width: 84px;
			height: 42px;
			text-align: center;
			background: rgba(255,255,255,0.7);
		}
		.siderbar_li a{
			color: rgba(0,0,0,0.6);
		}
		.siderbar a {
		    padding-top: 3px;
		    display: block;
		    float: left;
		    width: 35px;
		    font-size: 12px;
		    margin-left: 3px;
		}
		.siderbar_li1+.active1{
			background: #ff514c;
		}
		.siderbar_li2+.active1{
			background:#d37c51;
		}
		.glyphicon-cutlery{
			background: #d37c51;
		}
		.glyphicon-home{
			background: #ff514c;
		}
		.glyphicon-arrow-up{
			background: #b3c833;
		}
		.service{
			position: fixed;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background: url(../images/service.jpg);
			background-size: cover;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(151,151,151,0.8);
			z-index: 30;
		}
		.service p{
			font-size: 20px;
		    margin-left: 11px;
		    margin-top: 91px;
		}
		.service_close{
			display: block;
			float: right;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			box-shadow: -2px 2px 10px rgba(151,151,151,0.8);
		}
		.maomi_pic{
		    position: fixed;
		    left: -16px;
		    bottom: 45px;
		    z-index: 50;
		    transition:all 1s ease;
		}
		.maomi_eyeout{
			width: 13px;
		    height: 13px;
		    border-radius: 20px;
		    position: absolute;	    
		    left: 42px;
		}
		.maomi_eyeout1{
			top: 24px;
		}
		.maomi_eye{
			background: #000;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 90px;
		}
		.maomi_eyeout2{
			top: 65px;
		}
		.helping_alert{
			width: 100%;
			position: fixed;
			bottom: 0;
			left: -100%;
			padding: 1%;		
			background: rgba(0,0,0,0.7);
			color: #fff;
			z-index: 60;
			transition:all 1s ease;
		}
		.helping_alert_close{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    font-size: 25px;
		}
		.contact_us{
			width: 50%;
			float: left;			
		}
		.contact_us_li{
			width: 100%;
		    height: 2em;
		    line-height: 2em;
		    text-align: center;
		}
		.contact_us_head,.attention_us_head{
			font-size: 20px;
		    text-align: center;
		    margin-bottom: 2%;
		}
		.contact_us_body,.attention_us_body{
			width: 100%;
			float: left;
		}
		.attention_us{
			width: 50%;
			float: left;
			border-left: 1px solid #fff;
		}
		.attention_us_li{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
		}
		.wechat_head,.qq_head{
		    width: 100%;
		    margin-bottom: 1%;
		    font-size: 17px;
		}
		.wechat_ma,.qq_ma{
			width: 100%;
			float: left;
		}
		.wechat_ma img,.qq_ma img{
			width: 60%;
		}
		.jd-nav{
			width: 100%;
			float: right;
		}
		#weather{
			display: block;
		    height: 50px;
		    line-height: 48px;
		    float: right;
		    font-size: 14px;
		    margin-left: 10px;
		}
		.weather{
			margin-left:4px;
		}	
		.nav .active{
			background:#ff9d00;
		}
		.nav>li>a:focus, .nav>li>a:hover{
			background:#ff9d00;
		}
		.navbar{
			background: rgba(0,0,0,0.6);
			height: 50px;
			line-height: 50px;
			border:0;
		}
		.alert{
			position: fixed;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
			display: none;
		}
		.head-logo{
   			height: 49px;
   			line-height: 49px;
   		}
   		.labels{
			float: left;
			width: 30%;
			margin-top: 4px;
		}
		.labels label{
			line-height: 24px;
			margin-top: 10px;
		}
		.inputs{
			float: right;
			width: 70%;
		}		
		.yanzhengma{
			width: 100%;
			float: left;
			margin-top: 10px;
			text-align: center;
		}
		input{
			border-radius: 4px;
			border:1px solid #eee;
		}
		.login_close,.register_close{
		    display: block;
		    background: #000;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 90px;
		    position: absolute;
		    right: -14px;
		    top: -14px;
		    font-size: 20px;
		    transition:all 2s ease;
		}
		.login-alert h1,.register-alert h1{
			float: left;
			width: 100%;
			text-align:center;
			font-size: 20px;
			color: rgba(0,0,0,0.8);
		}
		.login-alert, .register-alert {
		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 287px;
		    height: 290px;
		    z-index: 30;
		    text-align: center;
		    background: #fff;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    padding-left: 5px;
		    box-shadow: 3px 3px 10px #747474;
		}
		.change{
			position: absolute;
			right: 2px;
			bottom: 2px;
		}
		.login_btn_bar,.register_btn_bar{
			    width: 100%;
			    float: left;
			    height: 39px;
			    margin: 0px auto 0 auto;		
		}
		.login_btn,.register_btn{			
			width: 100px;		
			text-align: center;
			height: 30px;
			border-radius: 4px;
			border:1px solid #eee;
			background: #ff9d00;
			color: #fff;
			margin:7px auto 0 auto;
		}
		.register_btn:hover,.login_btn:hover{
			border:1px solid #ff9d00;
			background: #ea9300;
		}
		.changezc,.changedl{
			color:#80afff;
		}
		.form_item{
			padding-left: 10px;
			margin-left: 15px;
			margin-top: 10px;
			height:30px;
			border:1px solid #eee;
			border-radius:4px;
		}
   		.register{
			float: right;
			height: 49px;
		    line-height: 49px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login{
			float: right;
		    height: 49px;
		    line-height: 49px;
		    margin-right: 0.4%;
		    width: 40px;
		    font-size: 14px;
		    cursor:pointer;
		}

		.login a{
			margin-right: 0.8%;
			margin-left:  0.8%;
		}
		.navbar-nav{
			margin-left: 1.59%;
		}
		.nav-lan {
		    margin: 18px 12px 0 2px;
		    background: #fff;
		    height: 14px;
		    width: 1px;
		}
		.nav-tabs>li>a{
			border-radius: 0px;
		}
		.nav_spacer{
			width: 1px;
			height: 14px;
			margin: 18px 0;
			border-radius: 90px;
			background: #8f8f8f;
		}
		.navbar a,.navbar{
			color: #fff;
			font-size: 17px;
		}
		.order_head{
			float: left;
			width: 100%;
			text-align: center;
		}
		.head_row h1 {
		    height: 67px;
		    line-height: 67px;
		    font-size: 36px;
		}
		.head_row{
			float: left;
		    width: 100%;
		    height: 101px;
		    margin-top: 27px;
		    margin-bottom: 27px;
		    position: relative;
		}
		.head-line1{
			position: absolute;
		    left: 12%;
		    top: 50px;
		    width: 24%;
		    height: 6px;
		    border-radius: 0px 200px 0px 200px;
		    background: linear-gradient(45deg,transparent 0, #ff9d00 100%);
		}
		.head-line2 {
		position: absolute;
		    right: 12%;
		    top: 50px;
		    width: 24%;
		    border-radius: 0px 200px 0px 200px;
		    height: 6px;
		    line-height: 20px;
		    background: linear-gradient(45deg,#ff9d00 0,transparent 100%);
		}
		.sub_head{
		    width: 28.9%;
		    margin: 20px auto;
		    height: 56px;
		    line-height: 56px;
		    text-align: center;
		}
		.lx{
			margin-top: 25px;
			width:100%;
		}
		.lx-head{
			width: 100%;
		}
		.lx-head p{
			width: 66%;
			margin: 0 auto;
		}
		.lx-head span{
			margin-left: 200px;
			margin-right: 180px;
		}
		.lx-body li{
			list-style: none;
		}
		.lx-1{
			height: 50px;
			border-bottom: 1px solid #EEEEEE;
		}
		.lx-1 li{
			float: left;
		}
		.lx-a{
			margin-left: 58px;
			width: 250px;
			text-align: left;
		}
		.lx-a span{
			color: #A399B3;
			font-size: 10px;
		}
		.lx-b{
			margin-top: 9px;
			margin-left: 18px;
			width: 180px;
			text-align: left;
		}
		.lx-b del{
			color: #A399B3;
			font-size: 12px;
		}
		.lx-b span{
			color: #FF3100;
			font-size: 16px;
		}
		.lx-c{
			margin-top: 9px;
			width: 150px;
			text-align: left;
		}
		.lx-d{
			margin-top: 3px;
		}
		.lx-d input{
			margin-left: 15px;
			padding: 5px 15px;
			background-color: #FF9900;
			color: white;
		}
		.lx{
			border: 1px dashed #EEEEEE;
		}
		.jd{
			width: 1215px;
			height: 875px;
		}
		.jd-nav{
			width: 100%;
			height: 50px;
		}
		.hotel-nav {
		    float: left;
		    margin-left: 26px;
		}
		.tab-content li{
			width: 210px;
			height: 250px;
			float: left;
			list-style: none;
			margin-left: 25px;
			overflow: hidden;
			margin-bottom: 25px;
		}
		.tab-content img{
			width: 210px;
			height: 140px;
		}
		.tab-content p{
			font-size: 12px;
		}
		.tab-content  span{
			font-size: 14px;
			color: red;
		}
		.tab-content .glyphicon-star{
			color: #FCA800;
			width: 10px;
			height: 10px;
			margin-right: 2px;
		}
		.tab-content .glyphicon-star-empty {
			width: 10px;
			height: 10px;
			color: #878787;
		}
		.tab-content .pb{
			color: #0066CC;
			font-size: 18px;
		}
		.ms{
			width: 1215px;
			height: 750px;
		}
		.ms li{
			width: 210px;
			height: 230px;
			float: left;
			list-style: none;
			margin-left: 25px;
			overflow: hidden;
			padding-top: 20px;
		}
		.ms li:hover{
			padding-top: 5px;
			padding-bottom: 15px;
			transition:all 0.7s ease;
		}
		.ms-body img{
			width: 210px;
			height: 140px;
		}
		.meishi{
			width: 100%;
		}
		.ms .pb2{
			font-size: 16px;
			width: 65%;
			height: 35px;
			text-align: left;
			float: left;
		}
		.ms .pb3{
			width: 35%;
			height: 35px;
			text-align: left;
			float: right;
		}
		.glyphicon-fire{
			color: #FCA800;
			width: 15px;
			height: 15px;
			margin-right: 4px;
			margin-top: 5px;
		}
		.redu{
			color: #999999;
			font-size: 12px;
			margin-top: 3px;
		}
		.ms li p{
			font-size: 12px;
			color: #666666;
		}
		.ydxx{
			width: 350px;
			height: 180px;
		}
		.ydxx h4{
			margin-left: 105px;
		}
		.cyxx{
			margin-left: 35px;
			margin-top: 10px;
		}
		.riqi{
			margin-left: 15px;
		}
		.people{
			width: 30px;
			margin-left: 15px;
		}
		.btn{
			margin-top: 10px;
		}
		.jdyd{
			width: 350px;
		    height: 298px;
		}
		.jdxx{
			margin-left: 42px;
			margin-top: 10px;
		}
		.jiage{
			margin-top: 15px;
			margin-left: 30px;
		}
		.jdyd .price{
			color: red;
			font-size: 18px;
		}
		.jdyd .btn{
			margin-left: 38px;
		}
		.footer{
			margin-top: 40px;
			float: left;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #3b3b3b;
			color: #fff;
			font-size: 15px;
			text-align: center;
		}
		.navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-toggle .icon-bar {
		    background: #fff;
		}
		.navbar-collapse{
			z-index: 20;
		}	
		@media (max-width:1006px){
				.navbar-collapse{
					background: rgba(0,0,0,0.6);
				}
				.nav>.nav_spacer,#weather,.login,.register,.nav1{
					display: none;
				}
				.nav>li{
					margin-right: 20px;
				}
		}
		@media (max-width:750px){
				.maomi_pic{
					display: none;
				}
				.helping_alert{
					display: none;
				}
		}