*{
	font-family: 微软雅黑;
}
a{
	color: #000;
}
.well{
	margin-bottom: 0px;
}
.navbar-default .navbar-brand{
	color: green;
	font-size: 20px;
	margin-bottom: 0px;
}
.navbar{
	box-shadow: 0px 5px 10px #3d3d3d;
}
 h1{
	margin:170px 0 30px 0;
}
.kuang{
	background-color: #2c433d;
	color: #fff;
	padding-bottom: 60px;
	margin-top: -20px;
}
.img img{
	margin-top: 50px;
	margin-bottom: 20px;
}
h2{
	font-weight: bold;
	font-size: 20px;
}
.row h2{
	margin-top: 50px;
	margin-bottom: 40px;
}
h3{
	font-weight: bold;
}
.san{
	margin-top: 50px;
	margin-bottom: 90px;
}
.kaifa .col-md-4{
	padding-top: 50px;
	padding-bottom: 30px;
}
.kaifa:hover .col-md-4{
	background: #a5a5a5;
	box-shadow: 0px 0px 10px #000 inset;
}
.html5,.bootstrap{
	padding: 50px 0px 50px 0px;
}
.media-left, .media>.pull-left,.media-right, .media>.pull-right{
	padding-right: 130px;
}
.class{
	padding-bottom: 40px;
}
.class1 .btn{
	border-radius: 0;
	border:1px solid #81e0cb;
	margin:20px 0 30px 0; 
}
.class1{
	background-color: #fff;
	margin-top: 20px;
}
.class1 a{
	color: #81e0cb;
	text-decoration: none;
}
.btn-group1 .btn{
	background-color: #44d0b3;
    width: 142px;
    height: 35px;
    border-radius: 0;
}
.btn-group1 .btn a{
	color:#fff;
}
.media-right, .media>.pull-right{
	padding: 0px 0px 0px 20px;
}
.app{
	padding: 90px 0px 70px 0px;
}
.contact{
	background: url(../images/ditu.png) no-repeat;
	background-size: 1400px 600px;
	min-height: 600px;
}
.cover{
	background-color:rgba(0,0,0,0.7);
	min-height: 600px;
}
.word{
	padding: 80px 0px 0px 80px;
	color: #fff;
}
.word a{
	text-decoration: none;
	color: #fff;
}
.word p {
    margin-top: 25px;
}
.name{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 23px;
	height: 50px;
	width: 242px;
}
.email{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 50px;
	width: 242px;
}
.biaoti{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 50px;
}
.liuyan{
	margin-top: 20px;
	margin-bottom: 10px;
}
#submit {
	color:#fff;
	margin-top: 20px;
	height: 50px;
	width: 375px;
	border-radius: 0;
}
.form-group{
	margin-top: 80px;
	width: 511px;
}
.form-group .btn{
	background: #41d2b1;
}
.footer{
	padding:20px 0px 20px 0px;
}
.mai-icon{
	display: inline-block;
	background: #41d2b1;
	font-size: 20px;
	color: #fff;
	padding-top: 10px;
	width: 40px;
	height: 40px;
}
