		*{
			margin: 0;
			padding: 0;
			color: #424242;
			font-family: 微软雅黑;
		}
		a{
			text-decoration: none;
			color: #424242;
		}
		i{
			font-style: normal;
		}
		li{
			list-style: none;
		}
		.clearfix:after{
			content: ".";
			display: block;
			visibility: hidden;
			clear: both;
			height: 0;
		}
		input {
			-webkit-appearance:none; 
		}
		.clearfix{
			*+height: 1%;
		}
		.whitewrap{
			white-space: normal;
		}
		.flr{
			float: right!important;
		}
		.fll{
			float: left!important;
		}
		.pd50{
			padding-bottom: 50px!important;
		}
		.pdt10{
			padding-top: 10px!important;
		}
		.pdt50{
			padding-top: 50px!important;
		}
		.pdb10{
			padding-bottom: 10px!important;
		}
		.pdb60{
			padding-bottom: 60px!important;
		}
		.pdb100{
		    padding-bottom: 100px!important;
		}
		.pdl40{
			padding-left: 40px!important;
		}
		.mglf1{
		    margin-left: -1px!important;
		}
		.nomb{
			margin-bottom: 0px!important;
		}
		.mgt10{
			margin-top: 10px!important;
		}
		.mgt20{
			margin-top: 20px!important;
		}
		.mgt30{
			margin-top: 30px!important;
		}
		.mgt40{
			margin-top: 40px!important;
		}
		.mgt50{
			margin-top: 50px!important;
		}		
		.mgt100{
			margin-top: 100px!important;
		}
		.mgt5_m{
			margin-top: 0px!important;
		}
		.mgt10_m{
			margin-top: 0px!important;
		}
		.borr90{
			border-radius: 90px!important;
		}
		.nobb{
			border-bottom: 0!important;
		}
		.grey{
			color: #939393!important;
		}
		.blue{
			color: #74e0f5!important;
		}
		.lblue{
			color: #8ecbd6!important;
		}
		.marle5{
			margin-left: 10px;
		}
		.mgauto{
			float: none!important;
			margin: 0 auto!important;
		}
		.exchange_box{
			display: none;
		}
		.control_img img{
			width: 100%;
			height: 100%;
		}
		.navbar{
		    height: 50px;
		    padding: 0 7%;
		    line-height: 50px;
		    border-bottom: 1px solid #d8d8d8;	
		}
		.head_logo{
			float: left;
			font-weight: bold;
		}
		.head_logo a{
			color:#0037ff;
		} 
		.head_logo img {
		    width: 58px;
		    margin-top: 5px;
		    float: left;
		    margin-right: 10px;
		}
		.head_nav {
		    float: right;
		    font-weight: bold;
		    transition:all 1s ease;
		}
		.head_nav li {
		    float: left;
		    margin-right: 50px;
		}
		.head_nav li:hover{
			color: #00d0ff;
		}
		.recommend {
			float: left;
			width: 100%;
		}
		.collapse_btn span{			
		    float:  left;
		    color:  #fff;
		    margin-right: 12px;
		}
		.collapse_btn {
		    height: 42px;
		    line-height: 42px;
		    margin-top: 4px;
		    float: right;
		    cursor: pointer;
		    display: none;
		    color: #fff;
		}
		.collapse_btn img {
		    width: 28px;
		    margin-top: 7px;
		}
		.line {
		    width: 100%;
		    margin-bottom: 9px;
		    height: 3px;
		    border-radius: 90px;
		    background: #666;
		}
		.container{
			margin: 0 auto;
			width: 70%;
		}
		.content {
		    padding-bottom: 30px;
		}
		.item_ul{
			float: left;
			margin-top: 50px;
		}
		.item_li{
			float: left;
		    width: 31.3%;
		    margin: 0px 1% 40px;	    
		}
		.li_img{
			float: left;
			width: 100%;
			position: relative;
		}
		.collection{
			position: absolute;
		    right: 16px;
		    width: 30px;
		    top: 7px;
		}
		.li_img img{
			width: 100%;
			height: 100%;
		}
		.li_title {
		    float: left;
		    width: 100%;
		    margin-top: 10px;
		    font-size: 15px;
		    color: #313131;
		}
		.sub_title {
		    float: left;
		    width: 100%;
		    font-size: 16px;
		    margin-bottom: 10px;
		}
		.sub_title a{
			color: #939393;
		}
		.contents{		
		    float:  left;
		    width:  100%;
		    height: 30px;
		    line-height:  30px;
		}
		.money {
		    color: #ff3909;
		    font-size: 25px;
		    font-weight: bold;
		}
		.money_sign{
			color: #ff3909;
			font-size: 15px;
		}
		.comment{
			float: right;
			font-size: 15px; 			
			margin-left: 10px;
		}
		.comment a{
			color: #939393;
		}
		.stars {
		    float: right;
		    margin-top: 1px;
		}
		.pages_ul {
		    margin: 25px auto;
		    display: inline-block;
		}
		.pages_ul li {
		    float: left;
		    padding: 8px 20px;
		    font-size: 15px;
		}
		.pages_ul .active{
			background: #ff7f00;
			color: #fff;
		}
		.pages_ul li:hover{
			background: #ff7f00;
			color: #fff;
		}
		.recommend_ul li{
			float: left;
			width: 31.3%;
		    margin: 0px 1% 40px;
		}
		.img_wrap{
			position: relative;
		}
		.recommend{
		    margin-top: 50px;
		    margin-bottom: 20px;
		}
		.recommend_title {
			font-size: 18px;
		    position: absolute;
		    bottom: 4px;
		    padding: 1% 5%;
		    line-height: 36px;
		    width: 90%;
		    overflow: hidden;
		    background: rgba(0,0,0,0.5);
		}
		.recommend_title a{
			color: #fff;
		}
		.recommend_img img{
			width: 100%;
			height: 100%;
		}
		.recommend_head {
		    height: 50px;
		    line-height: 50px;
		    margin-bottom: 10px;
		    font-size: 16px;
		    font-weight: bold;
		}
		.recommend_head img{
			display: block;
		    float: left;
		    margin-top: 13px;
		    margin-right: 10px;
		}
		.footer{
			background: #828284;
			padding: 50px;		
		}
		.footer p{
			text-align: center;
			color: #fff;
		}
		.banner img{
			width: 100%;
		}
		.form_li input {
		    height: 24px;
		    width: 280px;
		    outline: none;
		    padding: 5px 10px;
		}
		.form_li {
		    float: left;
		    width: 100%;
		    margin-bottom: 14px;
		}
		.form_title{
			text-align: center;
		    font-size: 35px;
		    font-weight: bold;
		    margin-bottom: 24px;
		}
		.form_wrap {
		    margin-top: 35px;
		    margin-bottom: 30px;
		    padding: 0px 30%;
		}
		.contact_person{			 
		    float: left;
		    margin-top: 20px;
		}
		.form_li label{
		    font-size: 18px;
		    font-weight: bold;
		    color: #9b9b9b;
		}
		.star_sign{
			color: #c1323a;
		}
		.form_tip{
			float: left;
			width: 100%;
			font-size: 14px;
		}
		.form_tip dt,.form_tip dd{
			color: #9b9b9b;
		}
		.form_li1 {
		    width: 50%;
		    float: left;
		    margin-bottom: 28px;
		}
		.form_li1 label {
		    color: #9b9b9b;
		    font-weight: bold;
		    margin-bottom: 5px;
	        width: 100%;
		}
		.form2 {
		    margin-top: 44px;
		    float: left;
		}
		.form2 input {
		    height: 33px;
		    width: 87%;
		    font-size: 16px;
		    margin-top: 10px;
		    padding: 10px;
		    border-radius: 5px;
		    border: 1px solid #e6e6e6;
		    outline: none;
		}
		.input_wrap {
		    float: left;
		    position: relative;
		    height: 50px;
		    width: 110px;
		    text-align: left;
		    line-height: 50px;
		    margin-left: 20px;
		}
		.add,.add1 {
		    position: absolute;
		    font-size: 25px;
		    right: -9px;
		    top: -1px;
		    cursor: pointer;
		}
		.input_wrap input {
		    width: 100%;
		    height: 22px;
		    text-align: center;
		    font-weight: bold;
		    font-size: 16px;
		    margin-top: 0;
		}
		.person_amount label {
		    float: left;
		    height: 50px;
		    line-height: 50px;
		}
		.minus,.minus1 {
		    position: absolute;
		    font-size: 25px;
		    cursor: pointer;
		    top: -2px;
		    left: 18px;
		}
		.each_cost select {
		    width: 88px;
		    border-radius: 5px;
		    border: 1px solid #e6e6e6;
		    height: 35px;
		    margin-left: 10px;
		    padding-left: 15px;
		    outline: none;
		}
		.service_choose{
			float: left;
			width: 100%;
		}
		.service_ul{
			float: left;
			width: 100%;
		}
		.service_ul li {
		    float: left;
		    border: 1px solid #D2D2D2;
		    border-radius: 90px;
		    color: #9b9b9b;
		    padding: 2px 5px;
		    margin-right: 15px;
		    font-size: 15px;
		    margin-bottom: 10px;
		}
		.service_title{
			margin-bottom: 20px;
		}
		.submit_btn_wrap{
			float: left;
			margin: 50px 0;
			text-align: center;
			width: 100%;
		}
		.submit_btn {
		    height: 40px;
		    border-radius: 10px;
		    border: 0;
		    padding: 0 46px;
		    color: #fff;
		    background: #fe7f00;
		    cursor: pointer;
		    box-shadow: 0 0 5px #666;
		    font-size: 15px;
		    outline: none;
		}
		.ui-datepicker .ui-datepicker-header{
			background: #fe7f00;
		}
		.start_date,.end_date{
			position: relative;
		}
		.date_sign {
		    position: absolute;
		    right: 28px;
		    bottom: 10px;
		}
		.order_pay{
			text-align: center;
		}
		.pay_money {
		    color: #ff3909;
		    font-size: 25px;
		    font-weight: bold;
		    margin-left: 18px;
		}
		.form_li1 span{
			float: left;
			width: 100%;
			display: block;
			margin-top: 10px;
		}
		.order_pay{
			float: left;
		    width: 100%;
		    margin-top: 50px;
		    border-top: 1px solid #d2d2d2;
		    padding-top: 34px;
		}
		.left_navbar {
		    float: left;
		    width: 15%;
		    height: 320px;
		    border: 1px solid #d2d2d2;
		    text-align: center;
		    box-shadow: 0 0 5px #d2d2d2;
		    font-weight: bold;
		}
		.left_nav li{		
		    border-top: 1px solid #d2d2d2;
		    padding: 15px;
		}
		.left_nav li:hover{
			color: #00cdfd;
		}
		.left_nav .active{
			color: #00cdfd;
		}
		.padt50{
		    padding-top: 50px;
		}
		.type_ul li{
		    float: left;
		    margin-right: 30px;
		}
		.type_ul li:hover{
		    color: #00d0ff;
		}
		.type_ul li{
			font-weight: bold;
			cursor: pointer;
		    height: 25px;
		}
		.type_ul .active{
			color: #00d0ff;
			border-bottom: 3px solid  #00d0ff;
		}
		.list_article {
		    float: left;
		    margin-left: 4%;
		    width: 80%;
		    margin-top: 0;
		}
		.borb{
			 border-bottom: 1px solid #d2d2d2;
		}
   		.type_nav{
		    float:  left;
		    width:  100%;
		    margin-bottom: 28px;
   		}
		.order_time{
		    float:  left;
		    width:  100%;
		    margin-bottom: 25px;
		}
		.order_time input{
		    width: 130px;
		    height: 30px;
		    margin-bottom: 25px;
		}
		.search_btn{
		    width: 100px;
		    height: 30px;
		    color: #fff;
		    background: #00cdfd;
		    border: 0;
		    cursor: pointer;
		    border-radius: 5px;
		}
		.order_list li{
		    float:  left;
		    width:  100%;
		    padding: 26px 0;
		    border-bottom: 1px solid #d2d2d2;
		}
		.order_times_wrap{
			margin-left: 30px;
		}
		.order_info1{
			margin-bottom: 20px;
		}
		.order_img{
		    width: 30%;
		    margin-right:  2%;
		    float:  left;
		}
		.order_img img{
			width: 100%;
		}
		.order_info{
		    float:  left;
		    position: relative;
		    width:  68%;
		    font-size: 15px;
		}
		.house_title{		
		    font-size: 20px;
		    margin-bottom: 5px;
		    font-weight:  bold;
		}
		.house_subtitle{
    		font-size:  18px;
		}
		.house_time{
			margin-bottom: 26px;
		}
		.waiting{
		    line-height:  50px;
		    color: #fe7f00;
		    font-weight:  bold;
		    margin-right: 24px;
		}
		.look_info{
		    height: 28px;
		    display: inline;
		    line-height: 28px;
		    background:  #fe7f00;
		    color: #fff;
		    font-size: 15px;
		    padding: 12px 5px;
		    border-radius: 5px;
		    cursor: pointer;
		}
		.house_person,.room_num,.person_name,.person_tel{		
		    float:  left;
		    width:  50%;
		    margin-top: 8px;
		}
		.order_status {
			text-align: center;
		    margin: 25px auto 0px;
		}
		.order_prize{	    
		    position: absolute;
		    right: 20px;
		    top: 40%;
		    font-size: 25px;
		    color: #ff3909;
		    font-weight: bold;
		}
		.order_info_wrap{
			border:1px dashed #d2d2d2;
		}
		.order_list li{
			border-bottom: 1px dashed #d2d2d2;
		}
		.confirmed{
		    line-height: 50px;
		    color: #85d24d;
		    font-weight: bold;
		    margin-right: 24px;
		}
		.comment_btn{
			display: inline;
		    height: 28px;
		    line-height: 28px;
		    background:  #fe7f00;
		    color: #fff;
		    margin-left: 20px;
		    font-size: 15px;
		    padding: 12px 28px;
		    border-radius: 5px;
		    cursor: pointer;
		}
		.order_status_wrap{
			float: left;
			width: 100%;
			text-align: center;
		}
		.pages{
			text-align: center;
		}
		.pages1{
			margin-top: 50px;
			margin-bottom: 50px;
		}
		.comment_alert {
			display: none;
		    position: fixed;
		    width: 600px;
	        height: 430px;	
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    background: #fff;
		    z-index: 10;
		    border: 1px solid #d2d2d2;
		    box-shadow: 0 0 5px #666;
		}
		.close_btn {
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    color: #fff;
		    background: #aaaaaa;
		    text-align: center;
		    height: 40px;
		    line-height: 35px;
		    width: 40px;
		    font-size: 25px;
		    border-radius: 90px;
		    cursor: pointer;
		}
		.comment_alert_head {
		    font-weight: bold;
		    margin-top: 40px;
		    font-size: 18px;
		    margin-bottom: 20px;
		}
		.container1{
		    width: 80%;
			padding: 0 10%;
		}
		#comment_content {
		    width: 96%;
		    height: 200px;
		    font-size: 16px;
		    padding: 2%;
		    margin-bottom: 15px;
		}
		.form_li2 input[type="text"] {
		    height: 24px;
		    width: 200px;
		    padding: 5px 10px;
		}
		.person_left{
		    float:  left;
		    width:  50%;
		}
		.person_headimg{
			text-align: center;
		}
		.submit_tip{
		    width: 200px;
		    text-align:  center;
		    font-size: 14px;
		    margin: 5px auto;
		}
		.person_right{
		    float:  left;
		    width:  50%;
		}
		.form_li2 {
		    width: 100%;
		    float: left;
	        margin-bottom: 10px;
		}
		input#person_sex{
		    width: 20px;
		    height: 16px;
		}
		.person_info{
		    margin-top: 15px;
		}
		.save_btn_wrap {
		    width: 100%;
		    float: left;
		    text-align: center;
		    margin-top: 30px;
		    margin-bottom: 50px;
		}
		.save_btn {
		    height: 40px;
		    border-radius: 90px;
		    border: 0;
		    padding: 0px 80px;
		    color: #fff;
		    font-size: 15px;
		    background: #00cfff;
		    cursor: pointer;
		}
		.sex span{
			cursor: pointer;
		}
		.collection_list{
			width: 100%;
			float: left;
		}
		.collection_li {
		    float: left;
		    width: 44%;
		    margin: 0px 3% 40px;
		}
		.sold_room{
			color: #939393;
			font-size: 15px;
			margin-left: 5px;
		}
		.money_area{
			color: #ff3909;
		}
		.comment i{
			color: #939393;
		}
		.now_position_wrap {
		    width: 100%;
		    margin: 20px 0;
		}
		.now_position li {
		    float: left;
		    margin: 0 5px;
		}
		.chi_pos{
			color: #939393;
		}
		.dormitory_article{
			float: left;
    		width: 100%;
		}
		.dormitory_head {
		    text-align: center;
		    margin-top: 42px;
		    padding-bottom: 30px;
		    border-bottom: 1px solid #d8d8d8;
		}
		.dormitory_name{
			font-size: 25px;
    		margin-bottom: 15px;
		}
		.function_li{
			display: inline;
			margin-left: 10px;
		}
		.function_li img{
			width: 17px;
			height: 15px;
		}
		.message_num,.browse_num,.collect{
			color: #939393;
			margin-left: 6px;
		}
		.article_content img{
			display: block;
			width: 80%;
			margin:20px auto;
		}
		.article_content{
		    padding: 60px 20px;
		}
		.textarea_tip {
			float: left;
		    color: #b2b2b2;
		}
		.user_comment_wrap{
		    margin: 30px 0;
		}
		.comment_left{
			float: left;
			width: 10%;
		}
		.comment_right{
			float: left;
			width: 90%;
		}
		.comment_name{
		    text-align: center;
		    float: left;
		}
		.comment_content1 {
		    float: left;
		    width: 100%;
		    min-height: 50px;
		}
		.comment_time {
		    color: #939393;
		    margin-bottom: 20px;
		}
		.area_select{
		    width: 100%;
		    height: 100%;
		    padding-left: 14px;
		    font-size: 18px;
		    border-radius: 10px 0 0 10px;
		    outline: none;
		    border: 1px solid #d2d2d2;
		}
		.checkin_time,.checkout_time{
			width: 84%;
		    height: 100%;
		    padding-left: 16%;
		    font-size: 18px;
		    outline: none;
		    border: 1px solid #d2d2d2;
		}
		.area_select_wrap,.checkin_time_wrap,.checkout_time_wrap{
			position: relative;
		    width:  25%;
		    height: 50px;
		    float: left;
		}
		.condition_select{
			width: 100%;
		    float: left;
		    margin-top: 16px;
		    text-align: center;
		}
		.area_select_wrap{
			display: inline;
		}
		.search_btn1 {
		    float: left;
		    width: 25%;
		    height: 51px;
		    line-height: 51px;
		    text-align: center;
		    border-radius: 0 10px 10px 0;
		    background: #fe7e00;
		    color: #fff;
		    cursor: pointer;
		    font-size: 18px;
		}   
		.condition_select_wrap {
		    margin: 0 auto;
		    width: 80%;
		}
		.type_select_ul li {
		    float: left;
		    height: 60px;
		    width: 12%;
		    color: #646464;
		    line-height: 58px;
		    text-align: center;
		    border-right: 1px solid #d2d2d2;
		}
		.type_select_ul li:hover{
		    color: #00cfff;
		}
		.first_li{
			border-left: 1px solid #d2d2d2;
		}
		#area,#room,#prize,#theme{
		    height: 60px;
		    width: 100%;
		    padding-left: 32%;
		    border: 0;
		    outline: none;	    
		}
		.type_select{
		    float:  left;
		    width:  100%;
		    height: 60px;
		    border-top: 1px solid #d2d2d2;
		    border-bottom: 1px solid #d2d2d2;
		}
		.type_select_ul{
			padding-left: 15%;
		}
		.select_ul{
			width: 40%;
			margin: 0 auto;
		}
		.select_ul li {
		    float: left;
		    width: 48%;
		    height: 50px;
		    line-height: 50px;
		    color: #424242;
		    text-align: center;
		    cursor: pointer;
		    border:1px solid #d2d2d2;
		}
		.select_ul .active{
			background: #00cfff;
			color: #fff;
		}
		.select_ul_wrap{
			float: left;
			width: 100%;
			margin: 20px 0;
		}
		.story_ul{		
			display: none;	
		    float:  left;
		    width:  100%;
		}
		.story_img {
		    float: left;
		    width: 44%;
		}
		.story_img a img{
			width: 100%;
			height: 100%;
		}
		.story_info {
		    float: left;
		    position: relative;
		    margin-left: 20px;
		    width: 53%;
		}
		.stroy_title{	
		    font-size: 20px;
		    font-weight:  bold;
		    margin-bottom: 10px;
		}
		.story_content {
		    margin-top: 25px;
		    height: 180px;
		}
		.story_content a{
			color: #9e9e9e;
		}
		.story_label{
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.story_ul li{
		    padding-bottom: 25px;
		    border-bottom: 1px solid #d2d2d2;
		    float: left;
		    margin-top: 30px;
		}
		.story_label_ul li{		
		    float: left;
		    margin-right: 20px;
		    border-radius: 90px;
		    border: 1px solid #d8d8d8;
		    color: #939393;
		    padding: 5px 10px;
		}		
		.story_article{
			margin-bottom: 80px;
		}
		.hostel_title .message_num,.hostel_title .browse_num,.hostel_title .collect,.share{
			color: #242424;
		}
		.hostel_title span{
			margin-left: 20px;
		}
		.hostel_title span img{
			width: 17px;
			height: 15px;
		}
		.hostel_detail {
		    margin-top: 30px;
		    font-size: 14px;
		    margin-bottom: 5px;
		}
		.banner_big {
		    float: left;
		    width: 86%;
		    height: 480px;
		}
		.banner_big img{
			width:  100%;
			height: 100%;
		}
		.banner_ul{
		    float:  left;
		    width: 13%;
		    margin-left:  0.5%;
		}
    	.banner_ul li{
		    width: 100px;
		    height: 68px;
		    margin-bottom: 1px;
    	}
		.banner_ul li img{
			width: 100%;
			height: 100%;
		}
		.banner_exchange{
			margin-top: 20px;
		}
		.nav_ul{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-top: 1px solid #d2d2d2;
			border-bottom: 1px solid #d2d2d2;
		}
		.nav_ul li{
			float: left;
			margin-right: 400px;
		}
		.nav_ul_wrap{
			margin-top: 40px;
    		margin-bottom: 40px;
		}
		.nav_ul {
		    float: left;
		    width: 100%;
		    padding: 10px 0;
		    border-top: 1px solid #d2d2d2;
		    border-bottom: 1px solid #d2d2d2;
		}
		.nav_ul li {
		    float: left;
		    margin-right: 70px;
		    font-weight: bold;
		}
		.nav_ul li:hover a{
			color: #00cfff;
		}
		.nav_ul .active a{
			color: #00cfff;
		}
		.checkIn_date,.checkOut_date{
			position:relative;
			float: left;
		}
		#checkIn_date, #checkOut_date {
		    width: 150px;
		    height: 40px;
		    padding: 0 5px;
		}
		.logo_wrap{
			float: left;
		    width: 100%;
		    margin: 30px 0 20px;
		}
		.logo_wrap1{
			float: left;
		    width: 100%;
		    margin: 0px 0 20px;
		}
		.checkOut_date,.checkIn_date{
			margin-left: 20px;
		}
		.date_sign1{
			position: absolute;
		    right: 7px;
		    top: 7px;
		}
		.ele_logo{
			float: left;
		}
		.logo_word{
			color: #00cfff;
			font-weight: bold;
		    margin-left: 30px;
		}
		.search_btn2{
		    float: left;
		    width: 100px;
		    height: 44px;
		    line-height: 44px;
		    background: #ff7f00;
		    margin-left: 20px;
		    box-shadow: 0 0 5px #666;
		    color: #fff;
		    border-radius: 10px;
		    text-align: center;
		    cursor: pointer;
		}
		.house_li {
		    float: left;
		    width: 31%;
		    padding: 20px 0 10px;
		    box-shadow: 0 0 5px #666;
		    margin: 0 1%;
		}
		.house_title1 {
		    font-size: 20px;
		    margin-bottom: 5px;
		    font-weight: bold;
		    width: 90%;
		    padding: 0 5%;
		}
		.house_img img{
		    width:  100%;
		    height: 200px;
		}
		.house_ul_wrap{
			position: relative;
		}
		.house_info_ul{
    		padding:  0 5%;
		}
		.house_info_ul li{
    		font-size: 15px;
		}
		.money_tip{
		    position: absolute;
		    right: 12px;
		    top: 0;
		    font-size: 25px;
		    font-weight: bold;
		    color: #ff3909;
		}
		.order_btn{
		    margin: 25px auto;
		    width:  50%;
		    display:  block;
		    height: 40px;
		    background: #ff7f00;
		    font-size: 15px;
		    color: #fff;
		    cursor: pointer;
		    border: 0;
		    border-radius: 30px;
		    outline: none;
		}
		.service_list dl {
		    float: left;
		    width: 100%;
		    padding: 20px 0;
		    border-bottom: 1px solid #d2d2d2;
		}
		.service_list dt {
		    font-size: 18px;
		    font-weight: bold;
		    margin-bottom: 18px;
		}
		.service_list dd{
			float: left;
			text-align: center;
			margin-right: 25px;
		}
		.user_comment_ul{			
		    float:  left;
		    width:  100%;
		}
		.house_comment_li{
			border-top: 1px solid #d2d2d2;
			float: left;
			width: 100%;
			padding: 20px 0;
		}
		.stars1 {
		    float:left;
		    width: 100%;
		    margin-top: -3px;
		    background-color: white;
		    color: #939393;
		    margin-bottom: 10px;
		}
		.comment_reply {
		    float: right;
		    border-top: 1px solid #d2d2d2;
		    width: 90%;
		    padding: 20px 0;
		}
		.house_intro_content{
			float: left;
			width: 100%;
		}
		.banners img{
			width: 100%;
		}
		.dishes_img{
		    width:  80%;
		    margin: 0 auto 30px;
		    text-align:  center;
		}
		.dishes_intro{
			margin: 10px 0;
		}
		.dishes_img img{
    		width:  100%;
		}
		.guess_ul li {
		    float: left;
		    width: 23%;
		    margin: 0px 1% 40px;
		}
		.date_sign2{
			position: absolute;
			left: 0;
			top: 10px;
		}
		.dormitory_article1 {
		    float: left;
		    width: 65%;
		    margin-right: 3%;
		}
		.dormitory_info {
		    width: 94%;
		    float: left;
		    padding: 3%;
		    margin-top: 40px;
		    background: #f9f9f9;
		}
		.dormitory_aside{
			float: left;
			width: 32%;
		}
		.dormitory_pic {
		    float: left;
		    width: 144px;
		}
		.dormitory_right {
		    float: left;
		    padding: 1%;
		}
		.dormitory_pic img{
			width: 100%;
		}
		.dormitory_title {
		    font-size: 18px;
		    font-weight: bold;
		    margin-bottom: 6px;
		}
		/*.sub_title {
		    float: left;
		    width: 100%;
		    font-size: 16px;
		    margin-bottom: 1px;
		}*/
		.dormitory_detail{
			font-size: 16px;
    		color: #939393;
		}
		.checkin_time1,.checkout_time1{
		    height: 40px;
		    width: 200px;
		    padding-left: 10px;
		    margin-top: 10px;
		}
		.date_sign3 {
		    position: absolute;
		    right: 24px;
		    top: 36px;
		}
		.house_intro{
			float: left;
		    width: 100%;
	        margin-top: 30px;
		}
		.checkin_time_wrap1, .checkout_time_wrap1 {
		    position: relative;
		    width: 200px;
		    height: 50px;
		    margin-right: 30px;
		    float: left;
		}
		.contact_person1{
			float: left;
		}
		.comment_place{
			float: left;
		    width: 100%;
		}
		.comment_place p{
		    color: #ff7f00;
		    font-size: 18px;
		    font-weight:  bold;
		    margin-bottom: 20px;
		}
		#comment_txt {
		    width: 98%;
		    padding: 1%;
		    height: 150px;
		    font-size: 18px;
		}
		.order_browser_title{
			padding: 10px;
    		border-bottom: 1px solid #d2d2d2;
		}
		.order_browser_wrap{
		    padding: 0 10px;
		}
		.order_pic{
			width: 100%;
		    margin-top: 20px;
		}
		.order_pic img{
			width: 100%;
		}
		.order_browser_info{		
		    padding-bottom:  20px;
		    border-bottom: 1px solid #d2d2d2;
		}
		.order_info_ul {
		    padding-top: 15px;
		    font-size: 15px;
		    float: left;
		    border-bottom: 1px solid #d2d2d2;
		    margin-bottom: 10px;
		}
		.order_browser_label{
			float: left;
		    height: 38px;
		    width: 30%;
		}
		.order_browser_label1{
			float: left;
		    width: 30%;
		}
		.order_browser_date{
		    margin-left: 2%;
		    float: left;
		    width: 68%;
		}
		.order_browser_date p{
			color: #939393;
		}
		.order_cost_span {
		    color: #f83002;
		    font-size: 20px;
		    font-weight: bold;
		    margin-left: 30px;
		}
		.order_info_ul li{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
		.order_browser{
		    padding-bottom: 10px;
		    border: 1px solid #d2d2d2;
		    box-shadow: 0 0 5px #666;
		}
		.return_rule{
			background: #f9f9f9;
			padding: 20px;
    		font-size: 13px;
		}
		.return_rule dt{
			font-size: 16px;
		    font-weight: bold;
		    margin-bottom: 12px;
		}
		.return_rule dt i{
			display: block;
			float: left;
			margin-right: 10px;
		}    
		.return_rule dd{
			margin-bottom: 10px;
		}
		.order_head{
		    width: 100%;
		    margin-top: 40px;
		    float: left;
	        margin-bottom: 40px;
		}
		.left_line,.right_line{
		    float: left;
		    width: 40%;
		    height: 12px;
		    border-bottom: 1px solid #d2d2d2;
		}
		.order_head span {
		    font-weight: bold;
		    width: 10%;
		    float: left;
		    color: #00ccff;
		    font-size: 20px;
		    text-align: center;
		}
		.dormitory_article2 {
		    float: left;
		    width: 30%;
		    margin-right: 19%;
		}
		.main_content{
			padding-bottom: 20px;
			border-bottom: 1px solid #d2d2d2;
		}
		.warning{
			color: #fd3106;
		}
		.confirm_area{
			margin-top: 30px;
   			text-align: center;
		}
		.submit_btn1 {
		    height: 40px;
		    line-height: 40px;
		    border-radius: 90px;
		    border: 0;
		    padding: 0 46px;
		    color: #fff;
		    background: #fe7f00;
		    cursor: pointer;
		    box-shadow: 0 0 5px #666;
		    font-size: 15px;
		    width: 10%;
		    margin: 0 auto;
		}
		.greyb{
			background: #d5d5d5;
		}
		.return_rule1{
			text-align: left;
			background: #fff;
		}
		.banner_ul .active {
		    border: 3px solid #74e0f5;
		    width: 94px;
		    height: 62px;
		}
		.collection1 img{
			width: 17px;
		}
		.li_title a{
			color:#313131;
		}
		.publish_date{
		    margin-right: 18px;
		}
		.recommend_ul .four_li {
		    float: left;
		    width: 23%;
		    margin: 0px 1% 40px;
		}
		.alert_wrap {
		    position: fixed;
		    background: rgba(0,0,0,0.5);
		    width: 100%;
		    height: 100%;
		    display: none;
		    z-index: 100;
		}
		.login_alert {
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 800px;
		    height: 350px;
		    padding: 65px 30px 89px;
		    background: #fff;
		    z-index: 100;
		}
		.login_icon{
		    float:  left;
		    width:  50%;
		}
		.login_icon i{		
		    display:  block;
		    float:  left;
		    margin-top: 78px;
		}
		.register_info_wrap{
		    float: right;
			width: 50%;
		}
		.register_select_ul{
		    float:  left;
		    width:  100%;
		}
		.register_select_ul .active{
		    border-bottom: 3px solid #006bd4;
		}
		.register_select_ul{
		    float: left;
			width: 100%;
		}
		.register_select_ul li {
	        float: left;
		    width: 50%;
		    padding-bottom: 20px;
		    font-size: 18px;
		    font-weight: bold;
		    text-align: center;
		    border-bottom: 1px solid #f1f1f1;
		    cursor: pointer;
		}
		.register_box_input input {
		    height: 24px;
		    width: 200px;
		    outline: none;
		    padding: 5px 10px;
		    font-size: 16px;
		    border-radius: 5px;
		    border: 1px solid #e6e6e6;
		}
		.register_box_input {
		    float: left;
		    margin-top: 20px;
		    width: 92%;
		    font-size: 16px;
		    text-align: center;
		    position: relative;
		}
		.register_btn_wrap{
			width: 100%;
		    float: left;
		    text-align: center;
		    margin-top: 10px;
		    color: #787878;
		}
		.register_btn {
		    color: #fff;
		    background: #006bd4;
		    width: 250px;
		    height: 50px;
		    font-size: 16px;
		    outline: none;
		    border: 0;
		    border-radius: 5px;
		    cursor: pointer;
		}
		.register_btn_wrap a{
			color: #046dd5;
			margin-left: 5px;
		}
		.register_btn_wrap input[type="checkbox"]{
			margin-right: 9px;
		    width: 20px;
		    height: 15px;
		}
		.register_btn_wrap input[type="button"]{
			cursor: pointer;
		}
		.register_box_input i {
		    position: absolute;
		    top: 6px;
		    left: 67px;
		}
		.login_btn {
		    color: #fff;
		    background: #006bd4;
		    width: 211px;
		    height: 50px;
		    font-size: 16px;
		    outline: none;
		    border: 0;
		    margin-right: 5px;
		    border-radius: 5px;
		}
		.forget_btn{
			color: #046dd5;
			cursor: pointer;
		}
		.login_btn_wrap{
		    float: left;
		    width: 100%;
		    text-align: center;
		}
		.close_btn {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    transition:all 1s ease-in;
		}
		.close_btn:hover{
			transform:rotate(720deg);
		}
		.article_info{
		    white-space: nowrap;
		}
		.recommend_reason{
		    max-height: 62px;
		    overflow: hidden;
		    text-overflow:ellipsis;
		}
		.recommend_title a{			
		    max-width: 80%;
		    display:  block;
		    float:  left;
		    white-space:  nowrap;
		    text-overflow:  ellipsis;
		    overflow:  hidden;
		}
		.functions{
			display: inline;
		}
		
		.nav_bottom {
		    display: none;
		    position: fixed;
		    border-top: 1px solid #ddd;
		    bottom: -1px;
		    width: 100%;
		    left: 0;
		    padding-top: 5px;
		    background: #fff;
		    padding-bottom: 5px;
		    box-shadow: 0 -1px 2px #cfcfcf;
		    z-index: 1000;
		}
		.nav_bottom_li{
			float: left;
			width: 25%;
			text-align: center;
		}
		.nav_bottom_li img {
		    width: 25px;
		    height: 25px;
		}
		.nav_bottom_li p {
		    text-align: center;
		    font-size: 16px;
		    color: #cfcfcf;
		    margin-top: -2px;
		}
		.nav_bottom_li .active{
			color: #5edeff;
		}
		.nav_top {
		    position: fixed;
		    top: 50px;
		    left: 0;
		    width: 100%;
		    background: #fff;
		    z-index: 20;
		    color: #676767;
		}
		.nav_top_li{
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 20px;
			text-align: center;
			border-top: 1px solid #ddd;
		}
		.nav_top_li:hover{
			color: #01ccff;
		}
		@media(max-width:1015px){
			.form_li1{
		    	width: 100%;
			}
			.form_li1 input{
				width: 90%;
			}
			.add,.add1{
		    	right: 9px;
			}
			.input_wrap input{
			    width: 80%;
			}
			.type_select_ul li {
			    width: 19.4%;
			    float: left;
			}
		}
		@media(max-width:890px){
			.nav_bottom{
				display: block;
			}
			.container {
			    width: 96%;
			}
			.head_nav a li {
			    color: #00ccff!important;
			}
			.head_nav {
				display: none;
			    float: right;
			    width: 100%;
			    text-align: center;
			    position: absolute;
			    top: 51px;
			    z-index: 2;
			    left: 0;
			    background: #fff;
			    transition:all 1s ease;
			}
			.head_nav li {
			    float: left;
			    width: 100%;
			    margin-right: 20px;
			    border-bottom: 1px solid #d8d8d8;
			}
			.collapse_btn{
				display: block;
			}
			.item_li {
			    width: 98%;
			}
			.pages_ul {
				display: inline-block;
			    margin: 0 auto;
			}
			.pages_ul li {
			    float: left;
			    padding: 8px 10px;
			    font-size: 15px;
			}
			.recommend_ul li {
			    float: left;
			    width: 100%;
			    margin: 0px 1% 40px;
			}
			.login_alert {
			    position: fixed;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    width: 81%;
			    height: 350px;
			    padding: 65px 30px 89px;
			    background: #fff;
			    z-index: 100;
			}
			.login_icon{
				display: none;
			}
			.register_info_wrap{
				width: 100%;
			}
			.register_box_input {
			    float: left;
			    margin-top: 20px;
			    width: 100%;
			    font-size: 16px;
			    text-align: center;
			    position: relative;
			}
			.register_box_input i {
			    left: 34px;
			}
			.functions{
				width: 100%;
				display: block;
				text-align: center;
				margin-bottom: 5px;
			}
			.dormitory_article1 {
			    float: left;
			    width: 100%;
			    margin-right: 0;
			}
			.checkin_time_wrap1, .checkout_time_wrap1{
				height: auto;
			}
			.house_intro {
			    float: left;
			    width: 100%;
			    margin-top: 30px;
			}
			.dormitory_aside {
			    float: left;
			    width: 100%;
			}
			.dormitory_pic {
			    float: left;
			    width: 100%;
			}
			.left_line, .right_line {
			    float: left;
			    width: 30%;
			    height: 12px;
			    border-bottom: 1px solid #d2d2d2;
			}
			.order_head span {
			    font-weight: bold;
			    width: 40%;
			    float: left;
			    color: #00ccff;
			    font-size: 20px;
			    text-align: center;
			}
			.dormitory_article2 {
			    float: left;
			    width: 100%;
			     margin-right: 0; 
			}
			.type_select_ul {
			     padding-left: 0%; 
			}
			.story_img {
			    float: left;
			    width: 100%;
			}
			.story_info {
			    width: 95%;
			}
			.form_wrap {
			    padding: 0px 10%;
			}
			.left_navbar {
			    float: left;
			    width: 100%;
			    height: auto;
			}
			.list_article {
			    float: left;
			    margin-top: 30px;
			    width: 100%;
			}
			.collection_li {
			    float: left;
			    width: 100%;
			    margin: 0px auto 40px;
			}
			.list_article{
				margin-left: 0;
			}
			.order_time input {
			    width: 96%;
			    height: 30px;
			    margin-bottom: 25px;
			}
			.order_img{
				width: 100%;
			}
			.order_info{
				width: 100%;
			}
			.person_left {
			    width: 100%;
			}
			.person_right {
			    width: 100%;
			}
			.banner_big {
			    float: left;
			    width: 100%;
			    height: auto;
			}
			.banner_ul {
			    float: left;
			    width: 100%;
			    margin-left: 0.5%;
			}
			.banner_ul .active {
			    border: 3px solid #74e0f5;
			    height: 62px;
			}
			.banner_ul .active {
			    border: 3px solid #74e0f5;
			    width: 13%;
			    height: 30px;
			}
			.banner_ul li {
			    width: 14%;
			    height: 35px;
			    float: left;
			    margin-bottom: 1px;
			}
			.nav_ul li {
			    float: left;
			    width: 33.3%;
			    text-align: center;
			    margin-right: auto;
			    font-weight: bold;
			}
			.checkIn_date,.checkOut_date{
			    margin-left: 50px;
			}
			.search_btn2 {
			    float: left;
			    width: 40%;
			    height: 44px;
			    line-height: 44px;
			    background: #ff7f00;
			    box-shadow: 0 0 5px #666;
			    color: #fff;
			    border-radius: 10px;
			    text-align: center;
			    cursor: pointer;
			    margin: 20px 30%;
			}
			.house_li {
			    float: left;
			    width: 100%;
			    padding: 20px 0 10px;
			    box-shadow: 0 0 5px #666;
			    margin: 0 1% 20px;
			}
			.comment_left {
			    width: 20%;
			}
			.comment_right {
			    width: 80%;
			}
			.comment_reply {
			    width: 80%;
			}
			.area_select_wrap, .checkin_time_wrap, .checkout_time_wrap{
				width: 26%;
			}
			.date_sign2{
				display: none;
			}
			.search_btn1{
			    width: 20%;
			}
			.condition_select_wrap {
			    width: 100%;
			}
			.checkin_time, .checkout_time{
				padding-left: 0;
				width: 100%;
			}
			.recommend_ul .four_li {
			    width: 98%;
			    margin: 0px 1% 40px;
			}
			.guess_ul li {
			    float: left;
			    width: 98%;
			    margin: 0px 1% 40px;
			}
			
			.type_select {
			    height: 30px;
			}
			.type_select_ul li{
				height: 30px;
			    line-height: 28px;
			}
			#area, #room, #prize, #theme {
			    height: 30px;
			}
			.mgt10_m{
				margin-top: 10px!important;
			}
			.mgt5_m{
				margin-top: 5px!important;
			}
			.content {
   			 padding-top: 0!important;
   			}
   			.left_nav a li:not(.active)
			{ 
				display: none;
			}
			.comment_alert{
				width: 100%;
			}
			body{
			    padding-bottom: 59px;
			}
			.control_img{
				width: 100%;
			}
		}
		@media(min-width:890px){
			.head_nav {
				display:block!important;
			}			
		}