@charset "UTF-8";
/* CSS Document */



.guanggao{ display:block; height:600px; width:100%; background:url(../images/big_gg.png) center center no-repeat;   }
.gg{ display:none; height:100px; width:100%; background:url(../images/guanggao.png) center center no-repeat;}
/*banner*/
.isreg_cont{ width:100%; padding:60px 0; height:800px; background:url(../images/banner1.png) center center no-repeat; text-align:center; color:#fff;}
.isreg_cont .ig_title{ margin-bottom:60px; font-size:44px; font-weight:bold; line-height:44px;}
.isreg_cont .ig_seach{ border:7px #a3b4e8 solid; width:786px; margin:310px auto 0; overflow:hidden;}
.ig_seach .in_sea{ border:2px #476fdd solid; background-color:#fff; }
.ig_seach .ins_tit{ font-size:18px; line-height:18px; text-align:center; color:#ac1011; font-weight: bold; margin:22px 0 8px;}
.in_sea .ins_clude{ overflow: hidden;}
.in_sea .ins_input{ margin-left:64px; float:left; height:48px; width:484px; padding-left:20px; color:#000; font-size:16px; border:2px #ac1011 solid;}
.in_sea .ins_sbtn{ background-color:#ac1011; float:left; display:inline-block; text-align:center; color:#fff; font-size:16px; line-height:48px; height:48px; width:146px;}
.in_sea .ins_ep{ font-size:16px; color:#666; line-height:16px; margin:16px 0 30px; width:640px; height:16px; overflow:hidden;}
.ins_ep span{ float:left; margin-left:66px;}
.ins_ep ul{ overflow:hidden;}
.ins_ep ul .ep_list{ float:left; margin-right:30px;}
.in_sea .ins_tips{ border-top:2px #ac1011 solid; width:600px; z-index:111; margin:0 auto; position:relative;}
.ins_tips em{ color:#333; font-size:24px; background-color:#fff; z-index:119; line-height:24px; position:absolute; top:-12px; text-align:center; left:50%; margin-left:-120px; }
.in_sea .ins_words{ margin:30px 0 23px; text-align:center; font-size:16px; color:#333;}


/*活动*/
.isrgs_activity{ width:1180px; margin:20px auto; background-color:#fff; }
.isrgs_activity ul{ overflow:hidden;}
.isrgs_activity ul li{ float:left; margin-right:10px;}
.isrgs_activity ul .ic_list_fir{ width:59px; writing-mode:tb-rl; height:202px; background:url(../images/img_ac1.png) top left no-repeat; text-align: center; border-bottom:5px solid #ac1011;}
.ic_list_fir .icl_tit{ font-size:24px; color:#ac1011; margin-right:12px;}
.isrgs_activity ul .ic_list{ width:268px; height:202px; text-align:center; color:#fff; cursor: pointer;}
.isrgs_activity .is_href{overflow:hidden;}
.isrgs_activity ul .ic_list_sec{ background:url(../images/img_ac2.png) left top no-repeat;}
.isrgs_activity ul .ic_list_thr{ background:url(../images/img_ac3.png) left top no-repeat;}
.isrgs_activity ul .ic_list_four{ background:url(../images/img_ac4.png) left top no-repeat;}
.isrgs_activity ul .ic_list_five{ background:url(../images/img_ac5.png) left top no-repeat; margin-right:0;}
.isrgs_activity ul .ic_list_sec:hover, .isrgs_activity ul .ic_list_thr:hover, .isrgs_activity ul .ic_list_four:hover, .isrgs_activity ul .ic_list_five:hover{box-shadow:0px 5px 15px #999;
-moz-box-shadow:0px 5px 15px #999;
-webkit-box-shadow:0px 5px 15px #999;}
.ic_list .icl_tit{ font-size:26px; font-weight:bold; margin-top:50px; line-height:26px;}
.ic_list .icl_old{ font-size:22px; margin:18px 0; line-height:22px;}
.ic_list .icl_new{ font-size:16px; line-height:16px;}
.ic_list .icl_old em{ color:#fff777;}


/*快速通道*/
.isreg_speed{background:#f5f6fa url(../images/img_bl1.png) no-repeat bottom; padding-top:50px; padding-bottom:100px;}
.isgs_tit{ margin-bottom:20px; color:#000; text-align:center; font-size:30px; line-height:30px;}
.isgs_tips{ color:#ac1011; font-size:20px; margin-bottom:42px; text-align:center;}
.isgs_tips em{ color:#cacace;}
.isgs_tab ul{ display:block; margin:0 auto; border-top:1px #ececec solid; border-left:1px #ececec solid; overflow:hidden; text-align:center; background-color:#fff;}
.isgs_tab ul .it_list{ border-bottom:1px #ececec solid; border-right:1px #ececec solid; float:left; width:16.66%; height:200px; background:url(../images/s2_.png) center center no-repeat; cursor:pointer;}
.isgs_tab ul .it_list1{ background:url(../images/s2_24.png) center center no-repeat;}
.isgs_tab ul .it_list2{ background:url(../images/s3_24.png) center center no-repeat;}
.isgs_tab ul .it_list3{ background:url(../images/s4_24.png) center center no-repeat;}
.isgs_tab ul .it_list4{ background:url(../images/s5_24.png) center center no-repeat;}
.isgs_tab ul .it_list5{ background:url(../images/s6_24.png) center center no-repeat;}
.isgs_tab ul .it_list6{ background:url(../images/s8_24.png) center center no-repeat;}
.isgs_tab ul .it_list7{ background:url(../images/s10_07.png) center center no-repeat;}
.isgs_tab ul .it_list8{ background:url(../images/s12_13.png) center center no-repeat;}
.isgs_tab ul .it_list9{ background:url(../images/s13_23.png) center center no-repeat;}
.isgs_tab ul .it_list10{ background:url(../images/s14_25.png) center center no-repeat;}
.isgs_tab ul .it_list11{ background:url(../images/s15_27.png) center center no-repeat;}
.isgs_tab ul .it_list12{ background:url(../images/s16_23.png) center center no-repeat;}
.isgs_tab ul li.it_list1:hover{ background:url(../images/s2_24.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list2:hover{ background:url(../images/s3_24.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list3:hover{ background:url(../images/s4_24.png)  #fff center center no-repeat;}
.isgs_tab ul li.it_list4:hover{ background:url(../images/s5_24.png)#fff center center no-repeat;} 
.isgs_tab ul li.it_list5:hover{ background:url(../images/s6_24.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list6:hover{ background:url(../images/s8_24.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list7:hover{ background:url(../images/s10_07.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list8:hover{ background:url(../images/s12_13.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list9:hover{ background:url(../images/s13_23.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list10:hover{ background:url(../images/s14_25.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list11:hover{ background:url(../images/s15_27.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list12:hover{ background:url(../images/s16_23.png) #fff center center no-repeat;}
.isgs_tab ul li.it_list:hover .words{ color:#000; font-size:18px;}
.it_list .words{ color:#666; font-size:16px; padding-top:160px; display:block;}
.isreg_speed .isgs_bot{ width:580px; margin:60px auto 36px;}
.isgs_bot a{display:inline-block; height:40px; width:186px; font-size:16px; color:#fff; text-align:center; line-height:40px;}
.isgs_bot .ib_btn1{ background-color:#ac1011; margin-right:200px;}
.isgs_bot .ib_btn1:hover{ background-color:#000022;}
.isgs_bot .ib_btn2{ background-color:#AC9110;}
.ib_btn2:hover{background-color#c40000;}

/*商标的重要性*/
.isreg_import{ background:#fff url(../images/img_bl2.png) no-repeat bottom; padding-bottom:25px;float: left;}
.isgs_tips_s{ margin-bottom:40px; font-size:14px; color:#999; text-align:center;}
.isreg_import .isreg_img {
	width: 76%;
    height: 548px;
    margin: 0 auto 83px;
}
img.img_block{ width:100%;}

/*如何注册商标*/
.isreg_how{background:#f5f6fa url(../images/img_bl3.png) no-repeat bottom; padding:60px 0px 25px;}
.isreg_how ul{ overflow:hidden; width:1170px; margin:0 auto;}
.isreg_how ul li{ float:left; width:102px; height:111px; background:url(../images/img_how2.png) top left no-repeat; text-align:center; color:#ac1011; cursor:pointer;}
.isreg_how ul li span{ display:block;}
.isreg_how ul li .ihl_num{ font-size:18px; line-height:18px; margin-top:20px; font-weight:bold; font-style:oblique;}
.isreg_how ul li .ihl_word{ margin-top:10px; font-weight:bold;}
.isreg_how ul li.curs{ float:left; width:102px; height:111px; background:url(../images/img_how1.png) top left no-repeat; text-align:center; color:#fff; cursor:pointer;}
.isreg_how ul i.ih_list_to{ float:left; width:76px; height:111px; background:url(../images/img_to.png) center 30px no-repeat; display:block;}
.isreg_how .ih_tips{ text-align:center; font-size:14px; color:#999; margin:60px 0 40px;}
.isreg_how .ih_service{ width:1098px; text-align:left; margin:0 auto 90px;}
.ih_service .ihs_warn{ color:#666; font-size:18px; line-height:18px; margin-bottom:10px;}
.ih_service .ihs_words{ font-size:14px; color:#999; line-height:36px;}

#tab{position:relative;height:550px;}
#tab .tabList ul li{
	float:left;
	background:#fefefe;
	background:-moz-linear-gradient(top, #fefefe, #ededed);	
	background:-o-linear-gradient(left top,left bottom, from(#fefefe), to(#ededed));
	background:-webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#ededed));
	border:1px solid #ccc;
	padding:5px 0;
	width:100px;
	text-align:center;
	margin-left:-1px;
	position:relative;
	cursor:pointer;
}
#tab .tabCon{
	/*position:absolute;*/
	left:-1px;
	top:32px;
	/*border:1px solid #ccc;*/
	border-top:none;
	width:1170px;
	height:438px;
	margin:0px auto;
}
#tab .tabCon div{
	width:1170px;
	height:auto;
	padding:100px 0px;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	font-size:14px; 
	color:#666; 
	line-height:36px;
	overflow:hidden;
}
#tab .tabCon div.curs{
	opacity:1;
	filter:alpha(opacity=0);
}

/*入驻电商必备资质*/
.isreg_necess{background:#fff url(../images/img_bl2.png) no-repeat bottom; padding:60px 0px 25px;}
.isreg_necess ul{ overflow:hidden; width:1172px; margin:0 auto 120px; }
.isreg_necess ul .isn_list{ width:352px; height:451px; padding:0 25px;}
.isreg_necess ul .isn_list1{ background:url(../images/img_must1.png) left top no-repeat; float:left;}
.isreg_necess ul .isn_list2{ background:url(../images/img_must2.png) left top no-repeat; float:left; margin:0 58px;}
.isreg_necess ul .isn_list3{ background:url(../images/img_must3.png) left top no-repeat; float:left;}
.isn_list .inl_word{ font-size:16px; margin:240px 0 40px; color:#777; line-height:30px; text-align: left;}
.isn_list3 .inl_word{ margin:240px 0 10px;}
.isn_list .inl_btn{ display:block; width:170px; height:40px; background-color:#ac1011; font-size:16px; color:#fff; text-align:center; line-height:40px; margin:0 auto;}
.isn_list .inl_btn:hover{ display:block; width:170px; height:40px; background-color:#000022; font-size:16px; color:#fff; text-align:center; line-height:40px; margin:0 auto;}

/*服务优势*/
.isreg_advan{  width:100%;background:#f5f6fa url(../images/img_bl3.png) no-repeat bottom; padding:60px 0px 25px;float: left;}
.isreg_advan ul{ overflow:hidden; width:100%; padding-top:20px; margin:0 auto 90px;padding-bottom: 20px;}
.isreg_advan ul .isa_list{ float: left; width:25%;}
.isa_list .img_adv{ width:146px; height:146px; display:block;border-radius: 90px; border:0 none; margin:0 auto 38px;}
.isa_list1 .img_adv{background: #ac1011;}
.isa_list2 .img_adv{background: #AC9110;}
.isa_list3 .img_adv{background: #2E1776;}
.isa_list4 .img_adv{background: #0D8A0D;}
.isa_list  .isal_wors{ font-size:16px; color:#3e3a39; line-height:36px; text-align:center;}

/*选择米鹿*/
.isreg_choose{padding-bottom: 95px;}
.isreg_choose .logo{ display:block; border:0 none; width:129px; height:122px; margin:50px auto 0;}
.isreg_choose .ic_tip{ font-size:22px; color:#666; text-align:center; line-height:36px;}
.isreg_choose .ic_tit{ font-size:28px; color:#000022; text-align:center; margin:40px 0;}
.isreg_choose .ic_btnzi{ display:block; margin:0 auto; background-color:#ac1011; text-align:center; width:186px; height:40px; line-height:40px; color:#fff;}
.isreg_choose .ic_btnzi:hover{ display:block; margin:0 auto; background-color:#000022;}

/*底部咨询浮层*/
.bottom_fixed{ width:100%; background:url(../images/img_bg_foot.png) left top; height:112px; position:fixed; bottom:0; left:0; z-index:10;}
.fr{ float:right;}
.bottom_fixed .bf_main{ width:1180px; margin:0 auto;}
.bf_main .bfm_close{ float:right; top:0; right:0; background: #333333 url(../images/icon_close.png) center no-repeat; display:block; width:36px; height:36px;}
.bf_main .fm_ewm{ margin-right:14px;}
.fm_ewm dt{ margin-top:10px; margin-right:10px; float:left;}
.fm_ewm dd{ writing-mode: vertical-rl; float: left; color: #fff; height: 112px; line-height: 18px; text-align: center;}
.bf_img{ position:fixed; margin-top:-56px;}
.bf_box{ margin-top:35px; margin-right:40px; overflow:hidden;}
.bf_box .inp_text{  width:232px; height:42px; padding-left:10px; border:0 none;}
.bf_box .inp_text::-webkit-inner-spin-button {
-webkit-appearance: none;
}
.bf_box .inp_text::-webkit-outer-spin-button {
-webkit-appearance: none;
}
.bf_box .form_btn{ display:inline-block; background-color:#ac1011; font-size:16px; color:#fff; line-height:42px; height:42px; width:108px; text-align:center;}
.bf_main .hide{ display:none;}
.bottom_sib{ position:fixed; z-index:11; left:0; bottom:240px; cursor:pointer;}
.hide{ display:none;}