@charset "utf-8";
/* 站点说明： 重置各浏览器默认样式
 * 开发时间： 
 * 开发者： 
 * 维护者： 
 *
 * 样式版本： v1.0
 * 版本时间： 
 * 注意事项： 初始化样式,如果此样式未对网页产生影响尽量不要修改
 */

/*reset css*/
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,table,th,td,menu{ 
	margin:0;
	padding:0;
}
body{
	padding-top: 100px;
}
/* 设置默认字体 */
body,button, input, select, textarea {
	font-size:14px;
	font-family:'Microsoft Yahei', 'Simsun';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 10%;
    margin-top: 150px;
}
fieldset{ 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:center;
}
h1,h2,h3,h4,h5,h6 {
	font-size:180%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
a {
	text-decoration: none;
	color:#333;
}
a:hover {
	text-decoration: none;
	cursor:pointer;
}

img { border: 0 none; vertical-align: top; *vertical-align:baseline;}

.clear{clear:both;}
.clearfix:after{ content:"."; display:block; height:0; visibility:hidden; clear:both; }
.hide{ display:none;}
.marginTop{margin-top:10px;}
.m-top{margin-top:5px;}
.marginRight{margin-right:8px;}
.borderBottom{border-bottom:1px solid #e5e5e5}
.floatLeft{display:block;float:left;}
.floatRight{display:block; float:right;}