*{
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
}
li{
	list-style: none;
}
body{
	width: 100%;
}
a{
	text-decoration:none;
}
.header{
	width: 98%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	padding-left: 1%;
	padding-right: 1%;
	height: 85px;
	line-height: 85px;
	background: #00b7ee;	/*蓝色背景*/
	position: relative;
}
.header-1{
	display: block;
    height: 100px;
    line-height: 118px;
    color: #1fbdef;
    position: absolute;
    left: 10px;
    top: 0px;
}
.header-right{
	position: absolute;
    top: 15px;
    right: 18px;
}
.header-right img{
	width:61px;
}
.gray{
	margin-top: 10px;
	width: 100%;
    height: 55px;
    background: #f4f4f4;
    font-size: 20px;

}
.gray-left{
	float:left;
	margin-left: 40px;
	margin-top: 13px;
}
.gray-right{
	margin-right: 45px;
    float: right;
    margin-top: 12px;
}
.gray-left a{
	color:#1fbdef;
}
.gray-right a{
	color:#666;
}
.add{
	margin-bottom: -10px;
	margin-top: 6px;
}
.add img{
	width: 100%;
}
table{
	border:0;
	font-size: 20px;
	color: #1fbdef;     /*蓝色字*/
	background: #fff;
}
.table1{
	margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}
.td1{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: left;
    height: 80px;
    width: 8%;
    font-size: 13px;
    padding-left: 4%;
}
.td2{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: left;
    height: 80px;
    width: 20%;
    font-size: 13px;
    padding-left: 3%;
}
.td3{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: left;
    height: 80px;
    width: 23%;
    font-size: 13px;
    padding-left: 1%;
}
.td4{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: left;
    height: 80px;
    width: 20%;
    font-size: 13px;
    padding-left: 3%;
}
.td5{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: left;
    height: 80px;
    width: 24%;
    font-size: 13px;
}
.td6{
	background-color: #f4f4f4;
    border: 0;
    outline: none;
    text-align: center;
    height: 80px;
    width: 20%;
    font-size: 13px;
}
tr{
	border:1px solid #f4f4f4;
}
.line1{
	height: 50px;
}
.num{
	margin-left: 7%;
	color: #666;
	font-size: 16px;
}
.people-num{
	margin-left: 30%;
	color: #666;
	font-size: 16px;
}
.xfje{
	margin-left: 8%;
	color: #666;
	font-size: 16px;
}
.yj{
	margin-left: 17%;
	color: #666;
	font-size: 16px;
}
.zdj{
	margin-left: 30%;
	color: #666;
	font-size: 16px;
}
.status{
	width:70px;
	color: #1fbdef;
	margin-left: 1%;
	font-size: 16px;
}
.footer{
	width:100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 70px;
	background-color: #fff;
	border-top: 2px solid #f4f4f4;
}
.footer1{
	float:left;
	width:19%;
	margin-left: 5%;
	margin-top: 1px;
}
.footer2{
	float: left;
    width: 20%;
    margin-left: 5%;
    margin-top: 2px;
}
.footer3{
	float:left;
	width:20%;
	margin-left: 5%;
	margin-top: 3px;
}
.footer4{
	float:left;
	width:20%;
	margin-left: 5%;
}
.footer1 img{
	width: 45px;
}
.footer2 img{
	width: 65px;
}
.footer3 img{
	width: 69px;
}
.footer4 img{
	width: 45px;
	margin-left: 5%;
}




