 @media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@media (min-width:768px){.navbar{border-radius:4px}}@media (min-width:768px){.navbar-header{float:left}}.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}.navbar-collapse.in{overflow-y:auto}@media (min-width:768px){.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-collapse.in{overflow-y:visible}.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-right:0;padding-left:0}}.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:340px}@media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:200px}}.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}}.navbar-static-top{z-index:1000;border-width:0 0 1px}@media (min-width:768px){.navbar-static-top{border-radius:0}}.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}@media (min-width:768px){.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}.navbar-toggle:focus{outline:0}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}@media (min-width:768px){.navbar-toggle{display:none}}.navbar-nav{margin:7.5px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@media (max-width:767px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:20px}.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}}@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}.navbar-form{padding:10px 15px;margin-top:8px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)}@media (min-width:768px){.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle}.navbar-form .form-control-static{display:inline-block}.navbar-form .input-group{display:inline-table;vertical-align:middle}.navbar-form .input-group .form-control,.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn{width:auto}.navbar-form .input-group>.form-control{width:100%}.navbar-form .control-label{margin-bottom:0;vertical-align:middle}.navbar-form .checkbox,.navbar-form .radio{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.navbar-form .checkbox label,.navbar-form .radio label{padding-left:0}.navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio]{position:relative;margin-left:0}.navbar-form .has-feedback .form-control-feedback{top:0}}@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px}.navbar-form .form-group:last-child{margin-bottom:0}}@media (min-width:768px){.navbar-form{width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none}}.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-left-radius:0;border-top-right-radius:0}.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}.navbar-btn{margin-top:8px;margin-bottom:8px}.navbar-btn.btn-sm{margin-top:10px;margin-bottom:10px}.navbar-btn.btn-xs{margin-top:14px;margin-bottom:14px}.navbar-text{margin-top:15px;margin-bottom:15px}@media (min-width:768px){.navbar-text{float:left;margin-right:15px;margin-left:15px}}@media (min-width:768px){.navbar-left{float:left!important}.navbar-right{float:right!important;margin-right:-15px}.navbar-right~.navbar-right{margin-right:0}}.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7}.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#5e5e5e;background-color:transparent}.navbar-default .navbar-text{color:#777}.navbar-default .navbar-nav>li>a{color:#777}.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#555;background-color:#e7e7e7}
.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;max-width:100%;height:auto}
        *{
    margin:0;
    padding:0;
}
body{
    font-family:微软雅黑;
    background:#ddd;
    font-weight:bold;
    font-size:15px;
    color:#333;
    overflow: hidden;
    -webkit-font-smoothing:antialiased;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
.clr{
    width:0;
    height:0;
    overflow: hidden;
    clear:both;
    padding:0;
    margin:0;
}
.nav{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
}
.nav input,.nav_a{
    width:20%;
    height:34px;
    line-height:34px;
    position:fixed;
    bottom:0;
    cursor:pointer;
}
.nav input{
    opacity:0;
    z-index:1000;
}
.nav_a{
    z-index:10;
    font-weight:700;
    font-size:16px;
    background:#ffa042;
    color:#fff;
    text-align:center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
#nav1,#nav1 + a{
    left:0%;
}
#nav2,#nav2 + a{
    left:20%;
}
#nav3,#nav3 + a{
    left:40%;
}
#nav4,#nav4 + a{
    left:60%;
}
#nav5,#nav5 + a{
    left:80%;
}
.nav input:checked + a,
.nav input:checked:hover +a{
    background:#f47a00;
}
.nav input:checked + a:after{
    content:"";
    width:0;
    height:0;
    overflow:hidden;
    border:20px solid transparent;
    border-bottom-color:#f47a00;
    position:absolute;
    bottom:98%;
    left:50%;
    margin-left:-20px;
}
.nav input:hover + a{
    background:#ff8000;
}
.scroll,.panel{
    width:100%;
    height:100%;
    position:relative;
    text-align:center;
}
.scroll{
    left:0;
    top:0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    color:#ff8000;
    font-weight:bold;
}
.panel{
    background:#fff;
    overflow: hidden;
}
/*动画*/
#nav1:checked ~ .scroll #panel1 h1{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
#nav2:checked ~ .scroll #panel2 h1{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
#nav3:checked ~ .scroll #panel3 h1{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
#nav4:checked ~ .scroll #panel4 h1{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
#nav5:checked ~ .scroll #panel5 h1{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveDown {
    0%{
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity:0;
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity:1;
    }
}
.panel p{
    color: #000;
    margin-top: 260px;
    font-size: 20px;
}
#nav1:checked ~ .scroll{
     -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
     -ms-transform: translateY(0%);
     -o-transform: translateY(0%);
     transform: translateY(0%);
 }
#nav2:checked ~ .scroll{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
#nav3:checked ~ .scroll{
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
}
#nav4:checked ~ .scroll{
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    transform: translateY(-300%);
}
#nav5:checked ~ .scroll{
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    transform: translateY(-400%);
}
.icon{
    width:200px;
    height:200px;
    background:#fe6305;
    -webkit-transform:translateY(-50%) rotate(45deg);
    -moz-transform:translateY(-50%) rotate(45deg);
    -ms-transform:translateY(-50%) rotate(45deg);
    -o-transform:translateY(-50%) rotate(45deg);
    transform:translateY(-50%) rotate(45deg);
    position:absolute;
    left:50%;
    top:0;
    margin-left:-100px;
}
[data-icon]:after{
    content:attr(data-icon);
    width:200px;
    height:200px;
    color:#fff;
    font-size:30px;
    text-align:center;
    line-height:200px;
    position:absolute;
    left:18%;
    top:18%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.panelColor{
    background:#ffa042;
    color:#fff;
}
.panelColor .icon{
    background:#fe6305;
    color:#fff;
}
.panelColor .icon:after{
    color:#fff;
}
.scroll .panel h1{
    margin-top: 197px;
    font-size:60px;
    z-index: 10;
}/*678.5px*/
#panel2 .erweima,#panel4 .erweima{
    margin-right: 32.9%;
    margin-top: 82px;
}
#panel2 .download,#panel4 .download{
    margin-right: 32.6%;
}
#panel2 .introduction,#panel4 .introduction{
    margin-top: 344px;
    margin-left:26.5%;
}
#panel3 .introduction,#panel5 .introduction{
    margin-top: 321px;
    margin-right: 32.85%;
}
#panel3 .erweima{
    margin-top: 139px;
    margin-left: 44.4%;
}   
#panel3 .download,#panel5 .download{
margin-top: 400px;
margin-left:43.8%;
}
#panel5 .erweima {
    margin-top: 112px;
    margin-left: 43.5%;
}
.navbar{
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-right: 27px;
    line-height: 47px;
    background: rgba(0,153,227,0.7);
    font-size: 15px;
    color: #fff;
}
.navbar a{
    color: #fff;
}
.brand_word{
    float: left;
}
.navs{
    float: right;
    margin-right: 32px;
}
.nav_ul li{
    float: left;
    margin-right: 20px;
}
#panel1{
    width: 100%;
    background: url(../images/1.jpg) no-repeat;
    background-size: cover; 
}
#panel2{
    width: 100%;
    background:url(../images/2.jpg) no-repeat;
    background-size: cover; 
}
#panel3{
    width: 100%;
    background:url(../images/3.jpg) no-repeat;
    background-size: cover; 
}
#panel4{
    width: 100%;
    background:url(../images/4.jpg) no-repeat;
    background-size: cover; 
}
#panel5{
    width: 100%;
    background:url(../images/5.jpg) no-repeat;
    background-size: cover; 
}
.download{
    border-radius: 90px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border:1px solid rgba(0,153,227,0.7);
    box-shadow: 0px 0px 0px 0px rgba(0,153,227,0.7);
    opacity: 0.9;
    width: 200px;
    margin:0 auto;
    margin-top: 15px;
    background:rgba(0,153,227,0.7);
}
.panel .download a{
    color: #fff;
    font-size: 20px;
    width: 100px;
}
.download:hover{
    box-shadow: 0px 0px 20px 6px rgba(0,153,227,0.7);
    opacity: 0.8;
}
.panel .introduction{
    width: 400px;
    margin-top: 200px;
}
.right{
    float: right;
    margin-right: 100px;
}
.left{
    float: left;
    margin-left: 100px;
}
.erweimal{
    float: left;
    margin-top: 120px;
    margin-left: 256px;
    
}
.erweimar{
    float: right;
    margin-top: 120px;
    margin-right: 256px;
}
.downloadr{
    margin-top: 347px;
    margin-right: 245px;
}
.downloadl{
    margin-top: 347px;
    margin-left: 245px;
}
.panel .introduction{
    color:#fff;
    font-size: 15px;
}
.footer{
        position: absolute;
        bottom: 33px;
        left: 0;
        width: 100%;
        height: 52px;
        background: #1b1427;
        color: #fff;
        font-weight: normal;
        font-size: 15px;
        padding: 7px;
        z-index: 20;
        line-height: 52px;
    }
    .panel_left{
        float: left;
        width: 50%;
    }
    .panel_right{
        float: right;
        width: 50%;
    }
@media(max-width: 750px){
    .img-responsive{
        margin:0 auto;
    }
    .panel_left{
        text-align: center;
        width: 100%;
    }
    .panel_right{
        text-align: center;
        width: 100%;
    }
    .name1{
        top: 184px;
    }
    .navbar{
        display: none;
    }
.panel p {
     margin-top: 306px;
}
.download_wrap{
    margin-top: 10px;
     float: left;
     width: 100%;
     text-align: center; 
}
.panel .download a {
    font-size: 29px;
}
    .introduction{
        display: none;
    }
    #panel2 .erweima,#panel3 .erweima,#panel4 .erweima,#panel5 .erweima{ 
        width: 100%;
        margin:0;
        margin-top: 301px;
    }
    #panel5 .erweima{ 
        margin-top: 269px;
    }
    #panel1 .download,#panel2 .download, #panel3 .download, #panel4 .download,#panel5 .download{  
    text-align: center;
    margin: 0 auto;
    }
    #panel5 .download_wrap {
    margin-top: 16px;
    }
    #panel1{
    background-position: -332px 0;
    background-size: 1034px 647px;
    }
    #panel2{
    background-position: -209px -14px;  
    }
    #panel3{
        background-position: -764px 0;
    }
    #panel4{
        background-position: -232px 0;  
    }
    #panel5{
        background-position: -764px 0px;  
    }
    
    .footer{
        padding-left: 0px;
        position: absolute;
        bottom: 31px;
        left: 0;
        width: 100%;
        height: 55px;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
    }
}
@media(min-width: 751px){
    #panel1, #panel2,#panel3,#panel4,#panel5{
        background-position:-320px 0px;
    }
    #panel2 .introduction,#panel4 .introduction{
        margin-top: 394px;
        margin-left:2.5%;
}
    #panel3 .introduction,#panel5 .introduction{
        margin-top: 360px;
        width: 257px;
        margin-right: 12.85%;
    }
}
@media(min-width: 780px){
    #panel1, #panel2,#panel3,#panel4,#panel5{
        background-position:-290px 0px;
    }
     #panel2 .introduction,#panel4 .introduction{
    margin-top: 394px;
    margin-left:3.5%;
}
    #panel3 .introduction,#panel5 .introduction{
        margin-top: 360px;
        margin-right: 4.85%;
        width: 357px;
    }
}
@media(min-width: 880px){
    #panel1, #panel2,#panel3,#panel4,#panel5{
        background-position:-240px 0px; 
    }
     #panel2 .introduction,#panel4 .introduction{
   margin-top: 394px;
    margin-left:5.5%;
}
    #panel3 .introduction,#panel5 .introduction{
        margin-top: 360px;
        margin-right: 13.85%;
    }
}
@media(min-width: 1000px){
    #panel1, #panel2,#panel3,#panel4,#panel5{
        background-position:-120px 0px; 
    }
     #panel2 .introduction,#panel4 .introduction{
    margin-top: 394px;
    margin-left:15.5%;
}
    #panel3 .introduction,#panel5 .introduction{
        margin-top: 360px;
        margin-right: 33.85%;
    }
}
@media(min-width: 1200px){
    #panel1, #panel2,#panel3,#panel4,#panel5{
        background-position:0px 0px; 
    }
     #panel2 .introduction{
    margin-top: 394px;
    margin-left:26.5%;
}
    #panel4 .introduction{
    margin-top: 344px;
    margin-left:37.5%
    }
    #panel3 .introduction,#panel5 .introduction{
        margin-top: 360px;
        margin-right: 35.85%;
    }
   
}