*{
    	margin: 0;
    	padding: 0;
    	font-family: 微软雅黑;
    	/*font-size: 71.43%;	*//*使1em变成10px;*/
    }
    li{
    	list-style: none;
    }
    input{
    	outline: none;
    }
    a,a:focus,a:hover{
    	text-decoration: none;
    	font-family: 微软雅黑;
    	color: #ff9d00;
    }
    .clearfix:after{
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		}
		.clearfix{
		*+height: 1%;//清除IE高问题
		}
		.container {
		    width: 91.6%;
		}
   .labels{
			float: left;
			width: 30%;
			margin-top: 4px;
		}
		.labels label{
			line-height: 24px;
			margin-top: 10px;
		}
		.inputs{
			float: right;
			width: 70%;
		}		
		.yanzhengma{
			width: 100%;
			float: left;
			margin-top: 10px;
			text-align: center;
		}
		input{
			border-radius: 4px;
			border:1px solid #eee;
		}
		.login_close,.register_close{
		    display: block;
		    background: #000;
		    color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 90px;
		    position: absolute;
		    right: -14px;
		    top: -14px;
		    font-size: 20px;
		    transition:all 2s ease;
		}
		.login-alert h1,.register-alert h1{
			float: left;
			width: 100%;
			text-align:center;
			font-size: 20px;
			color: rgba(0,0,0,0.8);
		}
		.login-alert, .register-alert {
		    display: none;
		    position: fixed;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    width: 287px;
		    height: 290px;
		    z-index: 30;
		    text-align: center;
		    background: #fff;
		    border-radius: 4px;
		    border: 1px solid #eee;
		    padding-left: 5px;
		    box-shadow: 3px 3px 10px #747474;
		}
		.login_btn_bar,.register_btn_bar{
			    width: 100%;
			    float: left;
			    height: 39px;
			    margin: 0px auto 0 auto;		
		}
		.change{
				position: absolute;
				right: 2px;
				bottom: 2px;
		}
		.login_btn,.register_btn{			
			width: 100px;		
			text-align: center;
			height: 30px;
			border-radius: 4px;
			border:1px solid #eee;
			background: #ff9d00;
			color: #fff;
			margin:7px auto 0 auto;
		}
		.register_btn:hover,.login_btn:hover{
			border:1px solid #ff9d00;
			background: #ea9300;
		}
		
		.changezc,.changedl{
			color:#80afff;
		}
		#weather{
			display: block;
		    height: 50px;
		    line-height: 48px;
		    float: right;
		    font-size: 14px;
		    margin-left: 10px;
		}
		.weather{
			margin-left:4px;
		}
		.form_item{
			padding-left: 10px;
			margin-top: 10px;
			float:left;
			width: 80%;
			height:30px;
			border:1px solid #eee;
			border-radius:4px;
		}
   		.head-logo{
   			height: 49px;
   			line-height: 49px;
   		}
		.navbar{
			background: rgba(0,0,0,0.6);
			height: 50px;
			line-height: 50px;
			border:0;
			z-index: 50;
		}
		.navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-toggle .icon-bar {
		    background: #fff;
		}
		.nav .active{
			background: #ff9d00;
		}
		.nav>li>a:focus, .nav>li>a:hover{
			background:#ff9d00;
		}
		.navbar-nav{
			margin-left: 1.59%;
		}
		.nav-lan {
		    margin: 18px 12px 0 2px;
		    background: #fff;
		    height: 14px;
		    width: 1px;
		}
		.nav_spacer{
			width: 1px;
			height: 14px;
			margin: 18px 0;
			border-radius: 90px;
			background: #8f8f8f; 
		}
		.navbar a,.navbar{
			color: #fff;
			font-size: 17px;
		}
		.service{
			position: fixed;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background: url(../images/service.jpg);
			background-size: cover;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(151,151,151,0.8);
			z-index: 30;
		}
		.service p{
			font-size: 20px;
		    margin-left: 11px;
		    margin-top: 91px;
		}
		.service_close{
			display: block;
			float: right;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border: 1px solid #fff;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			box-shadow: -2px 2px 10px rgba(151,151,151,0.8);
		}
		.maomi_pic{
		    position: fixed;
		    left: -16px;
		    bottom: 45px;
		    z-index: 50;
		    transition:all 1s ease;
		}
		.maomi_eyeout{
			width: 13px;
		    height: 13px;
		    border-radius: 20px;
		    position: absolute;	    
		    left: 42px;
		}
		.maomi_eyeout1{
			top: 24px;
		}
		.maomi_eye{
			background: #000;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    border-radius: 90px;
		}
		.maomi_eyeout2{
			top: 65px;
		}
		.helping_alert{
			width: 100%;
			position: fixed;
			bottom: 0;
			left: -100%;
			padding: 1%;		
			background: rgba(0,0,0,0.7);
			color: #fff;
			z-index: 60;
			transition:all 1s ease;
		}
		.helping_alert_close{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    font-size: 25px;
		}
		.contact_us{
			width: 50%;
			float: left;			
		}
		.contact_us_li{
			width: 100%;
		    height: 2em;
		    line-height: 2em;
		    text-align: center;
		}
		.contact_us_head,.attention_us_head{
			font-size: 20px;
		    text-align: center;
		    margin-bottom: 2%;
		}
		.contact_us_body,.attention_us_body{
			width: 100%;
			float: left;
		}
		.attention_us{
			width: 50%;
			float: left;
			border-left: 1px solid #fff;
		}
		.attention_us_li{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
		}
		.wechat_head,.qq_head{
		    width: 100%;
		    margin-bottom: 1%;
		    font-size: 17px;
		}
		.wechat_ma,.qq_ma{
			width: 100%;
			float: left;
		}
		.wechat_ma img,.qq_ma img{
			width: 60%;
		}
		.register{
			float: right;
			height: 49px;
		    line-height: 49px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login{
			float: right;
		    height: 49px;
		    line-height: 49px;
		    margin-right: 0.4%;
		    width: 40px;
		    font-size: 14px;
		    cursor:pointer;
		}
		.login a{
			margin-right: 0.8%;
			margin-left:  0.8%;
		}
		
		.footer{
			margin-top: 40px;
			float: left;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: #3b3b3b;
			color: #fff;
			font-size: 15px;
			text-align: center;
		}
		.nav-tabs>li>a{
    		line-height:30px;
    		height: 27px; 
    		border:0;
    	}
    	.nav-tabs>li>a:hover{
    		background: #ff9d00;
    		color: #fff;
    	}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    		border:0;
    		background: transparent;
    		color: #fff;
    	}
  		.navbar-collapse{
    		z-index: 20;
    	}
    	.banner{
    		position: relative;
    		background-size: cover; 
    	}
		.banner_word{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 1.5%;
			text-align: center;
			background: rgba(0,0,0,0.6);
			color: #fff;
			font-size: 1.3em;
		}
		.author_info{
			width: 100%;
		}
		.author_left{
		    width: 17%;
		    float: left;
		    padding-bottom: 1%;
		}
		.article_author {
		    padding-top: 0.1%;
		    float: left;
		    width: 65%;
		    padding-bottom: 2%;
		    font-size: 1.2em;
		}
		.author{
			position: relative;
			width: 100%;
			border-bottom: 1px solid #eee;
		}
		.author_pic{		    
		    position: absolute;
		    top: -50px;
		    left: 7%;
		    width: 100px;
		    height: 100px;
		    border: 1px solid #eee;
		    border-radius: 90px;
		    overflow: hidden;
		}
		.author_pic img{
			width: 100%;
		}
		.article_detail{
			font-size: 0.8em;
			color: #b1b1b1;			/*灰色：#b1b1b1*/
		}
		.trip_info{
			width: 100%;
			padding-right: 1%;
			padding-top: 0.5%;
		}
		.trip_info_li{
			float: left;
			border:1px solid #eee;
			padding: 2%;
			transition:all 0.7s ease;
		}
		.trip_info_li:hover{
			background: #ff9d00;
		}
		.myfunction{
			float: right;
			width: 16%;
		}
		.myfunction_li{
		    float: left;
		    width: 49px;
		    border-right: 1px solid #eee;
		    padding-top: 7px;
		    height: 62px;
		    background: #ee7d00;
		    text-align: center;	   
		    transition:all 0.7s ease;
		    position: relative;
		    overflow: hidden;
		}
		.myfunction_li a{
			 color: #000;
		}
		.function_cover{
			width:49px;
			height: 62px;
			padding-top: 7px;
			color: #fff;
			background:#ff9010;		
			position: absolute;
			transition:all 0.7s ease;
			top: 0;
			left: 0;
		}
		.myfunction_li:hover .function_cover{
			margin-top: -62px;
			opacity: 0.5;
		}
		.trip_info .trip_info .glyphicon{
			margin-right: 2em;
		}
		.article_head{
			width: 100%;
			text-align: left;
			font-size: 20px;
			border-bottom: 2px solid #ff9d00;			
  			margin-bottom: 1em;
		}
		.article{
			width: 80%;
			float: left;
			padding-right: 1em;
		}
		.article_title{			
		    width: 100%;
		    text-align: center;
		    font-size: 32px;
		    margin-top: 3.5em;
		    margin-bottom: 2em;
		}
		.article_word{
			font-size: 15px;
			margin-bottom: 10px;
		}
		.article_img{
			width: 95%;
			margin-right: 5%;
			height: auto;
		}
		.article_img img{
			width: 100%;
		}
		.article_li{
			margin-bottom: 20px;
		}	
		.info{
			width: 20%;
			float: right;
			transition:all 1s ease;
		}		
		.travel_info{
			margin-top: 1em;
			width: 100%;
			font-size: 15px;
		}
		.info_title{
			font-size: 1.4em;
		    text-align: center;
		    border-left: 5px solid #ff9010;
		    padding-bottom: 0.5em;
		    margin-bottom: 1em;
		    border-radius: 2px;
		    border-bottom: 1px solid #eee;
		}
		.info_content{
			width: 98%;
			padding-bottom: 60%;
			margin-left: 1%;
			margin-right: 1%;
		}
		.info_content_li{
			width: 100%;
			padding-bottom: 68%;
			position: relative;
			margin-bottom: 1em;
		}
		.info_content_li1{
			background: url(../images/spot1.jpg);
			background-size: cover;	
		}
		.info_content_li2{
			background: url(../images/spot2.jpg);	
			background-size: cover;	
		}
		.info_content_li3{
			background: url(../images/spot3.jpg);
			background-size: cover;		
		}
		.info_content_li4{
			background: url(../images/spot4.jpg);
			background-size: cover;		
		}
		.info_li_title{
			position: absolute;
			bottom:0;
			left:0;
			width: 100%;

			height: 2em;
			color: #fff;
			padding: 0.5em;
			background: rgba(0,0,0,0.5);
			text-align: center;
			transition:all 0.5s ease;
		}
		.info_content_li:hover .info_li_title{
			height: 5em;
			padding: 0.5em;
		}
		.jp-2 button,.jp-4 button{padding:2px 20px; background:#ff8400; color:#fff; margin-left:1em;}
		.jp-2 button:hover, .jp-4 button:hover {
		    padding: 2px 20px;
		    background: #d98800;
		    color: #fff;
		    margin-left: 1em;
		}
	.jp-4{
			border: 1px solid #999;
		    width: 67%;
		    margin-left: 5%;
		}
		.jp-4 h3{
			margin-top:20px;
			margin-left:20px;
			margin-bottom:10px;
		}
		.jp-4 .pp{border:1px solid #999;}
		.jp-4 .jp1{
			width:57px;
			height:50px;
			background:url('../images/pp.jpg') no-repeat -49px 0px;
			float:left;
			margin-top:20px;
		}
.jp-4 .jp2{float:left; width:93%;}
.jp-4 a{
			margin:20px 0 0 54px-
			color:#999;
		}

		.jp-4 a span{
			color:#ff8400;
		}
		textarea{
			margin-top: 10px;
		    width:93%;
		    margin-left: 1%;
		    height:100px;
		}
		.send_comment{
			 margin: 0 50px 0 10px;
		}
		.word_left{
			float: right;
		}
		#comment{
			padding:5px;
		}
		.expressions_bar{
			float: left;
			margin: 3px 50px 2px 9px;
		}
		.word_left{
			float: right;
		}
		.jsi .nav-tabs {
		    border: 0;
		}
		.jsi .page_nav {
		    margin-top: 50px;
		    margin-right:80px;
		    height: 20px;
		    float: right;
		}
		.jsi .nav {
		    padding-left: 0;
		    margin-bottom: 0;
		    list-style: none;
		}
		.jsi .nav-tabs>li {
		    float: left;
		    margin-bottom: -1px;
		}
		.jsi .nav>li {
		    position: relative;
		    display: block;
		}
		.jsi .active1 {
		    background: #ff9d00;
		}
		.jsi .page_nav_li {
		    border: 1px solid #747474;
		    float: left;
		    width: 30px;
		    height: 30px;
		    text-align: center;
		    line-height: 30px;
		    font-size: 20px;
		    border-radius: 4px;
		    margin-left: 20px;
		}
		.jsi li {
		    list-style: none;
		}
		.jsi li a:hover{color:#fff;}
		.jsi li a{color:#ff9d00;}
		.jsi li:hover{background:#ff9d00;}
		.jsi .page_nav.nav li a {
		    padding: 0;
		}
		.jsi .nav-tabs>li>a {
		    line-height: 30px;
		    height: 27px;
		    border: 0;
		}
		.jsi .nav-tabs>li>a {
		    margin-right: 2px;
		    line-height: 1.42857143;
		    border: 1px solid transparent;
		    border-radius: 4px 4px 0 0;
		}
        .jsi .nav>li>a {
		    position: relative;
		    display: block;
		    padding: 10px 15px;
		}
		.jsi .active1 a {
		    color: #fff;
		}
		.jsi .page_nav_li a {
		    background: transparent;
		    border: 0;
		}
		.jsi{
			width: 69%;
			margin-left: 4%;
		}
		.jp31{width:100%; margin-left:20px; height:60px; margin-top:20px;}
		.jp3{width:100%; margin-left:20px; height:60px; margin-top:20px;}
		.jp3 .jp3-1{
            width:57px;
			height:50px;
			background:url('../images/pp.jpg') no-repeat 8px 0px;
			float:left;
			margin-top:20px; 
		}
		.jp31 .jp3-1{
            width: 57px;
			height:50px;
			background:url('../images/pp.jpg') no-repeat 8px 0px;
			float:left;
			margin-top:20px; 
		}
		.head_row {
	    float: left;
	    width: 100%;
	    height: 101px;
	    position: relative;
	    padding-bottom:20px;
		}
		.head-line1{
		    position: absolute;
		    left: 16%;
		    top: 39px;
		    width: 17%;
		    height: 6px;
		    border-radius: 0px 200px 0px 200px;
		    background: linear-gradient(45deg,transparent 0, #ff9d00 100%);
		}
		.head-line2 {
		position: absolute;
		    right: 16%;
		    top: 39px;
		    width: 17%;
		    border-radius: 0px 200px 0px 200px;
		    height: 6px;
		    line-height: 20px;
		    background: linear-gradient(45deg,#ff9d00 0,transparent 100%);
		}
		@media(max-width: 1199px){
			.head-line1,.head-line2{
				display: none;
			}
		}
		@media(max-width: 750px){
			.jp-4 .jp2 {
			    float: left;
			    width: 81%;
			}
			.container{
				width: 100%;
			}
			.info{
				display: none;
			}
			.article{
				width: 100%;
				margin-left: 4%;
			}
			.jsi{
				width: 85%;
			}
			.service{
				display: none;
			}
			.jp-4{
				width: 85%;
			}
			.article_author {
			    padding-top: 0.1%;
			    margin-top: 15px;
			    margin-left: 107px;
			    float: left;
			    width: 23%;
			    padding-bottom: 2%;
			    font-size: 1.2em;
			}
			.author_pic {  
			     top: 33px;
			}
			.article_detail span{
				display: block;
			}
			textarea {
			    float: right;
			    margin-top: 10px;
			    width: 97%;
			    margin-left: 1%;
			    height: 100px;
			}
			.jp-2 button, .jp-4 button {
			    float: right;
			    width: 69%;
			    padding: 2px 20px;
			    background: #ff8400;
			    color: #fff;			 
			    margin-left: 1em;
			    margin-top: 0.2em;
			    margin-bottom: 1.1em;
			}
			.jp-4 a{
				margin:0;
			}
			.article_title {
			    width: 100%;
			    text-align: center;
			    font-size: 32px;
			    margin-top: 4.2em;
			    margin-bottom: 1em;
			}
			.head-line1,.head-line2{
				display: none;
			}
			 .maomi_pic{
			display: none;
		}
		.helping_alert{
			display: none;
		}

		}
		@media(max-width: 530px){
			.footer{
				line-height:25px; 
			}
		}