@import '../styles/common.scss';
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p{
  margin-top: 0;
  margin-bottom: 0.2em;
}
.banner{
  position: relative;
  overflow: hidden;
  .maple{
    position: absolute;
  }
}
.head-title{
  border-left: 12px solid $blue;
  padding:rem(20);
  font-size:20px;
  font-weight: bold;
  box-shadow: rem(-2) rem(2) rem(10) #666;
  margin-bottom: rem(24);
}
.content-container{
  border: 1px solid $grey;
  padding: rem(20);
}
dt{
  margin-top: rem(10);
  margin-bottom: rem(16);
}
dd::before{
  content:'○';
  padding-right:rem(10); 
  font-size: 10px;
}
.split-line {
  border-bottom: 1px dashed $grey;
  margin: rem(40) 0;
}
.session-head{
  font-weight: bold;
  margin-bottom: rem(16);
  font-size: 18px;
}
.NoteTip{
  color: $orange;
  margin: rem(20) 0;
  font-size: 14px;
}
.CodeSession {
  width: 100%;
  margin: rem(15) 0 rem(15);
  padding: rem(20);
  border: 0;
  border: 1px dotted $green;
  background: $lblue;
  line-height: 1.4;
  font-family: Consolas;
  .Indent{
     margin-left: rem(20);
     @extend p;
  }
}
.imgWrap{
  margin: rem(20) 0;
  width: 100%;
  img{
      max-width: 100%;
  }
}
.ant-layout-sider-zero-width-trigger{
    top: 100px;
    right: -24px;
    width: 24px;
    height: 38px;
    line-height: 38px;
    background: #1890ff;
}
.resultArea{
    background: $yellow;
    border:rem(10) solid $grey;
    padding: rem(30);
    margin-top:rem(20);
    margin-bottom: rem(20);
    border-radius: rem(10);
    .resultWord{
      margin-bottom: 10px;
  }
}

.step-wrap{
  position: relative;
  .ant-steps-vertical {
    position: absolute;
    top: -114px;
    left: 291px;
  }
  .ant-steps-item-title:after{
    display: none;
  }
  .ant-steps-horizontal{
    margin-bottom: rem(200);
    margin-top: rem(200);
  }
  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
    white-space: initial;
  }
  .ant-steps-item-icon, .ant-steps-item-content{
    display: block;
  }
}